[2016-05-12 03:53] dottorer commented on #249
@phillipoertel looking great in app.

1. It seems to not detect changes to location or task organizer.
2. When changing task organizer can we email the old and the new organizer?

[2016-05-12 03:59] dottorer commented on #249
3. Changing things like tipos might be too chatty when send emails to everyone. Could we have a clean and friendly message "You have changed xxx, yyy and zzz. Do you want to notify the interested helpers about this change?" And only the send out email? Let me know what you think @phillipoertel

[2016-05-12 04:01] dottorer commented on #238
Reworked the page structure to achieve this. Closed.

[2016-05-12 04:01] #238 closed

[2016-05-12 04:12] dottorer commented on #298
@phillipoertel i am used to solution 2 but also well aware of the complexities surrounding time zone. We would need to ensure that reminders are triggered at the correct time etc. (always 8am for the day to come).

I think the quickest might be for now ti focus on CET but kets briefly discuss the gem for option 2 today.

[2016-05-12 06:30] phil-monroe commented on #53
- [x] _with the new 'Documents' in the leftnav (aka the doc center), we dont need it in the circle admin pages anymore. Admin can add / edit files in the doc center direclty. Docs added here will be on the circle scope. Normal helper can only view docs here._

- [x] _all docs (files or links) should open in a separate tab. The default browser action per doctype should be called upon._
  - By defau

[2016-05-12 11:51] dottorer commented on #249
@phillipoertel Tested mail merge variable, upgrade EN, DE and FR mailchimp templates. Looks good.

[2016-05-12 16:09] phillipoertel commented on #249
@dottorer we could place a checkbox "send notifications" next to the save button on the task form, checked by default. That would be a technically simple, non-intrusive way to solve the problem. If we do the modal, it will require two clicks on _every_ save.

[2016-05-12 16:11] phillipoertel commented on #249
I'm happy to add the sweet alert gem though, we'll need it in other places anyways.

[2016-05-12 16:13] phillipoertel commented on #249
Third option: have two buttons for saving (comparable to the Github commenting buttons):
[Save] [Save (without sending notifications)]

[2016-05-12 17:15] phillipoertel commented on #295
@dottorer I just fixed the empty status problem on the circle role. Tested it locally with a copy of the production data, active and pending status are now set correctly.

[2016-05-12 18:53] dottorer commented on #295
Great - that's good to know.

[2016-05-12 19:00] dottorer opened #324 "Cannot open file in work group"
Getting error in Circle 3 in staging trying to open file https://staging.lale.help/files/257ee20d-22f9-4326-8c81-d5960f4c83e6

[2016-05-13 04:52] dottorer commented on #314
Could not reproduce since. Closing for now...

[2016-05-13 04:52] #314 closed

[2016-05-13 09:19] phillipoertel opened #325 "Lale Bot mixes languages on Task changes: “Ralf changed Anzahl ...“"
as mentioned by @dottorer via email:

---

Hmmm, Lalebot should only and consistently speak in the language of the circle. Seems like the field label is in German, but the sentence is not.

@Phillip, can we verify this?

---

[2016-05-13 09:27] phillipoertel commented on #325
@dottorer fixed and testable on staging.

[2016-05-13 09:32] phillipoertel opened #326 "USABILITY: Missing Number of Projects"
Add number of projects behind "Projects" in sidebar

[2016-05-13 09:36] phillipoertel commented on #325
![bildschirmfoto 2016-05-13 um 11 33 41](https://cloud.githubusercontent.com/assets/5188/15243868/927bff34-18fe-11e6-83d5-faa6146fb640.png)

This is what the text looks like in German now. If you take offense at the grammar (missing article), I could change the German translation for tasks.auto_comment.updated to "%{user} hat folgende Felder geändert: %{changed_fields}".

[2016-05-13 10:40] dottorer commented on #249
the checkbox is a good solution...let's go with that for now. But I think we need to differentiate it from the rest of the update field by thin line or something as it is only guidance field, not a stored value.

And of course we want the sweet alert ;-)

[2016-05-13 13:49] phillipoertel commented on #326
@dottorer can be reviewed on staging (make sure projects in private working groups are counted correctly).

[2016-05-13 14:41] dottorer opened #327 "Location is not copied when using 'copy task'"
We always use the default location of the circle. It should carry forward the source task location.

[2016-05-13 16:31] phillipoertel commented on #249
What's left to do:

* also create a comment when the location or organizer changes; currently changes there aren't picked up
* @dottorer has decided on the "two buttons" solution for update notifications; i.e. have one button with [Save] and the other [Save and notify] below the task. This still needs to be implemented.

[2016-05-13 16:34] phillipoertel commented on #302
What's left to do:

* columns of the tables need to be aligned properly
* only allow blocking a working group when no incomplete tasks and supplies remain (show a warning message instead, similar to blocking a user)

[2016-05-14 06:27] dottorer opened #330 "Make project begin and end date enterable"
Instead of deriving the project begin and end date from the included tasks and supplies, we should let the organizer set them specifically as project properties.

We can then display a warning of an included task / supply has a date outside this range (but still allow it).

[2016-05-14 06:38] dottorer opened #331 "Include more file info in edit page"
When editing an uploaded file, we should show the file details such as:

full file name including extension
file size

![image](https://cloud.githubusercontent.com/assets/14217285/15266739/12b56b76-19af-11e6-9bdb-501da66ad13f.png)

Otherwise users cannot really identify the true file content.

[2016-05-14 06:49] dottorer opened #332 "Nit: Lalebot comments should not be counted in task list view"
![image](https://cloud.githubusercontent.com/assets/14217285/15266808/9ec17c76-19b0-11e6-8846-a2e1997963f3.png)

Only real user comments should be tracked as commentary in the task listing view. This is intended to show how much people go back and forth on a task, not how much the Lale bot chats...

[2016-05-18 04:30] dottorer commented on #324
Fixed by @phillipoertel last week...

[2016-05-18 04:30] #324 closed

[2016-05-18 04:37] dottorer commented on #307
@phil-monroe This includes offering the 'Documents' tab for tasks. To do so, we need to restructure the edit view of tasks a bit to be a tabbed view. Similar to what we have now for working groups, we need to offer:
![image](https://cloud.githubusercontent.com/assets/14217285/15347512/9e0a2e4e-1cc2-11e6-8d1a-091613d2ed49.png)

1. Tab: Task Info (with save button)
2. Tab: Helpers (ability for organ

[2016-05-18 04:38] dottorer commented on #326
LGTM.

[2016-05-18 04:38] #326 closed

[2016-05-18 04:39] dottorer commented on #325
LGTM

[2016-05-18 04:39] #325 closed

[2016-05-18 04:41] dottorer opened #335 "Lale-bot to insert comments on SUPPLY status changes"
Similar to #298 we need to implement Lalebot comments also for supplies.

[2016-05-18 04:43] dottorer commented on #243
Works great!

[2016-05-18 04:43] #243 closed

[2016-05-18 04:43] dottorer commented on #240
Working in STG now....

[2016-05-18 04:43] #240 closed

[2016-05-18 04:44] dottorer commented on #209
Finally completed in all templates for DE, EN and FR....

[2016-05-18 04:44] #209 closed

[2016-05-18 04:45] dottorer commented on #85
No longer needed....closing.

[2016-05-18 04:45] #85 closed

[2016-05-18 04:46] dottorer commented on #53
This is working well now in PROD. Thanks @phil-monroe !!!

Tracking all further work on documents in separate issues...

[2016-05-18 04:46] #53 closed

[2016-05-18 04:49] dottorer opened #336 "Add documents to supplies"
Similar to #307 (see spec here), we need to allow documents on supplies.

[2016-05-18 04:49] dottorer opened #337 "Add documents to projects"
Similar to #307 (see spec here), we need to allow documents on projects.

[2016-05-18 04:55] dottorer commented on #141
Re-opening this to get done outside of #104 since it is such an urgent user request.

**PART 1:**
When switching to a tabbed view on task edit (in #307), we need to introduce a tab called 'Helpers' which allows the work group / task organizer to select helpers to assign them for the task.

A) for open group, they can pick any helper in the circle
B) for closed groups, the can only pick group membe

[2016-05-18 04:59] dottorer commented on #141
@phil-monroe This is in the ball park of reworking the task edit in #307 and it would be a huge help to introduce this ability. Every group organizer has basically asked for it by now and I was hoping to do a complete rework of the 'invite' function but that is too much work so I am hoping to get this in earlier. Doable?

[2016-05-18 05:21] dottorer opened #338 "Show documents as tiles, add/edit them in 'settings mode'"
Right now we provide a slightly inconsistent UX flow to interact with documents. This blends the ability to edit documents (for an organizer) with the display / viewing of documents for regular helpers. Here is how to clean that up.

**Part 1: Offer tiled view on work group tab**
Normal user would like to see documents in a more visual form:
![image](https://cloud.githubusercontent.com/assets/1421

[2016-05-18 05:23] dottorer commented on #338
@phil-monroe adding this improvement in UX to the file work for you review. Let me know what you think....

[2016-05-27 20:08] NolanChan commented on #260
Nevermind, the tests have been skipped, as they are not working. Will try to start fresh during one of our collaboration meetings with Code 4 Good

[2016-05-30 06:36] dottorer commented on #295
Closing - this works now.

[2016-05-30 06:36] #295 closed

[2016-05-30 07:22] dottorer opened #339 "Leftnav improvements"
Users have reported issues in understanding our leftnav organization. I am proposing a revision of that as outlined in:
https://docs.google.com/document/d/1JcJGup4qTUIyPdqLZTJ8AMLjHJm_jPhX9RBaKMpWnec/edit

[2016-06-02 04:57] dottorer commented on #80
@kristysnet Hi Kristy, this is coming up frequently from user and hopefully something we gould do quickly. What do you think?

[2016-06-03 06:11] dottorer commented on #298
This is all complete - working nicely! Thank you!

[2016-06-03 06:11] #298 closed

[2016-06-03 06:28] dottorer opened #341 "Volunteer count is showing negative when oversubscribing task"
While technically correct, it is confusing to show negative needed volunteers:
![image](https://cloud.githubusercontent.com/assets/14217285/15770588/2a047bf8-2965-11e6-84a6-0ae5e2347921.png)

If the task is fully allocated, we should show "0 volunteers needed".

[2016-06-03 12:51] dottorer commented on #141
@phillipoertel Putting this up for discussion on Monday for the next sprint as part of #104. Let's find out what can best be built...

[2016-06-04 07:51] dottorer opened #342 "Do not show task that are part of projects in circle / workgroup task list"
Projects tend to include many tasks, but they are mostly confusing out of context of the project. We should therefore not show them on the main task list on the circle or work group. Each of these views have a tabbed homepage that also list projects and therefore in-project tasks can be found there.

[2016-06-05 15:11] dottorer opened #343 "Ability to add interested parties to tasks"
Sometimes there is a need to inform someone about a task although they are not the organizer or assignee. This is typically done with an @name reference in the message text. But it can also occur manually by adding IPs to the task thread.

**Part 1: "@referencing"**
Allow the @name referencing in the message text. When typing the "@" symbol in the textbox, a drop down list of name should appear.
!

[2016-06-06 10:28] phillipoertel commented on #280
Add organizer field to create a work group form; initially blank, but one circle member must be chosen.

[2016-06-06 12:26] dottorer opened #344 "Remove 'register' link from PROD landing page"
The current start page app.lale.help offers the 'register' option which then also allows the creation of a brand new circle. This is not a supported flow yet, so we need to suppress it (in PROD, this is ok in DEV).

![image](https://cloud.githubusercontent.com/assets/14217285/15821743/0d710e0e-2bf2-11e6-83ca-6bf027b99387.png)

Instead we should say "Don't have an account? **Contact us** to create

[2016-06-06 12:27] dottorer commented on #344
This change is necessary since we are going to include the link to 'app.lale.help' as part of the top nav from Lale.help main website.

[2016-06-06 14:18] phillipoertel commented on #280
Ticket is implemented and testable on staging!

[2016-06-06 14:59] phillipoertel commented on #344
Implemented, but not testable on staging since it is (per spec) only visible on production (and development environments).

[2016-06-06 17:00] phillipoertel commented on #249
Tracking changes on location, organizers (and volunteers) is implemented and on staging.
Will implement the "two buttons" solution next (tomorrow).

[2016-06-06 17:11] dottorer commented on #327
@phillipoertel now that we have track changes on location, does this come essy to do?

[2016-06-06 18:22] phillipoertel commented on #327
Its easy anyhow; I'll fix it this session.

Von unterwegs gesendet, deswegen kurz und evtl. mit Tippfehlern

[2016-06-07 12:23] phillipoertel commented on #249
@dottorer "two buttons" solution is done, completing this story. Testable on staging!
Let me know if you would like to colorize the buttons differently.

[2016-06-07 12:26] phillipoertel commented on #302
@dottorer I'll finish this one now.

[2016-06-07 14:53] phillipoertel commented on #302
@dottorer Done and testable on staging!

[2016-06-07 17:19] phillipoertel commented on #327
@dottorer Not as easy as I thought, but still fixed and testable on staging :-)

[2016-06-08 04:56] dottorer opened #345 "Add more usage statistics for logins"
To better track how the system is used, we should store not only last login, but number of logins over time. Either in total or by individual login date so we can see ebb and flow.

This is for Lale owner only for now, maybe later also exposed to circle admins.

[2016-06-08 08:39] dottorer commented on #344
@phillipoertel thinking this through, I might need to add a way in PROD to create a brand new circle for new signed up groups. Seems like I locked myself out of this option :-)

[2016-06-09 10:47] phillipoertel commented on #141
@dottorer do you consider the assignment of a volunteer as a task change, i.e. should all existing volunteers be notified of the change?

[2016-06-09 10:50] phillipoertel commented on #141
@dottorer please ignore the last comment. That behavior already exists (other volunteers _are_ notified), so I won't change anything about it.

[2016-06-09 13:14] dottorer opened #346 "Enable tablesorter on grid columns"
It is desired to sort the Helper List grid by column in the heading. Looks like we have the TableSorter included already, but not exposed visually in the app. We should offer this up in the helper list and organizers list grid for now.

[2016-06-09 13:15] dottorer commented on #346
FYI: @phillipoertel found the TableSorter being included already and has some ideas on how to leverage it.

[2016-06-09 14:24] phillipoertel commented on #346
@kristysnet FYI here's how to install JS stuff with bower: https://github.com/lale-help/lale-help/#adding-javascript-packages--dependencies. Bower was already used for a few dependencies, I was able to change all except OpenLayers to be installed through it.

[2016-06-09 14:27] phillipoertel commented on #346
@kristysnet btw. there may be better ways to manage dependencies with bower, but I got this to work with my limited experience with frontend build & dependency management tooling ...

[2016-06-10 08:49] dottorer commented on #299
Deferring any thinking on forum for now. We should focus on content delivery with our documents feature...

[2016-06-10 08:49] #299 closed

[2016-06-10 08:50] dottorer commented on #265
Closing as it will be taken care of in the rework of #339

[2016-06-10 08:50] #265 closed

[2016-06-10 12:48] dottorer opened #349 "Centralize primary actions on objects into drop down menu"
We have quite a few action buttons to change state of our core objects like tasks and working groups. This leads to user confusion and real estate clutter. We should clean it up as follows:

**TASKS**

Offer one central button for 'Edit' on each object which then unfolds a drop down menu with option:
![image](https://cloud.githubusercontent.com/assets/14217285/15964684/021b8540-2f1a-11e6-9039-24dc

[2016-06-10 12:58] dottorer commented on #349
**SUPPLIES**

Analogous to tasks, this is how supplies look:
![image](https://cloud.githubusercontent.com/assets/14217285/15965016/bf30ab3c-2f1b-11e6-8df5-0fc7011524f4.png)

![image](https://cloud.githubusercontent.com/assets/14217285/15965020/c8985058-2f1b-11e6-86ec-0417babc22b2.png)

[2016-06-10 13:07] dottorer commented on #349
**WORKING GROUPS**

Due to the more complex process flow, the main create - deactivate - delete options will remain only available to the admin in the admin console:

![image](https://cloud.githubusercontent.com/assets/14217285/15965209/ca8d9c46-2f1c-11e6-8aa4-8e8030a24c7a.png)

Therefore the working group has only the 'Edit' option:

![image](https://cloud.githubusercontent.com/assets/14217285/15

[2016-06-10 13:19] dottorer commented on #349
**PROJECTS**

Here we only have the 'invite by email' option on the project level and should include it directly on the page:

![image](https://cloud.githubusercontent.com/assets/14217285/15965494/81bdbb34-2f1e-11e6-9235-4d9014868f59.png)

Edit takes you directly to the edit screen with 2 buttons:

![image](https://cloud.githubusercontent.com/assets/14217285/15965511/aed015e0-2f1e-11e6-924e-eff24e

[2016-06-10 19:40] phillipoertel commented on #141
@dottorer I made good progress on the sourcing rework. The assign task feature is still missing the mandrill template but I believe it should be done on my part, and can be tested on: https://lale-help-stg-pr-348.herokuapp.com/circles/1/tasks/1.
Make sure to create all three mailer templates {de,en,fr}/task/task_assigned before testing, otherwise nothing will happen because the backend throws an e

[2016-06-10 19:41] phillipoertel commented on #141
![bildschirmfoto 2016-06-10 um 21 41 15](https://cloud.githubusercontent.com/assets/5188/15976593/14133e70-2f54-11e6-9983-16aee2305a00.png)
And how could anything go wrong with these volunteers? ;-)

[2016-06-11 05:20] dottorer commented on #341
@phillipoertel is cleaning this up in his feature work already...

[2016-06-11 05:25] dottorer commented on #307
Not sure @phil-monroe has time to tackle this but it would be another real needed use of docs. Adding for @kristysnet to look at...

[2016-06-11 05:26] dottorer commented on #312
Maybe something to look at towards the end of week...

[2016-06-11 05:27] dottorer commented on #330
Really small one to do but requested by users...

[2016-06-11 06:55] dottorer commented on #141
en/fr/de temapltes for /task/task_assigned are created.

Note: it should actually always fall back to the en template without error if the others are not found. Does that not that way?

[2016-06-11 07:02] phillipoertel commented on #141
Strange; I'll have to check that on Monday. The implementation isn't any different from the other mailers, so it should just work.

[2016-06-13 08:57] dottorer commented on #80
@kristysnet Small nit: when I edit a comment and change '1111' to '2222', but then hit cancel, I am taken out of the edit dialog (correct). When I hit edit again, the value shown i now '2222', but it should still be '1111' since we cancelled out. Can we fix that?

[2016-06-13 09:16] dottorer commented on #339
TODO LIST for us to check off items as this work in completed:

Leftnav:
- [ ] add a ‘Homepage’ link here
- [ ] segment header for ‘Overviews’
- [ ] Helper List is a link to a page with 2 tabs: “All Helpers” and “Organizers”

Circle homepage:

- [ ] add description to circle definition and display on dashboard (similar to working groups)
- [ ] use tabbed page layout for Tasks, Supplies and Project

[2016-06-13 09:35] dottorer commented on #236
TODO checklist for Circle homepage:

- [ ] add description to circle definition and display on dashboard (similar to working groups)
- [x] use tabbed page layout for Tasks, Supplies and Projects.
- [ ] show circle level stats of (as we do on projects today):
-- [ ] number of helpers in circle
-- [ ] Tasks (open / urgent / completed)
-- [ ] Supplies (open / urgent / completed)
- [ ] remove circle l

[2016-06-13 10:32] dottorer commented on #302
@phillipoertel Tested in STG - works perfectly - awesome!!!

[2016-06-13 10:32] #302 closed

[2016-06-13 10:33] dottorer commented on #280
@phillipoertel  tested in STG - works perfectly...

[2016-06-13 10:33] #280 closed

[2016-06-13 10:45] dottorer commented on #249
@phillipoertel tested in STG - working well.

Styling of button we can consider with the new layout of the task with the sourcing options...

[2016-06-13 10:45] #249 closed

[2016-06-13 10:49] dottorer commented on #327
@phillipoertel Tested in STG - LGTM!

[2016-06-13 10:49] #327 closed

[2016-06-13 10:52] dottorer commented on #335
@kristysnet Looking great - merged and deployed! Thanks!

[2016-06-13 10:52] #335 closed

[2016-06-13 11:07] dottorer commented on #339
@kristysnet the leftnav looks great and is done (with #236 still WIP). I think it is a great improvement!

I had another request which I think is helpful. Could we move the 'Add' button into the leftnav and make the drop down menu unfold on the right?

![image](https://cloud.githubusercontent.com/assets/14217285/16005437/922b8d8e-3167-11e6-8b3f-a161160946bb.png)

If that's feasible, I would really

[2016-06-13 12:32] dottorer opened #353 "Allow to invite helpers by name"
Based on the new sourcing feature in #104, we should provide the ability to send an invite email only to select members of the working group or circle. This would be a third option in the 'Invite' section and would reveal a drop down prompt (exact same logic as in the 'assign' prompt above it).

[2016-06-13 13:41] dottorer commented on #302
@phillipoertel Related nit: could we move the 'create new WG' button into the section for active groups and style it as follows:
![image](https://cloud.githubusercontent.com/assets/14217285/16009501/4056807a-317d-11e6-8ace-018a22bbad82.png)

[2016-06-13 13:44] dottorer opened #354 "Re-order comments section"
We should re-order the layout of the comments section as follows:
![image](https://cloud.githubusercontent.com/assets/14217285/16009547/7cdb8036-317d-11e6-8cff-464c4fbc1970.png)

- style frame around the whole section
- Move the entry field 1st, 'post' button under it
- show newest 5 comments sorted by post date desc.
- show 'show all comments' option underneath.

[2016-06-13 16:11] phillipoertel commented on #104
Unassigning can now be previewed on the review app. It won't work until the mailer template en/task/task_unassigned is created, though.

[2016-06-13 17:13] dottorer commented on #104
task_unassigned templates are done and pushed to Mandrill. Will test unassign feature next.

[2016-06-14 14:42] phillipoertel commented on #349
- on working group: add button to join.
- on project: add "Find helpers" button with modal (invite options only in modal)

[2016-06-14 16:21] phillipoertel commented on #104
@dottorer merged and deployed on staging. Some German translations are missing, let me know if they should be there, then we'll investigate.
![bildschirmfoto 2016-06-14 um 18 20 49](https://cloud.githubusercontent.com/assets/5188/16050689/dfaa10b2-325c-11e6-8308-d7296f6adcda.png)

[2016-06-14 16:22] phillipoertel commented on #104
@dottorer some i18n keys have changed though, so maybe all is good.

[2016-06-14 17:06] phillipoertel commented on #354
@dottorer this can be reviewed on staging as well.

[2016-06-15 10:02] phillipoertel commented on #342
Thanks to Rails scopes I could implement this in 15 minutes; testable on staging.

[2016-06-15 11:14] dottorer opened #357 "track last login also for token based logins"
Right now we only account for sign-on page logins, but not for token logins. We need to touch the current user also for token logins.

[2016-06-15 11:18] dottorer opened #358 "Enhance seed script for review apps"
Currently we only have 1 WG and 5 users plus 1 admin. We should create a second, private WG and split the users between them. Also we should point them to user1-10@lale.help.

[2016-06-15 11:18] dottorer commented on #358
@phillipoertel something for Friday....

[2016-06-15 12:29] dottorer commented on #354
LGTM - nicely done!

[2016-06-15 12:29] #354 closed

[2016-06-15 12:36] dottorer commented on #341
Works correctly in new sourcing approach now...

[2016-06-15 12:36] #341 closed

[2016-06-15 12:38] dottorer commented on #104
@phillipoertel added translations for DE and tested in staging - looking great so far. This is a major new feature and improvement to the platform and I am very excited we got it in now. Will close as 'awesome' now and potentially open bug issues if they arise....THANKS!

[2016-06-15 12:38] #104 closed

[2016-06-15 12:39] dottorer commented on #141
Completely delivered in #104

[2016-06-15 12:39] #141 closed

[2016-06-15 13:25] dottorer commented on #339
Hi @kristysnet Phillip and I are preparing for PROD push on Thursday so we have a chance to respond to issues on Friday while I still have him on deck. Let me know if this button reshuffle could still fit in...

[2016-06-15 15:53] kristysnet commented on #80
This should be done now. Please reopen if there is anything else needed.

[2016-06-15 15:53] #80 closed

[2016-06-15 15:54] dottorer commented on #80
@kristysnet Done and done and awesome - thanks!

[2016-06-15 15:55] kristysnet commented on #339
@dottorer I put up a PR for the button moving: feature/move_add_button #361
I haven't looked at it in anything except chrome yet. I should be able to look at it in other browsers later this afternoon. If you could take a look at it in mobile, that would be helpful.

[2016-06-15 16:06] dottorer commented on #339
Looked at it in the rev app - nice. Some styling:

* center it in the area (gives bit more space underneath it),
* orange outline for the drop out,
* little sliver of space between drop out and the button
* maybe tiny drop shadow...

[2016-06-15 16:21] dottorer commented on #339
For reference, somewhat like this, just to the right of it. We might also replace the (+) icon with a small arrow pointing to the right.

![image](https://cloud.githubusercontent.com/assets/14217285/16088109/de32b9fe-3325-11e6-8e34-45e6a2e330ae.png)

bit spacing between the drop menu, light shadow, etc...

[2016-06-16 07:07] phillipoertel commented on #349
@dottorer except for the project invite options everything should be implemented & testable on the review app. I'm also interested if you are OK with the layout consolidations of the circle, working group and project dashboards -- they now look almost the same since I unified the CSS. You could already have a look and give me feedback when you find the time.

[2016-06-16 07:08] phillipoertel commented on #349
Review app: https://lale-help-stg-pr-362.herokuapp.com/

[2016-06-16 12:35] dottorer opened #363 "For inactive working groups, the organizer role is also inactive"
When a helper is organizer of an inactive group, the 'Add' button is still shown and causes the add action to fail. We need to not show the 'Add' button to users unless they are the organizer of an active work group.

[2016-06-16 13:42] dottorer commented on #339
Looking very good now!

@kristysnet Sincde @phillipoertel was working on centralizing the 'edit' actions on our primary objects into a button, we united the styling based on yours and merged it all together. All further work should be off the final version on master.

[2016-06-16 13:42] #339 closed

[2016-06-16 14:55] dottorer commented on #287
Looking great! We might add a tiny bit more space underneath the icon + heading and the descr field...

[2016-06-16 14:55] #287 closed

[2016-06-16 22:51] kristysnet commented on #346
@dottorer and @phillipoertel I took a quick look at this today. It doesn't look like the blue theme was actually loaded (hence the arrows not showing).
I've attached a screenshot of what the helper page looks like with the theme loaded. Let me know what you guys think. I can make adjustments if needed (like actually using the lale font, etc.)
![screen shot 2016-06-16 at 3 49 06 pm](https://cloud.g

[2016-06-17 11:17] dottorer opened #365 "Add google analytics tracking ID to app.lale.help"
The analytics ID is UA-69286385-2, the snippet is:

[code]

[2016-06-17 12:31] dottorer commented on #344
Works like a charm in PROD!

[2016-06-17 12:40] dottorer commented on #349
Done and deployed - looks awesome! Thanks you!!!

[2016-06-17 12:40] #349 closed

[2016-06-17 12:40] dottorer commented on #342
Done and LGTM!

[2016-06-17 12:40] #342 closed

[2016-06-17 12:55] dottorer commented on #346
@kristysnet looks like we need to get into the styling here. Let's defer this for now and bring it to life in 2 weeks when phillip is back.

[2016-06-17 12:56] dottorer commented on #236
@kristysnet I think we have a good state right now and can close this one out. We might do another iteration later based on user feedback....Thanks you!!!

[2016-06-17 12:56] #236 closed

[2016-06-17 13:01] dottorer commented on #307
@kristysnet Hi Kristy, this would be the next most important feature on the list, but I need to update the spec in order to align with the latest usability of the platform. I think I will have that by monday, so stay tuned :-)

[2016-06-17 13:03] dottorer commented on #227
@kristysnet Adding this one into the mix. It would be really neat to have the helper photo finally in the platform. Maybe talk to  @phil-monroe to get a sense of how to do this best and what the effort would be. Seems like every platform has this so likely there are existing gems to handle all the imagery stuff....

[2016-06-18 08:07] dottorer opened #366 "Assign helper function adds same helpers twice"
If I clicked instead of once several times on the button “Helfer eintragen” (user fault), first nothing happens, but after a few seconds all Helpers I assigned in the box appear as often as I have clicked on the button. For example I assigned 3 Helpers A,B, C and left mouse click (on pad)  the button 4 times, then it appears A,B, C, A,B, C, A,B, C, A,B, C, as helpers.

We can also asdign the same

[2016-06-18 08:13] dottorer commented on #366
![image](https://cloud.githubusercontent.com/assets/14217285/16169840/4d301590-353d-11e6-9163-f60268080685.png)
![image](https://cloud.githubusercontent.com/assets/14217285/16169841/4d51359a-353d-11e6-908d-e8bf697fadcd.png)

[2016-06-18 10:11] phillipoertel commented on #366
Thanks for reporting, I'll have a look at it later today.

Von unterwegs gesendet, deswegen kurz und evtl. mit Tippfehlern

[2016-06-18 21:11] phillipoertel commented on #366
I fixed this by disabling the button after the first click, then updated staging and production.
I want to investigate at a later point why multiassign is possible, however. The backend should prevent this with the following line: https://github.com/lale-help/lale-help/blob/master/app/mutations/task/assign.rb#L12.

[2016-06-19 15:12] dottorer commented on #366
I tested this solution and it works well with the button turning grey and showing the label that it is actively doing something. Also, I verified that you in fact CANNOT add yourself again by using the email link. This was always the case since users could have clicked on the same email button 5 times. It is strange that this is even possible through the UI though...

[2016-06-19 15:12] #366 closed

[2016-06-20 12:32] dottorer opened #367 "Error trying to create first WG for new circle"
When creating a new circle, I am trying to setup an initial working group. I get the following error:

https://rollbar.com/lale-help-stg/lale-help-stg/items/121/

This is halting me for a demo setup right now, could we take a look and see if I can overcome it somehow?

[2016-06-20 22:26] phillipoertel commented on #367
Just fixed the bug, pushed to master and deployed to staging. Please deploy master to production via the heroku dashboard if you are happy with it, or let me know when I should do it.

[2016-06-21 08:23] dottorer commented on #367
@phillipoertel tested in STG looking good. Could you deploy to PROD for me? Thank you for fixing it so promptly...

[2016-06-21 08:23] #367 closed

[2016-06-21 08:25] diegoaad commented on #258
assigning this to nolan as he's already working on other task related specs

[2016-06-25 12:25] dottorer commented on #307
@kristysnet : I have finally completed the new spec for how documents can be integrated into the tasks: https://docs.google.com/document/d/1q0MpFsywkutyH00JV_YbKpxWkydAzlIOVrbSzPKltJU/edit#heading=h.o6t0u0dlv95w

Check out the section named 'Adding / Viewing / Editing / Removing Documents' and let me know if this flow is clear and doable.

I also think this somehow cleans up #338 which I assigned

[2016-06-28 10:19] dottorer opened #372 "Pending users are shown in prompt for work group organizers."
Pending users should NOT be able to be selected as WG organizers...

[2016-06-30 06:54] dottorer opened #373 "Feature: provide banner ad space for sponsors of a circle"
The subscription fee for the Lale platform usage of a helper circle can be paid by a sponsor. As a result, sponsors can show their company logo inside the Lale platform as a banner ad.

See detailed specs here: https://docs.google.com/document/d/16z30iSQjoMWuf6_EoK_fFRrD3q-jsrD4CnKFDijqPm4/edit

#### Technical breakdown / checklist

###### Create Sponsor model
- [x] Name (required)
- [x] URL (opti

[2016-07-01 07:13] dottorer opened #374 "Bug in Find Helpers, when clicking 'assign' but with no selected helpers"
In the modal for Find Helpers, if we do NOT select any helpers, but click the 'assign' button, it gets stuck.

[2016-07-03 01:53] NolanChan commented on #372
@dottorer I assume you mean "Pending users should **_not_** be able to be selected as WG organizers?

[2016-07-04 07:19] dottorer commented on #372
@NolanChan Sorry! That's a terribly misguiding tipo - you are of course correct that they should not appear....

[2016-07-04 08:44] dottorer commented on #344
@phillipoertel Need to re-open since we need to find a way for us as platform operators to create a new circle instance for new customers. I am not sure I can get onto the active admin console.

Let's discuss today...I have a pending request for a PROD circle :-)

[2016-07-04 13:02] phillipoertel commented on #344
@dottorer after logging in you should have a link to "Lale Admin" in the top right user dropdown menu. That would be one way of creating a circle, but it would require some adaptations in the admin.
alternatively we could just show the previous create "new circle" link to lale admin users. that would probably be faster, but you'd always end up in the circle as well, I guess.

[2016-07-04 22:12] phillipoertel commented on #365
Tracking is set up for staging and production. Still missing though: a separate Id for staging, so we can test integration correctly before going live. For now I write a log message to the browser's console whenever a new pageview gets submitted to GA so we can test; this can be removed later.
For further insight, the Chrome extension "GA Debug" may be useful: https://chrome.google.com/webstore/de

[2016-07-04 22:17] phillipoertel commented on #373
Additional comments / requirements:
- make sure leftnav isn't obstructed (circles with many groups)
- check responsiveness / mobile
- if a circle has multiple sponsory, rotate logos per page request
- sponsorship period should be adjustable (start YYYY-MM-DD to end YYYY-MM-DD)

[2016-07-04 22:19] phillipoertel commented on #373
Do sponsors get to leave an URL, i.e. do we link the logo to their page?

[2016-07-04 23:18] phillipoertel commented on #357
Implemented and testable on staging.

[2016-07-04 23:19] phillipoertel commented on #372
Testable and deployed on staging.

[2016-07-05 04:39] dottorer commented on #373
@phillipoertel: we should store a URL for the sponsor and linkfrom the logo to it.

[2016-07-05 07:40] dottorer opened #377 "Add google analytics tracking id to staging.lale.help"
Related to #365, the analytics ID for staging is UA-69286385-3.

[code]

[2016-07-05 07:41] dottorer commented on #365
@phillipoertel Added separate tracking ID for staging in #377 . Both sites have referral exclusion setup mutually so we should get clean hits.

[2016-07-05 12:58] dottorer opened #378 "Nit: show number of projects and docs in work group"
Similar to tasks and supplies we should show the number of projects and docs in the header:
![image](https://cloud.githubusercontent.com/assets/14217285/16585385/e83d98f6-42c0-11e6-8dad-236cbca029e2.png)

[2016-07-05 13:17] dottorer commented on #377
LGTM!

[2016-07-05 13:17] #377 closed

[2016-07-05 13:18] dottorer commented on #344
In prod, we can use https://app.lale.help/register to get to the page to enter a new user and create a new circle.

[2016-07-05 13:18] #344 closed

[2016-07-05 13:25] dottorer commented on #372
LGTM - Thanks @NolanChan for contributing a bug fix! :-)

[2016-07-05 13:25] #372 closed

[2016-07-05 13:27] dottorer commented on #374
LGTM - closing

[2016-07-05 13:27] #374 closed

[2016-07-05 13:28] dottorer opened #379 "Once assigned, helpers cannot be removed by admin or orga"
In several scenarios, the helpers that were added using the 'Find Helpers' button, can no longer be removed as the little (x) icon does not show up...

[2016-07-06 08:33] phillipoertel commented on #357
@dottorer I just double checked this on staging, last_login is now correctly updated on token login.

[2016-07-06 09:45] phillipoertel commented on #373
@dottorer two questions on this

- I'm wondering about the intention behind storing the sponsor's full address.
I'd only do a real join to the address table and the geocode stuff that if the sponsor should become an active part of the lale application, i.e. displayed on a map, etc.
Otherwise, a simple address text field would give much more flexibility, maybe combined with a general-purpose "conta

[2016-07-06 10:33] dottorer commented on #373
@phillipoertel
ad 1) I don't think we need to store the full address in Lale as we will have to do this in some form of CRM system anyways as our paying customers. A simple address field should suffice, possible one that allows location on a map.
ad 2) so you mean rotating still only on server trips, but not on each trip but once every 3 minutes? Sounds good.
ad 3) URL is not required, but we shou

[2016-07-06 10:59] dottorer commented on #378
Looks like @NolanChan has this sorted in #380 .

@phillipoertel could we merge?

[2016-07-06 11:00] dottorer commented on #357
All good - thanks!

[2016-07-06 11:00] #357 closed

[2016-07-06 16:55] phillipoertel commented on #373
Created a pull request and review app: #381, https://lale-help-stg-pr-381.herokuapp.com

[2016-07-07 07:12] dottorer commented on #373
@phillipoertel Couple of thoughts on the questions:

1. assign one (random) sponsor logo for the whole user session (i.e. until next login) -> I think having multiple sponsors will be possibly and edge case and we should go with the simplest solution for multiples. So your approach is a perfect start.
2. logo size OK? -> current logo size in review app seems a bit too big. Also, the dark backgroun

[2016-07-07 17:35] phillipoertel commented on #373
Update on this story: still working on getting files uploaded & shown correctly with our custom image handling code. Almost done, I believe.

[2016-07-08 12:14] dottorer opened #382 "Helper list no longer shows 'organizers' tab"
We recently changed this to 2 tabs - one for helpers and one for organizers. This tabbed page seems to have been removed again....can we find it?

[2016-07-08 13:49] phillipoertel commented on #382
Maybe you aren't an admin of the circle? When you aren't, the "Helper list" link points to the list of public members, which doesn't have the members/organizers tabs at the moment.

[2016-07-08 14:00] phillipoertel opened #383 "Out of memory errors: upgrade heroku-dyno for staging"
For some requests, we currently get the following error on staging:
[code]

Sometimes there's no response at all when we get the memory quota error, sometimes the HTML page still is served.

The quickest solution would be to to upgrade staging to a dyno with 1GB of memory.

Interestingly, production is at only ~350MB memory usage, this should be looked into after the next production deploy.

[2016-07-08 14:01] phillipoertel commented on #383
@dottorer could you look into this?

[2016-07-08 14:02] phillipoertel commented on #365
@dottorer does this work as expected on staging & production?

[2016-07-08 14:37] dottorer commented on #382
Thats unintended then. The link should always point to the tabbed view. Normal helpers need to see the organizer tab.

Only diff is that on the all helpers tab, admin see all but non admin see only public profiles...

[2016-07-08 14:37] phillipoertel commented on #373
Mühsam nährt sich das Eichhörnchen :-)

![bildschirmfoto 2016-07-08 um 16 36 44](https://cloud.githubusercontent.com/assets/5188/16690855/2f47335e-452a-11e6-8d62-f387b85d33a9.png)

[2016-07-08 14:39] dottorer commented on #373
Geil - mit BMW als Gross-sponsor :-)

Geht es mit images jetzt schon?

Sent from my iPhone

[2016-07-08 14:43] phillipoertel commented on #373
Ja, aber image upload geht bisher nur beim Neuanlegen eines Sponsors (nicht edit), ausserdem muss man sich einmal ein/ausloggen damit das Logo kommt; es ist auch serverseitig noch nicht skaliert (dh. die Datei ist noch sehr groß). Details siehe meine Liste oben.

[2016-07-08 14:59] phillipoertel commented on #373
FYI: the currently visible sponsor is stored in the session, so changes in circle sponsorship only become visible on the next login.

[2016-07-08 20:50] dottorer opened #384 "Helper can assign themselves twice to a task"
In production, I encountered the following:

![image](https://cloud.githubusercontent.com/assets/14217285/16701142/3219a06a-455e-11e6-9c3e-9630dc77182b.png)

Not user what the user did but the timestamp tracked for the self assignment is the same on both entries:
![image](https://cloud.githubusercontent.com/assets/14217285/16701171/58c78b3c-455e-11e6-8968-520364d08215.png)

[2016-07-11 09:21] dottorer opened #385 "Do not allow users to click buttons too many times"
Currently users can click certain action / notification buttons multiple times and cause confusion by sending our emails too many times. Especially on 'Invite helpers' we had issues in production.

We should not allow users to click certain buttons twice and also provide improved guidance on what the system has done:

- disable button (can't be clicked again)
- set mouse cursor to spinning/loading

[2016-07-11 09:22] dottorer commented on #383
@phillipoertel :+1:
- PROD upgrade to dyno 2X (1GB ram)
- Staging remains at 512 (Hobby) for now until we see mem issues.

[2016-07-11 09:22] #383 closed

[2016-07-11 09:25] dottorer opened #386 "Check dependent destroys on object graph"
When we purge a circle in STG or PROD, we need to guarantee all dependent data in the graph is purged.

* Circle
  * Helpers
    * Comments
    * Project Roles
    * Circle Roles
    * WorkingGroup Roles
    * Task Roles
    * Supply Roles
    * Address
  * WorkingGroup
    * WorkingGroup Roles
    * Documents
    * Tasks
      * Comments
      * Task Roles
    * Supplies
      * Comments
      *

[2016-07-11 09:29] dottorer commented on #365
Seems to work well...thanks!

[2016-07-11 09:29] #365 closed

[2016-07-11 10:34] phillipoertel commented on #382
@dottorer I started looking into this this morning and fixed it now, testable on staging.

New questions arise though:

- in the message "Shows {num} of {num} helpers.", {num} always showed the same number ("Shows 6 of 6 helpers"), since there was no pagination and the total number of active users/admins was used for both variables. I now use the numbers to show the actually visible members vs. al

[2016-07-11 14:02] dottorer commented on #382
@phillipoertel

ad 1) "4 of 6 helpers" is the exact right answer for non-admins. Should have done that from the start.
ad 2) agreed - which column would you remove?
ad 3) No, I think the name of a helper is public domain. Only the detailed address info should be concealed.
ad 4) See 3.

Thanks for thinking this through and fixing it up!

[2016-07-12 08:52] dottorer commented on #378
LGTM - Thanks @NolanChan !!!

[2016-07-12 08:52] #378 closed

[2016-07-12 08:59] dottorer commented on #382
LGTM now in STG - thanks !!!

[2016-07-12 08:59] #382 closed

[2016-07-12 09:51] dottorer commented on #226
Closing for now, we will muddle along with template changes as is....

[2016-07-12 09:51] #226 closed

[2016-07-12 09:52] dottorer commented on #100
Not important at this point, we have enough icons in the app right now...

[2016-07-12 09:52] #100 closed

[2016-07-12 09:54] dottorer commented on #309
This is done by @kristysnet : we just need translations. Will look into that.

[2016-07-12 10:52] dottorer opened #388 "Close, reopen and delete projects"
Users are creating more and more projects to organize their efforts. But we have no way to close out a project. A simple form to do this would be to consider the project 'closed' when no single open task or supply are left to be done.

We then should list 'Closed' projects as a separate view just like we do for 'complete tasks'. Also, closed projects are not counted in any of the counters on badge

[2016-07-12 13:20] dottorer opened #389 "Nit: After deleting a task, jump to home page (not 'all tasks')"
After deleting a task, we route to the wrong page (the obsolete 'all tasks') but should route to the circle homepage.

[2016-07-12 13:24] dottorer opened #390 "PROD bug with missing sponsor for circle"
https://rollbar.com/lale-help/lale-help/items/32/

Cannot open helper profile in PROD or STG due to missing sponsor data.

[2016-07-12 13:39] dottorer commented on #345
This has been achieved by #377 sufficiently. Closing.

[2016-07-12 13:39] #345 closed

[2016-07-12 13:43] dottorer commented on #309
Translation in FR and DE done. Completing.

[2016-07-12 13:43] #309 closed

[2016-07-12 13:44] dottorer commented on #273
With the new 2-step approach of inactivating a group first and only deleting it if no open activities exist in it, we are pretty solid. This can be closed then.

[2016-07-12 13:44] #273 closed

[2016-07-12 13:51] dottorer commented on #331
This is now specified fully in #307  - closing as dup.

[2016-07-12 13:51] #331 closed

[2016-07-12 16:59] phillipoertel commented on #373
@dottorer I think this feature is done (and it's already deployed).

Let me know if the non-circle pages (/account; anything else?) should show any sponsor, right now they only show lale.

[2016-07-12 17:05] phillipoertel commented on #390
@dottorer deployed an hotfix, now no sponsor is displayed on that page.

[2016-07-13 09:25] phillipoertel opened #392 "iPad Sidebar Nits"
- [ ] content area scrolls (down) while menu is fixed
- [x] burger menu doesn't show despite menu being hidden

![content area scrolls while menu is fixed png](https://cloud.githubusercontent.com/assets/5188/16798478/7877fa16-48ec-11e6-9185-9c289bd86171.jpeg)
![burger menu not showing png](https://cloud.githubusercontent.com/assets/5188/16798479/78794696-48ec-11e6-9dce-71e2c8d398f2.jpeg)

[2016-07-13 09:35] phillipoertel commented on #392
Screenshots from my iPhone 6 (376 x 667px) for comparision. Layout isn't perfect, but the side is usable without problems, burger-menu also always visible.

![img_0597](https://cloud.githubusercontent.com/assets/5188/16798734/ce2f1718-48ed-11e6-8c6b-ae51fdbd4e3c.PNG)
![img_0598](https://cloud.githubusercontent.com/assets/5188/16798735/ce313908-48ed-11e6-8eef-2f249ec76451.PNG)
![img_0599](https://c

[2016-07-13 09:52] phillipoertel commented on #392
@dottorer
- re. the burger nav not showing: I found an issue in the CSS, should be fixed. The sidebar should now be hidden in portrait mode, but visible in landscape. burger menu shown/hidden accordingly.
- re. the scroll issue: I can't reproduce this in the "simulator", and don't know what could be the reason, so it'll have to wait until we can test on the real thing.

[2016-07-13 09:59] #389 closed

[2016-07-13 10:00] phillipoertel commented on #389
Fixed and deployed to staging.

[2016-07-13 10:24] phillipoertel commented on #386
@dottorer thanks for the dependency listing above.

Re. deleting circle helpers:
- the helper's circle roles should be destroyed for sure, this is safe as well.
- a helper could be in multiple circles. It could be safely destroyed if he only in one circle. Checking this is a little extra work, and needs to be written & tested with care, since an error here can cause big (!) trouble. Alternatively

[2016-07-13 11:41] phillipoertel commented on #386
@dottorer I added dependent destroys for everything I could find. This also means everything down the relation graph will be deleted, i.e. if you delete a working group all tasks, supplies, projects in it should be deleted.

I also extended the admin area to have a very basic list of all relevant resources. You could now have some fun in the staging admin area :-)

As of now, no users are deleted,

[2016-07-13 11:43] dottorer commented on #386
@phillipoertel we need to ensure that we do not delete users in a circle if they are also in another circle. It seems that only users with their primary circle being destroyed should be destroyed.

[2016-07-13 13:02] phillipoertel commented on #386
@dottorer would you really delete a user if his primary circle is deleted, but he is still in another one?

[2016-07-13 13:31] phillipoertel commented on #384
@dottorer I added uniqueness checks for the task and supply roles. Working group and project roles had no uniqueness check, either, so I added those, too.

But: because Rails handles these checks at the Ruby level, not the DB, it's still possible to create two roles for the same user; this can happen when two requests run almost in parallel (Details: https://goo.gl/yI0CgH).
This can be prevented w

[2016-07-13 13:38] phillipoertel commented on #384
Here's a the report of the consistency_fail gem, which tries to detecting missing unique indexes in Rails projects:

[code]

[2016-07-13 15:28] dottorer commented on #386
I guess the best scenario for multi circle users is to delete the circle but not the user. We then would need to make any of his other circles the primary. If only one circle exists, we can delete the user since as an orphan it make little sense.

Technically this could be too much work. I believe that orphaned users would at login be asked to join another existing circle. I could also hand purge

[2016-07-13 15:31] phillipoertel commented on #385
@dottorer can you think of a generic message or string to display on the button when it is disabled? That would make translation easier and simplify the code, instead of requiring a custom message for each button. "Saving ...", "Updating ...", "..." aren't always ideal, however (for Invite circle, for example". I also thought about adding "..." to the button label, that could be a solution.

[2016-07-13 15:37] dottorer commented on #385
@phillipoertel how would "Working on it..." / "Wird bearbeitet..." look for the generic cases? Important is to not make the button clickable twice, so it could just turn a notch darker or something visual as well. Label of course is also nice.

[2016-07-13 15:38] phillipoertel commented on #385
@dottorer styling and clicking only once is no problem. If you're happy with that (i.e. not changing the label), I'm pretty much done.

[2016-07-13 15:39] dottorer commented on #384
This is easier discussed tomorrow in person, i think...

[2016-07-13 15:41] dottorer commented on #373
@phillipoertel looking great. Just not sure why the heading in the tab of the circle admin view does not show german translation. Thought i pushed that yesterday, but might be a new separate string.

[2016-07-13 15:41] #373 closed

[2016-07-13 15:52] dottorer commented on #385
Ok, let's keep it at that for now. And we got the flash msg back, too?

[2016-07-14 09:28] dottorer commented on #390
Fixed in prod and stg...

[2016-07-14 09:28] #390 closed

[2016-07-14 09:54] dottorer opened #393 "Setup demo.lale.help system as PROD variant"
- [x] Clone PROD app in heroku

- [x] enter CNAME in CloudFlare

- [x] deploy last master rev from pipeline

- [x] create new S3 bucket and connect with new credentials

- [x] remove cloned PROD data

[2016-07-14 10:04] dottorer commented on #386
Using now for DEMO purge...works.

[2016-07-14 10:04] #386 closed

[2016-07-14 13:00] dottorer commented on #393
Done!

[2016-07-14 13:00] #393 closed

[2016-07-14 14:58] phillipoertel commented on #384
Unique indices added an deployed/migrated in all environments.

[2016-07-15 12:08] dottorer commented on #384
LGTM

[2016-07-15 12:08] #384 closed

[2016-07-15 12:10] dottorer commented on #392
Leaving this where it is right now, responsive working pretty good for now. More to come when needed....

[2016-07-15 12:10] #392 closed

[2016-07-16 18:56] pjfanning commented on #275
Are we looking to have the deployed app (lale.help, staging.lale.help, etc.) send periodic emails to a set email address to verify Mandrill/MailChimp connectivity? Or are we looking for rspec tests that test the mandrill templates?

[2016-07-19 08:50] dottorer commented on #275
@pjfanning I think we need to test that emails are going out in general for the different envs. The entire suite of templates will be something we aspire to, but for now it would be good if we can verify with a test email using some bind variables that email do get delivered. This would be for environments:

app.lale.help ("PROD")
staging.lale.help ("DEV")
demo.lale.help ("DEMO")

Thank you!!!

[2016-07-19 10:02] pjfanning commented on #275
Thanks Ralf for clarifying the requirement. One approach would be to set up a scheduled task on the 3 deployments and to have it send an email on a regular basis. We'd have to find some way of checking the mailbox to see if the emails are arriving. This would be easy enough to automate, the main question would be how to report issues
We could also catch any exceptions that happen on the Mandrill A

[2016-07-19 10:06] dottorer commented on #275
Yes, I was wondering on how we could verify the email delivery. We could setup a dedicated email ("testing@lale.help") and route that to me as an alias. This way I could verify manually that email were sent as part of the build. Better is of course to detect this and throw a rollbar error. I am sure this has been done tons of time, maybe @phillipoertel or @phil-monroe know a good way.

[2016-07-19 10:27] phillipoertel commented on #275
Hi guys,

My two cents (without reading your full thread): don't cross the application boundaries in these tests. Write tests to ensure the emails leave Rails where we expect them to, and trust the professional providers (Mandrill, SMTP servers) to get the rest of the job done.
I believe email integration tests would be complex to set up, verify and maintain, and provide little additional value to

[2016-07-19 11:04] pjfanning commented on #275
I see some merit in trusting MailChimp to deliver the emails. Ralf, does MailChimp app provide statistics about emails that have been sent and/or tracking of issues with API requests?
The idea of catching Mandrill API exceptions in the Lale app and monitoring them still seems valid if MailChimp doesn't do this for us.

[2016-07-19 11:09] dottorer commented on #275
Mailchimp definitely has statistics and successful delivery of emails (vs. failed due to wrong address, etc.). They also track the click rate by the redirection URL in the emails. But mostly we are trying to ensure that our primary comms channel of email is robustly working after a checking / build.

[2016-07-19 12:05] dottorer opened #394 "When new work group is created, organizer is set but not also added as member"
When creating a new WG and we select an organizer in the create screen, this user should also be listed as a member of the group:

![image](https://cloud.githubusercontent.com/assets/14217285/16949219/bfcf15da-4db9-11e6-9847-06643a8fa40a.png)

![image](https://cloud.githubusercontent.com/assets/14217285/16949225/d20dd434-4db9-11e6-9716-6ec6e25344a2.png)

[2016-07-20 08:14] phillipoertel commented on #379
@dottorer I think this isn't a trivial issue; I already spent half a day looking into it. I believe class loading inside a Ruby gem (cells) is the issue.
A quick fix would be to make task/supply roles editable (and deletable) in the lale admin area, I believe that would be easy with the standard active admin tools.

[2016-07-21 11:27] dottorer opened #395 "DEMO bug: Cannot create new work group / project"
When adding a very first working group in a new circle (as admin), I encounter the following error: https://rollbar.com/lale-help-demo/lale-help-demo/items/4/

Can we look at this briefly?

[2016-07-21 11:28] dottorer commented on #395
![image](https://cloud.githubusercontent.com/assets/14217285/17021231/f3692c8a-4f46-11e6-8dde-29bf02f30423.png)

[2016-07-22 04:50] dottorer commented on #395
This does currently not occur in STG even for a newly created circle. I wonder what isdue of 'parent not created' the rollbar is referring to.

[2016-07-22 06:31] phillipoertel commented on #395
I'll have a look this evening.

Von unterwegs gesendet, deswegen kurz und evtl. mit Tippfehlern

[2016-07-22 21:09] phillipoertel commented on #395
@dottorer just fixed the bug and pushed to all environments (demo, stg, prd), since all were affected.

The reason was: I had introduced a bug when adding the working group name validation in the last session. The way I put it, the working group needed to be *globally* unique, not unique per circle. Because of that the working group you tried to create was invalid (there already was a group "Betre

[2016-07-23 10:56] dottorer commented on #395
@phillipoertel thank you for looking into that! Makes sense now and was part of the uniqueness cleanup then...

[2016-07-25 09:22] dottorer commented on #395
@phillipoertel The exact same issue with globally unique names occurs for projects. Can we apply the same fix there? Is this also possible for tasks and supplies?

[2016-07-25 17:35] dottorer opened #397 "Email token not going to Demo but to App URL"
The button in the email sent from demo.lale.helpdies not go there but to app.lale.help. Might be a system variable somewhere...

[2016-07-25 20:41] phillipoertel commented on #395
@dottorer

- the project constraints (a working group should not have two projects of the same name) look Ok to me. There actually already is a project with the name "Tutorenzeit - Lerncenter - Juli" in the working group 34 / circle 3; it was created on the 27th of June at 9:02am.

- task and supply names have no uniqueness constraints (remember tasks can be cloned, which preserves the original na

[2016-07-25 20:44] phillipoertel commented on #395
The rollbar issue for reference: https://rollbar.com/lale-help/lale-help/items/35/occurrences/14778044064/

[2016-07-25 20:45] phillipoertel commented on #395
@dottorer the error when a project name already exists should be handled more gracefully though; I guess you got a complete error page instead of a helpful error message.

[2016-07-25 21:07] phillipoertel commented on #397
Took a while to figure out, but was actually a simple change of a heroku config variable. Fixed.

[2016-07-26 11:31] dottorer opened #398 "BUG: System error when editing projects"
Matze found an issue in DEMO and STG: When editing a project, we receive an error. It sometimes does not occur, so it can be intermittent. But it basically happens steadily now. Error in https://rollbar.com/lale-help-demo/lale-help-demo/items/6/

[2016-07-26 11:32] dottorer commented on #398
Sorry @phillipoertel but this one keeps us from preparing for an important demo to the LRA on Thursday and also for one at Montessori this week. Could we quickly look into it? I cannot see a problem with the data itself at first glance...

[2016-07-26 13:25] phillipoertel commented on #398
I'll check tonight, shouldn't be too hard to find.

Von unterwegs gesendet, deswegen kurz und evtl. mit Tippfehlern

[2016-07-26 20:06] phillipoertel commented on #398
@dottorer All of the projects for which you got errors (22, 27, 28, 29) had no organizer role, so an error happens when trying to show the project.organizer.name. I just fixed that, assigning either you or Matze as organizer.

What's strange: assigning an organizer is mandatory in the create project form, so I don't know how a project got to that state. Could you ask Matze if he can still reproduc

[2016-07-27 07:42] Matthias-Lale commented on #398
@phillipoertel @dottorer I tried to create a new project in Monte DEMO (circle 13). As Admin I am in all WGs but in two. For the one I am not in the WG (WG Bau) I created a project. As you can see from the screen shots, no organizer is given by default:

![profect without organizer_1](https://cloud.githubusercontent.com/assets/17497825/17167118/94b1c122-53db-11e6-9905-33a6250e2e0d.jpg)

 I click o

[2016-07-27 07:56] Matthias-Lale commented on #398
@phillipoertel @dottorer I just wanted to add another screenshot:

![project with organizer_3](https://cloud.githubusercontent.com/assets/17497825/17167746/fe7aca92-53de-11e6-92b5-47058246ed18.jpg)

And now quite interesting for me:
After the error message , I clicked on the back button in the browser and though first Alphamonte was chosen as organizer, now  in the screen "Matthias Walz" is given

[2016-07-27 07:58] Matthias-Lale commented on #398
@dottorer @phillipoertel Sorry, last screen shot was wrong, it should have been this one:
![project with organizer_6](https://cloud.githubusercontent.com/assets/17497825/17168087/ae1260ea-53e0-11e6-8f4a-de6262b57a74.jpg)

[2016-07-27 08:59] phillipoertel commented on #398
@Matthias-Lale thank you for the extensive info. The WG you're creating the project in (WG Bau) doesn't have organizers nor members. I'm surprised about that, it shouldn't be possible -- there's a check for an organizer when creating a new working group, and deleting the last working group organizer role in the admin is also not possible (see screenshots below).

The WG Bau was created two days ag

[2016-07-27 09:48] Matthias-Lale commented on #398
@phillipoertel as far as I can remember, I did all WGs with AdminWalz (sole user and administrator at this time). Then I changed in two WG the organizer to "Matthias Walz".
What is totaly strange, I have no idea why WG "Bau" is not listed in list of organizers:

![project with organizer_7](https://cloud.githubusercontent.com/assets/17497825/17170982/dbe08a34-53ee-11e6-930b-b4ff66731029.jpg)

Now I

[2016-07-27 10:09] Matthias-Lale commented on #398
@phillipoertel I just saw, that in one project there is no organizer, this refers to the screen shots above "Liste aller ehemaligen Schüler ..." I created this morning:
![project with organizer_9](https://cloud.githubusercontent.com/assets/17497825/17171791/7e31f568-53f2-11e6-8d16-2bd81a7db66f.jpg)
I tried to access this project by clicking on the name, but then there came the error message again.

[2016-08-01 10:37] dottorer opened #399 "DEMO bug: Error when clicking email button"
During the demo last Thursday we ran into a bug when clicking the 'accept' button in an email . We sent our an invitation using Find Helpers, but possibly that same user was already added manually as an assignee. Clicking the button then produced a hard error

https://rollbar.com/lale-help-demo/lale-help-demo/items/10/

If this is a duplicate assignment constraint, we need to handle it more gracef

[2016-08-01 10:39] dottorer commented on #397
LGTM.

[2016-08-01 10:39] #397 closed

[2016-08-09 15:14] phillipoertel commented on #395
Let me summarize what needed/needs to be done here:

1. Fix name uniqueness constraint for working groups (a working group name needs to be unique per circle)
2. When saving a project: improve error message / handling when project name has already been taken.

What doesn't need to be done:

1. change project name validation: a project name needs to be unique per working group, this is the way it's

[2016-08-09 15:44] phillipoertel commented on #395
Reopening since I shouldn't close issues (closed it with the last commit by accident).

[2016-08-09 16:23] phillipoertel commented on #398
The system error happens because the project admin was removed when editing an existing project ... just fixed that.

[2016-08-09 16:26] phillipoertel commented on #398
What's left to be done here:

* [x] deploy bugfix for "project admin is removed when updating a project" (on all servers, i.e. demo, staging, production)
* [ ] check and fix all projects that don't have an admin (on all servers)
* [ ] check why no admin is shown here: https://github.com/lale-help/lale-help/issues/398#issuecomment-235510470
* [ ] clarify if there are any other problems with Matze

[2016-08-10 11:09] phillipoertel commented on #398
Regarding https://github.com/lale-help/lale-help/issues/398#issuecomment-235510470: the organizer field is empty because the WG Bau has no organizer. A WG must always have an organizer, so I assume this is a leftover from the bug #395, where working groups were created without organizer when an error happened.

To explain why "Admin Walz" (the user you're currently logged in as) was made organizer

[2016-08-10 15:47] phillipoertel commented on #398
@Matthias-Lale as just discussed by phone I believe I fixed all bugs in this ticket (and updated demo.lale.help). When you find the time, please give me feedback if you still find problems with the projects. If you do, it would be best to open a new ticket, using this link: https://github.com/lale-help/lale-help/issues/new. Thank you!

[2016-08-11 12:44] phillipoertel commented on #399
@dottorer I'm not able to reproduce this error. I tried as follows:

- send out an invitation to a task to all working group members
- as member of the working group (Luke), sign up for the task **through the task page**
- as Luke, click the "accept" link in the email.
- result: no error, no duplicate volunteer role.

I also reviewed the code for the invite email, before creating the volunteer rol

[2016-08-11 13:02] phillipoertel commented on #399
I also tried opening the task in two browser tabs, clicking "I'll help" in the first works as expected, in the second I then get the flash error message "not allowed to volunteer".

[2016-08-11 13:35] phillipoertel commented on #379
@dottorer I was able to fix this now and deployed it to staging / demo.

[2016-08-12 14:23] phillipoertel commented on #385
Fixed the buttons mentioned above. Note: I didn't add extra features ("Save and notify" button and the sourcing modal) for supplies, as I'm not sure about the priority. So it would be best addressed & prioritized in separate stories, or in a task/supply refactoring.

[2016-08-26 17:58] phillipoertel commented on #263
@jprokay you could start with or steal from the invite to project spec, I think it's quite similar: https://github.com/lale-help/lale-help/blob/master/spec/features/projects/invite_to_project_spec.rb

[2016-09-05 11:35] dottorer opened #400 "Bug: Find helpers shows wrong count of work group addressees"
User reported issue:
In a work group with 7 members (all of which are also organizers of that group), when we use the 'Find helpers' button it shows "0 helpers" as recipients of an email. However, when clicking the button, we send the right email to 6 group members (7 total minus the task organizer) and track that in the lalebot. We need to ensure we should the right recipient count.

[2016-09-05 11:37] dottorer commented on #400
![image](https://cloud.githubusercontent.com/assets/14217285/18246726/d0f8a64e-736d-11e6-8387-3b1cd3d3ceda.png)

![image](https://cloud.githubusercontent.com/assets/14217285/18246729/d9f21370-736d-11e6-9bc8-86e0c0168567.png)

![image](https://cloud.githubusercontent.com/assets/14217285/18246732/e0efe9c2-736d-11e6-9388-2ac631a07f25.png)

[2016-09-05 11:38] dottorer commented on #400
Screenshots available per email...

[2016-09-05 18:48] dottorer commented on #388
Also we need to offer 'Delete project' as an option in the drop down. It eill purge the project and all included tasks snd supplies, after an 'are you sure' check.

[2016-09-05 20:15] dottorer opened #401 "Allow admins to update helper profile data"
From the public profile page, we need to offer admins the ability to modify helper data. Some data elements will only be exposed to admins (like the 'accreditation' checkbox).

See https://docs.google.com/document/d/1IknDxB-giyJSdq5WJJr7rga48GEQl-nIHg-eNBnVleI/edit# for details.

[2016-09-07 17:41] Dbz opened #403 "About Lale Page in English has German"
The [our team](http://lale.help/about-lale#UeberLale) page in english is not fully translated from German

[2016-09-07 17:43] Dbz opened #404 "The blog can not be viewed in english"
When on the [blog](http://lale.help/blog), if you attempt to change the language from German to English, it takes you back to the home page. When you go back to the blog it is again in German.

[2016-09-07 17:44] Dbz commented on #404
This looks like it could be a bug with the English/German toggle in general where it takes you back to the home page

[2016-09-07 17:46] pjfanning commented on #404
I tried http://lale.help/home_en and the News link in the top banner goes to http://lale.help/blog which is in German and a heading of Tutorials.

[2016-09-07 17:52] Dbz opened #405 "The our partners section has tbd partners"
There are placeholders for partners that are dummy text

[2016-09-08 20:56] dottorer opened #406 "When leaving a group, helper is removed from all groups."
Helper was member in two groups and decides to leave group 2. Helper is removed from both groups.

Of course leaving a group also removes you as a organizer of any groups, which leaves the group without organizer!

[2016-09-09 05:02] dottorer opened #407 "When admin removes group organizer from list, nothing happens."
When creating the group initially, the circle admin sets himself as the group organizer. After other helpers joined, he tries to remove himself from the organizer list of a group. Clicking the remove button, nothing happens...

[2016-09-09 06:15] dottorer commented on #403
Hi @Dbz Thanks for helping us on the Lale project. I will check into this asap...

[2016-09-09 06:16] dottorer commented on #405
I need to clean that up, we had some partners lined up, but they have not committed yet.

@Dbz Are you a webflow expoert by any chance? :-)

[2016-09-09 06:19] dottorer commented on #404
The slug on the 'tutorials' page is '/blog' since that what is was originally. I did not want to break external links so we kept it.

The problem with EN/DE for the blog is that we have not found a good way to make it properly i18n. Most posts for now are targeted to DE audience so we kept it as German only. We decided to have it appear in the EN nav for completeness. We might also post EN content

[2016-09-09 18:03] Dbz commented on #405
I'm no expert! I'm a fan of the project and was hoping to make a small difference via issues :)

[2016-09-19 09:11] dottorer opened #408 "Bug: Rollbar 26 - missing apple-touch-icon"
See https://rollbar.com/lale-help/lale-help/items/26/

[2016-09-19 09:12] dottorer opened #409 "Bug: Rollbar 27 - Invalid Auth Token"
https://rollbar.com/lale-help/lale-help/items/27/

[2016-09-19 09:13] dottorer opened #410 "Bug: Rollbar 37 - undefined method "name" for nil:NilClass"
https://rollbar.com/lale-help/lale-help/items/37/

[2016-09-19 10:17] phillipoertel commented on #409
@dottorer Rails includes a so-called authenticity_token in every form; they are part it's CSRF protection mechanism.

We get this error when the token has expired, which I assume happens when the session expires (30 minutes for lale). This could happen

1) if the login form is opened but not submitted within the session expiry time
2) if the browser serves a login page from it's cache which has be

[2016-09-19 10:27] phillipoertel commented on #410
All errors happened in Project 22:

![bildschirmfoto 2016-09-19 um 12 21 52](https://cloud.githubusercontent.com/assets/5188/18629084/b6b9b312-7e63-11e6-86db-8e8c331d49c7.png)

This project has no admin (i.e. is `nil`in Ruby terms), so when trying to call #name on the admin in the view, we get this error.

The more interesting question is **why** the project has no admin or how it got lost, I'll i

[2016-09-19 10:39] phillipoertel commented on #410
Update: the reason for this bug is the one fixed in #398, it just hasn't been deployed to production yet (despite being fixed since Aug 9th). That's embarassing, but since Matze was testing on staging and demo, I forgot and then moved on to another issue.

So a production release will fix this, which I'll do today or tomorrow.

[2016-09-19 10:58] phillipoertel commented on #408
The image /apple-touch-icon-precomposed.png is requested by iOS devices and used as a app icon (comparable to the favicon). Details: https://realfavicongenerator.net/blog/apple-touch-icon-the-good-the-bad-the-ugly/

As a quick fix, I added empty files for them, that'll make the error go away and display an empty icon for lale on iOS.

@dottorer could you insert/link to a higher quality icon of lal

[2016-09-19 12:05] phillipoertel commented on #407
@dottorer I assume you mean the other helpers joined as work group organizers (you can't remove the last organizer of a WG). I was able to reproduce this bug the first time I tried. I clicked "Remove" and the admin wasn't removed, although there was one more admin in the group.

The application logs didn't show any internal error or unusual things, so I tried to recreate the error, **and am now un

[2016-09-19 12:13] dottorer commented on #407
@phillipoertel  I just in DEMO the admin assigned user4@lale.help as organizer of group Betreuung. It also had userm6@lale.help as organizer. Then I logged in as user4 and tried to remove myself as group organizer. Nothing happened on first click. Hover, on second click it said 'user does not have permission to update object' or something of that kind which tells me we removed user4 as organizer,

[2016-09-19 12:15] dottorer commented on #410
@phillipoertel Great - just missing a deploy then...

[2016-09-19 12:16] dottorer commented on #408
![laleiconcolor60](https://cloud.githubusercontent.com/assets/14217285/18631672/a211d6c8-7e73-11e6-8654-13f7b63fce3f.png)

@phillipoertel will this icon work? I can send it to you in any size / res....

[2016-09-19 12:18] dottorer commented on #409
On first glance, we should not cache the login form then. Makes no sense if this is causing the token failure.

Could this also have to do with token in email or is this different?

[2016-09-19 12:39] phillipoertel commented on #406
@dottorer I was able to reproduce this and already fixed it on master.

[2016-09-19 12:45] phillipoertel commented on #401
@dottorer I read and understood the spec/requirements. Let's discuss. Question: should the "police record" feature be toggleable per circle, comparable to the "admin approves new circle members" feature? That way the additional complexity this feature introduces could be hidden from circles that don't require it.

[2016-09-19 13:48] dottorer commented on #401
@phillipoertel  While the police record itself would be for a person uniquely, its accreditation (meaning sign off) is per circle. So we should track it on the circle/helper level.

You are asking if we should hide the feature from a circle completely of they don't require accreditation. Depending on effort, that would be nice. Let's talk tomorrow.

[2016-09-19 13:54] phillipoertel commented on #399
@dottorer this seems to be high priority, but I can't reproduce.

[2016-09-19 14:06] phillipoertel commented on #400
Just confirmed this still happens:

- in the working group invite, the WG organizers were deliberately excluded
- in the circle invite, both the circle admins and the WG organizers were excluded.

I adapted the code to include all of those in the invitations, as well.

[2016-09-19 14:12] phillipoertel commented on #400
Just deployed the fix to staging, please review & close, or feedback.

[2016-09-19 14:21] phillipoertel commented on #408
@dottorer could you provide me with a 180x180px version? That would be simplest and most compatible, according to https://mathiasbynens.be/notes/touch-icons.

[2016-09-19 15:42] phillipoertel commented on #408
Icon works on production: https://app.lale.help/apple-touch-icon-precomposed.png

[2016-09-19 15:49] phillipoertel commented on #407
Still can't reproduce, let's discuss.

[2016-09-19 15:50] phillipoertel commented on #406
Now deployed to all envs.

[2016-09-19 16:24] phillipoertel commented on #388
So what needs to be implemented is:

#### 1. close project

Closing "automagically" may be confusing, and we'll have to handle the special case that a project was just created but has no tasks yet. How about having users close a project manually, by hand? That's the interaction they are used to from tasks and supplies.

#### 2. delete project

No comments sounds good. Since we'll have a "Super" Bu

[2016-09-19 16:33] phillipoertel commented on #363
@dottorer I guess you mean the "Add" button for tasks/supplies/projects. Indeed, when there are only inactive WGs for a user, it should not be displayed; as if there weren't any WGs at all.

So it would be shown if:
- for circle admins: circle has at least one active active working group
- for "regular" users: user is admin of at least one active working group

[2016-09-20 04:58] dottorer commented on #388
@phillipoertel

1. Explicit closing is a good option. I was trying to keep it simple but manual is better. We will then need to offer re-open as well. Also we need to hide closed project from the list views of active projects and offer a nav link to switch to 'Closed projects...' (Like we do for tasks).

2. Delete project as a button option with a 'are you sure?' Check is perfect.

[2016-09-20 04:59] dottorer commented on #363
@phillipoertel yes your two outlined criteria for the button are perfect.

[2016-09-20 09:31] phillipoertel commented on #388
Ok. Should be straight-forward to implement since we have most of the code & layout in other features already.
FYI I took the liberty to adjust the issue name to "Close, reopen and delete projects".

[2016-09-20 10:35] dottorer commented on #408
I tried to add demo.lale.help or staging.lale.help to the iPhone home screen. It does not yet show the icon:
![img_5439](https://cloud.githubusercontent.com/assets/14217285/18666932/b187f04a-7f2e-11e6-8e4b-497e827cd570.JPG)

Did we deploy yet? Should that not show the Lale icon we added in?

[2016-09-20 10:38] dottorer commented on #409
There is the occasional report by users that clicking on the buttons in an email shows them an error screen. It last happened to Matze during a demo at LRA in July. It would be that this has to do with too many open browser sessions with varying users logged in, but I cannot say for sure. Overall, I will need to provide much more concise replication instructions if it re-occurs.

For now, Let's de

[2016-09-20 10:38] #409 closed

[2016-09-20 11:02] dottorer commented on #401
@phillipoertel  I slightly updated the spec doc with options to visually indicate if helpers are accredited or not. Also, per your idea I outlined a way to enable this whole feature for a circle or remove the complexity from it.

[2016-09-20 11:24] #398 closed

[2016-09-20 13:16] dottorer opened #411 "Track helper accreditation"
Related to #401 we also need to provide for a special case whereby admins can store the helper accreditation ('polizeiliches Führungszeugnis') along with an expiration date.

See more detailed specification in https://docs.google.com/document/d/1IknDxB-giyJSdq5WJJr7rga48GEQl-nIHg-eNBnVleI/edit#

[2016-09-20 13:20] phillipoertel commented on #408
@dottorer same with production, I just noticed. I'll check.
I'll move the issue back to the started column :-/

[2016-09-20 14:12] phillipoertel commented on #408
After some more fiddling I got it to work (bottom right icon):

![image1](https://cloud.githubusercontent.com/assets/5188/18673668/f08b0002-7f4c-11e6-82a0-d86b52484405.PNG)

[2016-09-20 16:25] phillipoertel commented on #363
@dottorer Implemented and testable on staging!

[2016-09-20 17:33] phillipoertel commented on #388
Made good progress today. Remaining Todos:

- [ ] hide completed projects from lists
- [ ] request optical indicator for completed project
- [ ] align super dropdown menu
- [ ] add feature spec

[2016-09-20 17:34] phillipoertel commented on #388
@dottorer will there be any indication that a project is closed on it's dashboard? For tasks and supplies the header changes color, but the project header is different ...

[2016-09-20 17:37] phillipoertel commented on #388
@dottorer can projects with open tasks/supplies be closed? Working groups can't, they get an alert message.

[2016-09-21 06:56] dottorer commented on #388
@phillipoertel I think if a project has open tasks / supplies we show a warning to tell them to close them out, like on WGs.

I will think about an indicator for the closed projects. Looking around, I noticed that the line display of closed tasks does not show them green, but the display of the individual task does how them green. Will open a bug for it.

[2016-09-21 06:57] dottorer opened #412 "Closed tasks do not appear green in list view"
I noticed that the line display of closed tasks ('Erledigte Aufgaben...') does not show them green, but the display of the individual task does how them green.

[2016-09-21 07:23] dottorer commented on #388
@phillipoertel Ideas for visualization:
- in the single project view we could prepend the word 'Erledigt: ' to the project title as we do with the tasks.
- for the list view of projects (both on the work group level and on the circle level), we could also offer the toggle to 'Erledigte Projekte...' and in that list show a small round green check box icon

![image](https://cloud.githubusercontent.c

[2016-09-21 08:15] phillipoertel commented on #388
@dottorer Ok, sounds good.

[2016-09-21 12:16] dottorer commented on #363
@phillipoertel Trying to verify the fix, I noticed the following. In staging, the user 'ralf.schroeder@gmail.com' is still organizer of group 'Sprache und Bildung' but already does not have access to the 'Add' button. This group is active so I expect him to have it. Can we look why?

[2016-09-21 12:43] dottorer commented on #406
Works now. Closing.

[2016-09-21 12:43] #406 closed

[2016-09-21 12:44] dottorer commented on #408
Tested and works - thanks. Closing.

[2016-09-21 12:44] #408 closed

[2016-09-21 12:45] dottorer commented on #385
Reviewed in DEMO. Works.

[2016-09-21 12:45] #385 closed

[2016-09-21 12:47] dottorer commented on #379
Works for admin. Only small nit is that the (x) icon on the right overlaps the next helper tag in the assignee field, but good enough for now....

[2016-09-21 12:47] #379 closed

[2016-09-21 12:48] dottorer commented on #395
This is no longer an issue. Closing.

[2016-09-21 12:48] #395 closed

[2016-09-21 14:06] phillipoertel commented on #388
@dottorer feature is ready for review on staging!

[2016-09-21 15:35] dottorer commented on #388
@phillipoertel Testing was very complete already. Looking good.

Couple of thoughts:
1. I think we need to indicate it more strongly that a project is closed. Could we re-style its header to be closer to the task header and use 2 colors: light blue for normal and green for closed?
![image](https://cloud.githubusercontent.com/assets/14217285/18717410/10ca419c-8020-11e6-827d-06db97860d2c.png)

![ima

[2016-09-21 15:55] dottorer opened #413 "Improve display of projects details view and projects list view"
With #388 we are giving a status to projects and need to also improve the visualization.

1. re-style its header to be closer to the task header and use 2 colors: light blue for normal and green for closed
![image](https://cloud.githubusercontent.com/assets/14217285/18718613/75fc4886-8024-11e6-9c41-8d5a3702f8cd.png)

![image](https://cloud.githubusercontent.com/assets/14217285/18718621/7f73f4f4-80

[2016-09-21 15:59] dottorer opened #414 "Issue during new circle creation"
When Matze created a circle today in DEMO, it was saved twice as number 38 (partial) and 39 (with all data). We should track down what happened and how it got partially saved at first.

Note that he was travelling by train and had spotty WLAN.

Timebox this with an hour at first...

[2016-09-21 16:01] phillipoertel commented on #414
@dottorer btw. how about validating that a circle's name must be unique in lale (maybe in combination with the location, if required)? That would have prevented the error in the first place.

[2016-09-21 16:45] phillipoertel commented on #414
Some observations / info after debugging:

- circle 38 and 39 are both functional. They have separate, but functional admin records (the user and identity are complete and correctly associated to each other and the circle)
- I assume two requests reached the server independently, otherwise the Rails code wouldn't have created two user identities with the same email address (there's a uniqueness ch

[2016-09-22 08:39] dottorer commented on #408
@phillipoertel Seems to still be happening in some envs: https://rollbar.com/lale-help/lale-help/items/26/

Did we not deploy everywhere?

[2016-09-22 08:44] dottorer commented on #414
@phillipoertel I like the 3 suggestions. Makes sense. Only thought is that last time we introduced DB level indexes we had some bugs around that in the app. We need to do thorough testing of it.

[2016-09-22 12:33] phillipoertel commented on #408
Yes, the fix is deployed to demo and prd.

This is a request by the GoogleBot to https://app.lale.help/.well-known/apple-app-site-association (see the details at), not the touch icon. I don't understand why Rollbar maps it to that.
I just heard about this request by Google, I don't think it's essential we return something useful there; compare: http://webmasters.stackexchange.com/questions/85674/w

[2016-09-22 13:45] phillipoertel commented on #414
@dottorer I implemented the suggestions and deployed to staging. Please test the creation of circles where the name already exists, and also changing the circle name to one that already exists.

[2016-09-22 14:11] phillipoertel commented on #409
@dottorer I now handle this exception in the login form (no matter where it came from) and redisplay the login form along with a "please try again" message. That should be less scary than the previously unhandled exception (500 internal server error page).

[2016-09-22 14:50] phillipoertel commented on #413
Updated spec for project lists:

- [ ] don't show supplies (0) if there aren't any (same with tasks)
- [ ] colorize project icon according to open/closed status (same colors as tasks/supplies)
- [ ] show WG name only when in circle context (otherwise it's obvious)

[2016-09-22 15:30] phillipoertel commented on #412
@dottorer fixed and testable on staging.

[2016-09-23 06:24] dottorer commented on #412
@phillipoertel Tested it but when clicking on 'closed tasks...' it only shows an empty partial. Same on supplies. Still not quite there?

[2016-09-23 08:29] phillipoertel commented on #412
@dottorer I can't reproduce the error; testing myself on staging works as expected. Which circle or working group are you trying it in?

[2016-09-23 08:34] phillipoertel commented on #412
Here's a short GIF to illustrate:

![sep -23-2016 10-32-37](https://cloud.githubusercontent.com/assets/5188/18779425/5150ea7c-8179-11e6-9d2d-36ac0e38bbb9.gif)

[2016-09-23 13:08] dottorer commented on #412
@phillipoertel still seeing this behaviour in https://staging.lale.help/circles/3/working_groups/11

Strange...

[2016-09-23 13:12] dottorer commented on #412
Problem exists in the same way in both Chrome and Edge.

[2016-09-23 13:29] dottorer commented on #413
@phillipoertel Let's try this as a new icon for projects: http://cdn.onlinewebfonts.com/svg/img_446233.svg

It should be similar in appearance and scale ok.

[2016-09-23 14:23] dottorer commented on #400
Reviewed, looks good in my test cases. CLosing.

[2016-09-23 14:23] #400 closed

[2016-09-23 14:38] dottorer commented on #388
@phillipoertel Tested. Looks good - some notes:

1. When deleting a project, we show a warning 'are you sure?', then we blow project and all included items away. We should tell them in the text that included tasks / supplies will be deleted.
2. Closed projects: Likely part of #413 but we need to decrase the counter in the leftnav (should only count open projects) and then move the project to the '

[2016-09-23 14:38] #388 closed

[2016-09-23 14:38] dottorer commented on #412
Was missing translation, works now. Closing.

[2016-09-23 14:38] #412 closed

[2016-09-23 14:39] dottorer commented on #410
Was part of #398 . Closing.

[2016-09-23 14:39] #410 closed

[2016-09-23 14:40] dottorer commented on #408
Let's ignore the google bot. And rollbar. Closing.

[2016-09-23 14:41] dottorer commented on #363
@phillipoertel Can you quickly check the scenario above to see why the 'add' button is not showing for that user?

[2016-09-23 14:45] dottorer commented on #414
@phillipoertel Tested both new circle creation and alteration of old circle name to an existing name. Both get correct error of name taken. LGTM.

[2016-09-23 14:45] #414 closed

[2016-09-23 21:13] phillipoertel commented on #413
@dottorer I implemented as requested and deployed to staging for review.

[2016-09-25 08:28] dottorer commented on #413
@phillipoertel Good start, here are a few notes after testing it:

1. Task line item view is now skewed:
![image](https://cloud.githubusercontent.com/assets/14217285/18813769/238c1934-8306-11e6-868a-5c0826942ccd.png)

2. Count for required total / assigned helpers should only look at open tasks (ignore closed tasks):
![image](https://cloud.githubusercontent.com/assets/14217285/18813783/6b603614-83

[2016-09-26 08:29] dottorer commented on #413
Not trying to create scope creep, but maybe we can consider #330 in order to make a meaningful date range for the badge header. Thoughts?

[2016-09-26 12:19] dottorer commented on #109
This has actually been mostly addressed by a series of changes. Closing.

[2016-09-26 12:19] #109 closed

[2016-09-26 15:26] phillipoertel commented on #413
Todos:

- [ ] Task line item view is now skewed:
- [ ] Count for required total / assigned helpers should only look at open tasks (ignore closed)
- [ ]  line item view: Icon should be overlaid to badge
- [ ] Counts for tasks and supplies should be using check icon
- [ ]  Discuss if project colors are sufficient as blue / green.

[2016-09-26 16:29] dottorer commented on #413
@phillipoertel Looks nice! Only think i saw so far is that project list should be sorted by months in badge header asc. (Not alpha).

And maybe add a space between the dot and the "in workgroup".

[2016-09-27 10:12] dottorer opened #415 "Newly appointed admin has incorrect admin status"
In PROD:

1. created new circle (circle 11). circle admin is user 179.
2. then I use the join URL for circle 11 and add another user (no approval required).
3. the new helper is successfully added to the circle as user 180.
4. then I have the current admin also add the new user for the role of admin. The status of this role is 'nil' hence the display is broken.
5. Also the button to remove the adm

[2016-09-27 10:40] phillipoertel commented on #413
@dottorer done as requested and reviewable on staging.

[2016-09-27 10:47] dottorer commented on #413
@phillipoertel Looks really slick now - great job. Only thing I am wondering in the overall projects list we display completed projects and not the toggling between open / closed projects like on the workgroup level. Is this intentional?

![image](https://cloud.githubusercontent.com/assets/14217285/18870343/7b5fa44a-84b0-11e6-86af-29752f909e92.png)

[2016-09-27 13:20] phillipoertel commented on #415
**Todos**:

- [x] set a new admin role to active by default
- [x] only the last *active* admin role can't be deleted; blocked admin roles can be deleted.

[2016-09-27 13:24] phillipoertel commented on #415
@dottorer implemented; can be reviewed on staging.

[2016-09-27 13:37] phillipoertel commented on #363
@dottorer implemented and on staging, please review.

[2016-09-27 14:00] dottorer commented on #415
@phillipoertel Tested in STG in circle 56. Works great now. Did we fix the existing PROD, DEMO and STG instances via SQL?

[2016-09-27 14:02] dottorer commented on #413
@phillipoertel looks perfect now! Closing - WDL.

[2016-09-27 14:02] #413 closed

[2016-09-27 14:05] dottorer commented on #363
@phillipoertel Tested on case above - works perfectly now....

[2016-09-27 14:05] #363 closed

[2016-09-27 14:07] dottorer commented on #415
All instances have been fixed in STG, PROD and DEMO by SQL. Closing.

[2016-09-27 14:07] #415 closed

[2016-09-27 14:34] phillipoertel commented on #223
Code is on branch: https://github.com/lale-help/lale-help/tree/feature/skills

[2016-09-27 15:18] phillipoertel commented on #401
@dottorer FYI since a user can be in more than one circle, I'll allow all his circles admins to edit his profile ...

[2016-09-28 13:54] phillipoertel commented on #401
Todos:

- [x] circle admin can edit helper profiles (accessed through helper list)
- [x] circle admin can change passwords of all helpers
- [x] helper can only edit own profile (through "User Menu > My profile" or the helper list)
- [x] helper can only edit own password

[2016-09-28 13:54] phillipoertel commented on #401
@dottorer deployed to staging, asking for review.

[2016-09-28 15:39] phillipoertel commented on #411
FYI :-)
![bildschirmfoto 2016-09-28 um 17 38 47](https://cloud.githubusercontent.com/assets/5188/18920687/6fd2fb98-85a2-11e6-8b77-9bd247c2717f.png)

[2016-09-29 20:39] phillipoertel commented on #411
@dottorer Implemented, please review on staging.

[2016-10-01 05:25] dottorer commented on #401
@phillipoertel Tested in STG, looking very good. I like the new unified clean view with a forms edit, much simpler. Well done!

Only thing I noted was that when the admin gets the 'change password' option for a helper, he can actually set a password. Usually the admin is not supposed to know the password, but simply send the user a link to reset it himself ('request new password'). This will requi

[2016-10-01 05:31] dottorer commented on #411
@phillipoertel Tested on STG - looking nice!

From a visual point of view, the dotted/dashed circle outline is too noisy and draw attention. Also, if a circle is not choosing to require accreditation, then all helpers would be dotted. Therefore I would like to use the normal full circle outline for non-accredited helpers (as is today) and use the grey background for accredited users (as you implem

[2016-10-03 13:30] dottorer commented on #388
@phillipoertel In production, on the circle level I do not yet see the 'Abgeschlossene Projekte...' toggle in the list. I thought we had this implemented just like on the workgroup level, but maybe not deployed yet? Just checking...

[2016-10-05 22:00] phillipoertel commented on #401
@dottorer re password: I agree the mechanism you describe is better (and also more common). However, I simply reused the page that had been used for the password reset before.

I just discovered that there is a real reset password page (at /reset_password) but I won't have time  to investigate why it wasn't used, verify it works correctly, change the code to use it, and remove the then old passwor

[2016-10-05 22:04] phillipoertel commented on #411
@dottorer I changed the dashed user icon outline to a solid one and deployed; can be reviewed on staging.
I also was able to fix the feature specs, but now other tests fails because of the way test data is generated; unfortunately I need to tackle that in another session. I'm quite confident the system works as expected though, so I could deploy to production on Friday morning if you want.

[2016-10-06 15:50] dottorer commented on #411
@phillipoertel Looks great now. We can shore up the test data in the next session...

[2016-10-06 15:50] #411 closed

[2016-10-06 15:51] dottorer commented on #401
@phillipoertel We can leave the password function as is right now and I will open a different ticket to switch to best practice.

[2016-10-06 15:51] #401 closed

[2016-10-06 15:52] dottorer opened #416 "Allow admin to trigger 'change password' flow instead of setting it."
As outlined in #401 the admin can now also change a user's password.  Usually the admin is not supposed to know the password, but simply send the user a link to reset it himself ('request new password'). This will require the user to take action, but is safer since only the user knows the password then. If it is easy and clean to add the 'send new password request') button to the 'edit password' p

[2016-10-10 07:10] dottorer opened #417 "Cannot add document for work group"
While I can still as an admin add documents on the circle level, I can no longer do so as admin or group organizer on the group level.

![image](https://cloud.githubusercontent.com/assets/14217285/19228821/24a8a944-8ec9-11e6-9cbc-28d45e6fef09.png)

It displays the button "Dokument erstellen" and clicking it does nothing but switches back to the group dashboard. On the circle level, we get the butt

[2016-10-12 09:18] dottorer commented on #417
@phillipoertel Now reported by 2 production customers. Would be good to take a quick look and see if it is an easy glitch...

[2016-10-15 19:46] NolanChan commented on #417
Hi @dottorer , I'm unable to reproduce this on the latest master. Are there some specific steps to take? I can create documents in working groups using the Admin profile or Working Group organizer

[2016-10-15 20:38] phillipoertel commented on #417
Was fixed already; check the last commits :-)

Von unterwegs gesendet, deswegen kurz und evtl. mit Tippfehlern

[2016-10-16 06:27] dottorer commented on #417
Sorry, was not able to close this out as fixed yet :-) done now...

[2016-10-16 06:27] #417 closed

[2016-10-16 06:28] dottorer commented on #399
This has not re-occured and we  cannot reproduce. Closing until we have better instructions...

[2016-10-16 06:28] #399 closed

[2016-10-16 07:05] dottorer opened #418 "Translation missing on flash for closing task"
Translation missing for object bind variable on flash for closing task

![image](https://cloud.githubusercontent.com/assets/14217285/19415895/f4de5964-937f-11e6-87bd-821098e7da87.png)

[2016-10-16 07:10] dottorer opened #419 "Descr field for work group too short"
The description field for work group does not allow enough details to be useful:

![image](https://cloud.githubusercontent.com/assets/14217285/19415919/48f192d2-9380-11e6-94c2-c75676911b11.png)

We need to increase it to a meaningful size and handle the display on the WG dashboard gracefully.

[2016-10-22 17:13] NolanChan commented on #235
I'm currently writing up something for PDF's!

[2016-10-22 19:13] dottorer commented on #235
Awesome - much wanted feature!

[2016-10-24 07:11] dottorer commented on #235
@NolanChan @phillipoertel

I deployed a review app for this and added nolanchan@berkeley.edu to it. The access to review apps is 'admin@lale.help' / 'Example1234'.

Trying out some layout things, I found the following:
![image](https://cloud.githubusercontent.com/assets/14217285/19636375/43845c54-99c9-11e6-9fac-d6c0a5468b2f.png)

- I think we need to suppress the first column (which is the helper

[2016-10-24 14:26] NolanChan commented on #235
CSV is much more straightforward so I can write something up for that.
And for the PDF, I think the less columns we include, the better looking it will be. If you let me know which columns to include/exclude, I can write up a quick layout file

[2016-10-24 15:05] dottorer commented on #235
@NolanChan  Thanks for looking at CSV, we should include all fields in there.

For PDF, I think we should keep the following:

- Name
- Address (pretty layout with line feeds)
- Phone number (pretty layout in 2 lines if both mobile and land line are given)
- Email
- Member since
- Accredited until
- Last login at (all three with readable date format)

Thanks!

[2016-10-24 15:35] dottorer opened #421 "Open task counter on project list shows wrong count"
The first number for the badge with the check mark icon should show open out of total tasks/supplies inside the project. It seems to only show the total number twice:

![image](https://cloud.githubusercontent.com/assets/14217285/19652194/30150578-9a10-11e6-8d63-1899d772bcce.png)

[2016-10-24 16:54] NolanChan commented on #235
Could I get an example of what a pretty layout/readable format is? (Or where it exists in the code base? Thanks!)

[2016-10-26 09:49] dottorer commented on #235
@NolanChan
![image](https://cloud.githubusercontent.com/assets/14217285/19721222/a71b872a-9b71-11e6-9223-0b58914576ac.png)

I was only referring to
1. better cell padding to avoid run-in text
2. for address, use format of multiline with:
*street*,
*city*,
*postal*, *state*, *country*
3. for phone, use 2 lines mobile and landline
*M: xxx xxxx xxxx*
*H: yyy yyyy yyyy*
4. Email do not wrap in col
5.

[2016-10-26 22:16] NolanChan commented on #421
PR'd a possible solution! Is there someone who is in charge of code reviewing?

[2016-10-31 11:02] dottorer opened #423 "Allow admins to export helper details in CSV format"
Similar to #235 we should allow admins to export all helper data in CSV format for them to further massage in Excel.

[2016-10-31 11:03] dottorer commented on #235
Hi @NolanChan , I was working with @phillipoertel on a few things and he took a quick look at the PDF PR as well. We should be able to merge and deploy without issues when we have the layout done on the reduced number of columns for PDF. Sounds like a plan?

Also, I split up the CSV generation in a separate issue in #423. This way we can take it bitesized.

[2016-10-31 11:34] dottorer opened #424 "PROD bug: new helper created twice in registration"
Circle 7 had this issue where a helper signed up and somehow during the registration, we create 2 entries in the 'users' table. Only the first one has a corresponding 'user_identities' entry. When trying to open the admin/invite page, the page failed since it could not render the pending join request for that user.

`Oct 31 03:59:39 lale-help app/web.1:  ActionView::Template::Error (undefined meth

[2016-10-31 11:36] dottorer commented on #424
![image](https://cloud.githubusercontent.com/assets/14217285/19852938/893a2f6a-9f66-11e6-9e7a-e127898b2e24.png)

User 229 was created without email entry from user_identities.

[2016-10-31 11:47] dottorer commented on #421
@NolanChan Verified in review app, merged in master, deploying asap. Well done!

[2016-10-31 11:47] #421 closed

[2016-10-31 17:48] NolanChan commented on #235
Sounds good, I'll post up the new code and picture when I get home from work. I have a working stereotype but i haven't had the time to upload it

[2016-11-01 07:42] dottorer commented on #235
@NolanChan Very nice! in a new review app, I tested:

- admin user in English and German can see PDF button and get correct language column headings!
- non-admin user does not get to see PDF button
- layout looks good in english and german
![image](https://cloud.githubusercontent.com/assets/14217285/19882580/ecf64478-a00e-11e6-992c-16ee936f96a2.png)

Only nits:
- name in first column is blue link

[2016-11-01 18:48] NolanChan commented on #235
@dottorer , I'll see how easily these changes are and I'll get back to you.

[2016-11-14 06:11] NolanChan commented on #235
Hi @dottorer , sorry it's been so long since a status update. The second and third bullet are pretty easy to implement (I've done so already); the first (of getting the names to be black) is sadly a bit more difficult because I'm not exactly sure how Wicked_PDF plays with regular Rail's CSS files. I haven't had any time to devote to this because of other projects, but I hope to get to it this week

[2016-11-14 07:52] dottorer commented on #235
@NolanChan You're a star - thanks for the updates. I might merge the latest changes in and then we can update again if the linkage can be suppressed.

Once we get this out, I am sure the will scream more for CSV than further PDF enhancements, I would expect. Getting lots of new demo customers and more production customers as well now, so usage increased :-)

[2016-11-20 05:37] NolanChan commented on #235
@dottorer I updated my branch with the code changes, but the PR should stay the same. Let me know what you think! I'll look into the CVS option now

[2016-11-20 14:26] dottorer commented on #235
@NolanChan I saw that the file name is now nicely formed and the commas are gone, but the first column is still a link in the deployed build of the PR. Same for you?

![image](https://cloud.githubusercontent.com/assets/14217285/20463543/a2a8b672-af35-11e6-90b7-ea2557c3a62a.png)

Let me know if we have all the latest in the branch deployed and I will test, merge and push out for all to use.

[2016-11-21 02:47] NolanChan commented on #235
Hey @dottorer , I forgot to take off the link. I just pushed up the newest version where the names are no longer links; I also included the translations. Also, are you still seeing the names as blue? In my localhost, I made sure the names are grey as such:

<img width="1146" alt="screen shot 2016-11-20 at 6 44 01 pm" src="https://cloud.githubusercontent.com/assets/1487616/20469070/caa370b0-af51-11

[2016-11-21 22:48] diegoaad commented on #418
Assigned this one to myself as it's an easy/simple one, just to shake the rust off.

[2016-11-21 23:10] diegoaad commented on #416
Hi @dottorer if you're ok with it, I can assign this to myself and see if I can make it work using the 'change password' flow. I haven't looked at the code, but I imagine it's something I could do.

[2016-11-22 09:09] dottorer commented on #416
@diegoaad Totally, go for it. Thanks for your help!

[2016-11-22 09:31] dottorer commented on #419
@diegoaad Maybe something to look at as well? We could use a longer description , but need to figure out how to fit it in the pages where it is displayed...

[2016-11-22 09:32] dottorer commented on #418
Thanks. Merged!

[2016-11-22 09:32] #418 closed

[2016-11-22 09:33] dottorer commented on #235
This was completed in #425 and merged and deployed - Awesome work, @NolanChan !!!

[2016-11-22 09:33] #235 closed

[2016-11-22 10:05] dottorer commented on #217
This could be a good candidate for the upcoming code-4-good hackathon at Workday.

The way I envision it is that there is (tiny-)URL on the user profile pointing to the remote ics calendar showing all the Lale tasks and supplies the user is signed up to. This would be located on the 'My activites' page:

![image](https://cloud.githubusercontent.com/assets/14217285/20519400/20599014-b0a3-11e6-9ccd-

[2016-11-22 10:06] dottorer commented on #217
@phillipoertel  If you have any other technical insights in which GEM could do this for @diegoaad and the hackathon troops, please enter them on the issue - thanks!

[2016-11-22 10:08] dottorer commented on #404
I think for now the blog remains DE only, until we do further investment in the site. Thanks for bringing it up though!

[2016-11-22 10:08] #404 closed

[2016-11-22 10:13] dottorer opened #427 "Use WhatsApp to invite helpers for tasks"
Today we use email to contact helpers and invite them to take on new tasks. We also send email to remind them of upcoming tasks and or changes or comments on tasks. Some groups have requested that since email to not checked often enough, we should consider a channel like WhatsApp to post these messages.

Concept:
1. For each user that has entered their mobile phone number, allow to use WhatsApp as

[2016-11-22 10:14] dottorer commented on #427
@diegoaad Here is another one we discussed as a candidate for the hackathon.

[2016-11-22 10:22] dottorer commented on #242
@diegoaad this is the last one for the hackathon, maybe we can prepare it a bit better to give people a head start on building this page in a more sexy way...

[2016-11-22 10:23] phillipoertel commented on #217
@dottorer I had used the [vpim gem](https://rubygems.org/gems/vpim/versions/13.11.11) for that, and it's still in use in the application today. But there seem to be more modern/maintained alternatives now, some gems in this list can also read/write the iCalendar format. https://www.ruby-toolbox.com/categories/calendars.

[2016-11-22 10:55] diegoaad commented on #217
@phillipoertel thanks for the tip. I'll take a look at the alternatives we have nowadays.
@dottorer  I believe this is probably the item we'll try to tackle first as part of the hackathon project. This seems to be a pretty self contained feature, that should be doable within less than a day of coding.

[2016-11-22 10:58] diegoaad commented on #427
@dottorer I will do some spike work on this one. I think it's a great feature but there might be some technical challenges, mainly around connecting our app with an whatsapp server/account since this might require having some sort of actual number to be able to send the messages. Anyways, I'll look into that and keep updating the issue with information I find.

[2016-11-22 11:05] diegoaad commented on #419
Sure I'll take a look on this one as well. It should be simple to fix, but I have to make sure I don't mess up with any css.

[2016-11-22 11:37] diegoaad commented on #427
It seems that whatsapp doesn't have an official API. I saw a couple of libraries to connect/send messages via whatsapp, but haven't found many resources related to them: https://github.com/ongair/whatsapi and https://github.com/spkprav/yowsup. The latter one is a python library, but I saw a ruby app integrating with that (https://github.com/spkprav/yowsup-stalker-ruby-demo).

[2016-11-22 17:36] dottorer opened #428 "No longer default task location from helper circle location"
Currently we default the task location from the circle location, but this is more often wrong than right and users have to delete this default all the time. Annoying. We should stop this default.

Instead we should implement #138 at a later stage.

[2016-11-22 17:36] dottorer commented on #428
@diegoaad this should be a super quick fix to turn it off, right? wonna look? :-)

[2016-11-22 18:42] Dbz commented on #404
My pleasure! Best of luck with the project. I think it has a lot of potential :)

[2016-11-22 20:44] diegoaad commented on #428
@dottorer yes, it should be simple enough. I took a look already, and the same form is used for new tasks or for editing a task. I kind of have coded the change directly on the form view, but doesn't feel right. I'll code it later to change the controller or the model to not return a default location for new tasks.

[2016-11-22 22:47] diegoaad commented on #428
I think I found the right place to fix it. Will create a PR for that.

[2016-11-22 23:36] diegoaad commented on #419
The field was set to max 200 chars. I've increased it to 2000, but as you said we'd need to figure how to fir in pages where displayed. I've changed the view working group page to increase the text area a little bit and have a vertical scroll bar if it goes beyond the size of the text area. I'm not sure where else this description would be shown, apparently it's only on this page. Let me know what

[2016-11-23 07:15] dottorer commented on #419
I think this looks real good. I don't think we show the description anywhere else for workgroups. But we have the exact same thing on the circle. Could we make it the same behavior there as well?

[2016-11-23 12:59] dottorer commented on #419
Also, would need to check how the scrolling works on mobile devices or if we need to truncate there. We can check once its in a review app.

[2016-11-24 22:56] diegoaad commented on #416
@dottorer quick question on this one. I've started working on it, and I'm creating a new page for the admin to confirm the e-mail (not-enterable) to trigger the reset-password flow. Should we have something else on the page? Or it's not necessary to have a confirmation page and instead just show a flash message as soon as they click on the button?

[2016-11-25 05:34] dottorer commented on #416
Cleanest thing would be to just send out the email to the user that takes them to the update password page. We might gave users that are so nontechnical that they would prefer the admin to do it for them.

One thing we can consider us having both options on the page with 'send password change request to user'  as the first option and 'set new password for user' as a second. What do you think? Do 2

[2016-11-25 08:26] dottorer commented on #419
@diegoaad I think this looks pretty good. I tested the review app on IE and Edge.

Also on iPad, where you can sort of scroll a bit, but it does not indicate a scroll bar there visually. I think it is ok though, if folks really must add super long descrs...

So I'd say I can merge this PR if you are ok.

[2016-11-25 09:46] diegoaad commented on #416
Hmmm, I think the cleanest approach would be sending an email to the user so they can change the password themselves. Even though they could do it themselves at the login page, some might be asking admins to do it for them. I don't think it's a good practice for the admins to know the user's password.

As you said there might be users that are so nontechnical that they could prefer an admin actual

[2016-11-25 09:49] diegoaad commented on #419
Sounds good. Feel free to merge the PR 👍

[2016-11-25 11:13] #419 closed

[2016-11-25 11:13] dottorer commented on #419
Merged. Thanks man!!!

[2016-11-25 11:14] dottorer commented on #403
Fixed today....See on Lale.help....

[2016-11-25 11:14] #403 closed

[2016-11-25 18:48] Dbz commented on #403
👍 Keep up the good work!

[2016-11-26 06:54] dottorer commented on #416
I agree, i think we should remove the option to set a password and instead only let the admin trigger the reset password flow. If users can't follow that, they will likely not be able to use the system anyways. Let's do it that way...

[2016-12-01 18:47] NolanChan commented on #423
Hi @dottorer , I should have a working prototype up in a PR by tonight (your morning)

[2016-12-01 18:49] NolanChan commented on #332
Hi @dottorer I think I can look into this one. Also is there a list of issues that need to be done sorted by necessity?

[2016-12-02 08:18] dottorer commented on #332
@NolanChan Thanks for looking into it. I usually label the issues that could use some help with 'help wanted' so they can be identified. I will go through the list and check that they are correctly applied.

[2016-12-02 15:49] dottorer opened #432 "Improve layout and usability of projects"
Based on deep user feedback, we need to improve the way projects are represented in Lale and can be interacted with. Here is a new design mockup with changes required:

![image](https://cloud.githubusercontent.com/assets/14217285/20935743/48b38590-bbe0-11e6-8648-fd3fce27abff.png)

![image](https://cloud.githubusercontent.com/assets/14217285/20935764/5af5b944-bbe0-11e6-9a11-944680b542d1.png)

![ima

[2016-12-02 15:54] dottorer commented on #77
This is addressed by now so closing...

[2016-12-02 15:54] #77 closed

[2016-12-02 15:55] dottorer commented on #407
Cannot reproduce, seems to be resolved or occurring sporadically. Closing for now.

[2016-12-02 15:55] #407 closed

[2016-12-02 18:04] dottorer opened #433 "Show file details for uploaded documents"
We need to show all available file details to the document owner. Ideally we can show this in a nice form as designed in #338.

![image](https://cloud.githubusercontent.com/assets/14217285/20844786/ccd157b6-b8c1-11e6-9173-892dad5e38e2.png)

Today we only show:

![image](https://cloud.githubusercontent.com/assets/14217285/20844804/e702a054-b8c1-11e6-99a7-30b37cf07fc9.png)

We should show:
- "pretty

[2016-12-02 18:05] dottorer commented on #433
@NolanChan @diegoaad This could be a good small improvement based on a user feedback call I just had...

[2016-12-03 10:44] dottorer opened #434 "In leftnav sort working group by alpha ascending"
Currently the working groups are listed by their ID (= time of creation), which is not helpful to the user.

![image](https://cloud.githubusercontent.com/assets/14217285/20858804/cc79037c-b94d-11e6-9805-3b70924f99ab.png)

They should be sorted by alpha asc, both above and below the line (indicating where a user is member).

[2016-12-03 10:45] dottorer commented on #434
@diegoaad small fix?

[2016-12-03 10:48] dottorer opened #435 "When editing a work group, prompt list of users for organizers/group member is wrongly sorted"
When editing a working group, we can add helpers as Organizers or as Group Members. The prompt list is randomly sorted which caused confusion in large groups:

![image](https://cloud.githubusercontent.com/assets/14217285/20858843/8f20b924-b94e-11e6-9c0b-f8e13b0c00f8.png)

We should sort these by lastname, ascending. If possible, we could display the name in the list by "Lastname, Firstname" like:

[2016-12-03 10:50] dottorer commented on #435
@diegoaad From a user feedback session...quick fix?

[2016-12-03 22:15] NolanChan commented on #434
Left a comment in the PR as to the appropriateness of my fix

[2016-12-04 15:40] dottorer commented on #435
@NolanChan Is this a similarly quick one to establish a better sort order?

[2016-12-05 13:48] diegoaad opened #438 "On sign up form change default language to German"
Let's set it to German by default and skip the check for browser's locale logic.

[2016-12-05 13:54] diegoaad opened #439 "Add capability to track circle's external URL"
We need to be able to track and persist the circle's external website/URL. This information should be shown in:
1. Map popup
2. Probably somewhere in the circle dashboard (we'll be designed/decided later)

[2016-12-05 14:08] diegoaad commented on #242
Per meeting with @dottorer on 05.12.2016 here are the bugs/enhancements to worked on.

Bugs:
- [ ] 1. Add flag/point to show searched address.
- [ ] 2. Zoom: 50km from the search address
- [ ] 3. Hove over should be on top of circle dots (currently it's showing behind it).
- [ ] 4. Don't show any pre-selected circle.
- [ ] 5. Translate fields in popup for circle information
- [ ] 6. Fix values for

[2016-12-05 14:40] diegoaad commented on #217
At hackathon we built the 1st version of this which uses icalendar gem (http://icalendar.rubyforge.org/). Right now the data is static and generated whenever the user exports the ics file. Once the tasks in lale change, the data in the ics becomes stale. We should look for a solution that allows us to keep it updated with lale's data.

Per meeting with @dottorer on 05.12.2016, these are the things

[2016-12-05 16:25] diegoaad commented on #217
As an example, I found 2 apps that do what we want to accomplish here:
- https://www.wunderlist.com/blog/sync-your-calendar-with-wunderlist/
- https://tripit.zendesk.com/hc/en-us/articles/226107967

Basically they generate an ics file and make it available on their server. With that, the user can subscribe to the lale's calendar on their preferred calendar application. The caveat here is that for

[2016-12-05 21:29] phillipoertel commented on #217
Some suggestions:

1. I'd suggest implementing an ics representation of the "my activities" action, using respond_to: http://apidock.com/rails/ActionController/MimeResponds/respond_to. The calendar is just another representation of the my activities page. That way, you're staying RESTful and don't have to make a separate controller/action. Since it's a regular Rails action the data that goes into

[2016-12-06 07:30] dottorer commented on #217
Awesome @phillipoertel  - thank you so much for the detailed pointers!

[2016-12-06 07:38] dottorer commented on #434
@NolanChan works like a charm. Merged and pushed to STG / DEMO. PROD on next scheduled release.

THANKS!

[2016-12-06 07:38] #434 closed

[2016-12-06 09:38] diegoaad commented on #217
That's great @phillipoertel, thanks a lot for all the info. I was actually using respond_to in the version we built for the hackathon. Good to know about #2, that should cover the authentication part of it. Regarding #3, that's the concept other apps like Wunderlist and TripIt are using. In their documentation they instruct their users to use the subscribe feature on their calendar tool rather tha

[2016-12-06 16:53] dottorer opened #440 "When closing a project, allow to close all open included tasks and supplies"
Sometimes a project completes, but the helpers did not yet close all included tasks or supplies. It is very painful to have to go and close our the tasks one by one and then close the project. Better would be:

1. when closing project with open tasks / supplies, ask 'This project still has open tasks or supplies. Do you really want to close them all as well?'
2. Offer "Cancel" and "Continue" optio

[2016-12-06 17:24] dottorer commented on #432
@diegoaad Per our chat yesterday, I simplified the design / UX aspect of the layout somewhat to be in line with the currently applied layouts. Might be easier to do this way. Added the comments in there as a requested feature. Take a look and let me know what you think...maybe we can find someone for it.

[2016-12-06 17:53] dottorer commented on #428
@diegoaad I realized that the location is a required field. If we do not default it, users must enter something to save the task which could be even more painful. Could we make the field 'Location' not required on all the forms to add or edit tasks or supplies? Could we check if there is any other dependency on this field being there?

[2016-12-06 18:06] dottorer opened #441 "Spike: Email invites for large project potentially causing performance issues"
![image](https://cloud.githubusercontent.com/assets/14217285/20937374/faf2a640-bbe6-11e6-87bd-3c0689f98e19.png)

For a project email invite through Mandrill, we might encounter a severe performance degradation when the target email audience is large. This happened in PROD for a group of roughly 60 helpers that were invited to a project.

[2016-12-06 18:07] dottorer commented on #441
@phillipoertel Do you think this could be a recurring pattern for Mandrill calls? The Rails app failed when the Mandrill service took too long, but the email were in the end sent (in Mandrill logs).

[2016-12-06 18:23] phillipoertel commented on #441
It would be best to always send the invitations asynchronously. Maybe Mandrill supports that out of the box; if not, use a queue system like delayed_job or sidekiq. Both can be used through Rails' ActiveJob interface, IIRC.

[2016-12-06 18:48] diegoaad commented on #428
Sure, I think it should be really simple to make it not required since they all share the same form. But I have to check what's the impact of not having a location for a task.

[2016-12-07 07:11] NolanChan commented on #433
Hi @dottorer , can I assume this specific issue just concerns the edit page? And if it does, how would you like the extra information to be shown on the page? Is there a similar page that I can look to?

[2016-12-07 07:31] NolanChan commented on #433
Were you thinking of something like this?

![screen shot 2016-12-06 at 11 30 54 pm](https://cloud.githubusercontent.com/assets/1487616/20958745/10449aba-bc0c-11e6-8abb-d48aa1cc638e.png)

[2016-12-07 09:32] diegoaad commented on #433
@NolanChan when talking to @dottorer I understood that we'd still allow only the Name and the option "Visible to all helpers" available for edition. But on top of that we should show the File info including doc name, size, mime type and uploaded by/on. This could be a new widget on top of the page, like this one:

![](https://cloud.githubusercontent.com/assets/14217285/20844786/ccd157b6-b8c1-11e6-

[2016-12-07 09:56] dottorer commented on #433
@NolanChan Yep, this is what I am dreaming of. We would then have a reusable representation of any document with its core data displayed. I will create some mockups asap to make my thoughts more clear.

[2016-12-07 10:26] dottorer commented on #435
LGTM! thanks!!!!

[2016-12-07 10:26] #435 closed

[2016-12-07 11:00] dottorer commented on #439
@diegoaad Here is a simple way to show this on the circle start page:

![image](https://cloud.githubusercontent.com/assets/14217285/20965153/b8bcc6aa-bc74-11e6-9a2b-06125b5a9c00.png)

Let me know what you think...

[2016-12-07 11:34] dottorer opened #442 "Allow updating of stored file for document"
Today, we do not support the updating of stored files for our documents. This is problematic since users have to completely delete a document (and its associated file in S3) and create a new one. This makes collaboration and repeated updates impossible, breaks the URL to the document and is generally suboptimal.

We should instead:
1. provide the option on the 'Edit document' page to upload a new

[2016-12-07 11:35] dottorer commented on #433
@NolanChan On the page 'Edit document', the solution you shown above would be a quick stop gap and can be helpful. I would request that for the immutable fields (anything but pretty name and visibility), we do not show the frame around the field but only the value. Maybe it is possible to condense the info in 2 cols or something neater without too much work.

Also, on this specific page it would b

[2016-12-13 20:24] NolanChan commented on #433
Hey @dottorer , I'm trying to make a simple code representation of your mock up. Could I get that default Lale picture?

[2016-12-14 07:27] dottorer commented on #433
Hi @NolanChan : were you thinking about the tulip icon? I think we could use this for it...

![laleiconreversed60](https://cloud.githubusercontent.com/assets/14217285/21173259/22a1ae52-c1d7-11e6-9570-cd504acde6c3.png)

I can send you the SVG directly as well...

[2016-12-16 10:13] dottorer commented on #428
Hi @diegoaad I am ready to release the latest build out to PROD but I already merged this fix for the default into master. I don't want to release it with location as required if we don't default it anymore, but similarly am not sure where we might need location to be present. Is there any chance you could look into this and see what happens if we make it non-required? Would you have a little bit

[2016-12-20 03:43] NolanChan commented on #440
@dottorer , just for clarification when you say 'close' do you mean 'complete'?

[2016-12-20 05:12] NolanChan commented on #440
Some assumptions I made with my PR:

- I edited the projects#complete action and made sure that whenever this action is called, all incomplete tasks and supplies are also closed. I assume that every time a project is closed, it's associated tasks/supplies must also be closed
- I replaced the javascript alert with a regular rails confirm dialog to ask the user
- Because I'm using the regular rails

[2016-12-20 05:13] dottorer commented on #440
Yep, by close i meant complete the project. I sometimes use those words interchangeably.

[2016-12-20 05:36] dottorer commented on #440
@nolanchan Great, i will check it out and think if we even need the ability to complete a project but have included tasks remain open. If not,  the continue/cancel options in the dialogue might be sufficient.

[2016-12-27 08:19] dottorer commented on #428
Hi @diegoaad Any chance we can look into this to see what breaks if we leave the location field empty on tasks / supplies? If it is complicated we might revert the merge until we know. Trying to tie up the bundle for a next PROD release...thanks and greetings to Brazil!

[2016-12-27 18:04] NolanChan commented on #428
From my initial observation,`primary_location` (retrieved from the form) and `location_assignments` (which is created from `primary_location`) don't seem to be used in anything crucial for tasks or supplies, but another look would definitely be good

[2016-12-28 04:20] jprokay commented on #432
@dottorer can you send me or add the icon for the description? I have a prototype of the following parts of the new layout:
- Moved working group and period underneath the description
- Created Comments tab with a box for adding comments and a list of previous comments
- Created Stats tab containing the basic stats for helpers, tasks, and supplies

[2016-12-28 04:47] jprokay commented on #432
Also, any guidance on the sizing of text in the header of the project would be much appreciated!

[2016-12-28 07:53] dottorer commented on #432
Hi @jprokay we could try one of the following icons...

![img_0786](https://cloud.githubusercontent.com/assets/14217285/21516940/02814556-ccdb-11e6-8825-6482dae2f7b9.PNG)
![img_0787](https://cloud.githubusercontent.com/assets/14217285/21516941/02b100d4-ccdb-11e6-91d9-70803678dec3.PNG)

[2016-12-28 07:56] dottorer commented on #432
Ooops, these uploaded quite large so we will need to size them accordingly...

The title size should be the same as for tasks. The font size for the description should be legible but not taking too much space.

For the comments tab, i assume you reused the existing commentaboe feature like we do for tasks today, right?

Looking forward to seeing your prototype in a review app :-)

[2016-12-30 22:54] jprokay commented on #432
@dottorer what gems are used to encode the icons? I resized and converted one to a SVG, but I am not sure how I expose it as a variable in:
app/assets/stylesheets/settings/_icons.scss
I assume the \f119 assigned to $lale-icon-supply automatically happens with the use of some gem?

Everything else is pretty much good to go!

[2016-12-31 09:06] dottorer commented on #432
I think we encoded some icons in a font, too. @phillipoertel did that and might be best to show how.

We could add the icon later, too, if we want to proceed for now on the PR.

[2017-01-02 08:30] dottorer commented on #439
Hi @diegoaad Happy New Year to you and Jessica!

Do you have some time scheduled for Lale this month? Phillip has offered to help the week of Jan 9th and all work ready by then could be reviewed and merged by him. How does that sound for some of the tickets you have worked on recently?

[2017-01-03 08:59] dottorer opened #445 "Investigate Rollbar Errors 54 and 55 on Geonames"
We frequently get these in PROD:

https://rollbar.com/lale-help/lale-help/items/54/

https://rollbar.com/lale-help/lale-help/items/55/

We need to investigate cause and see if we can fix.

[2017-01-03 09:01] dottorer opened #446 "Investigate Rollbar Error 28 on file retrieval"
Need to look inoto

https://rollbar.com/lale-help/lale-help/items/28/

[2017-01-03 09:06] dottorer commented on #337
Related to #432 . Maybe some thing for @jprokay later? :-)

[2017-01-09 00:59] NolanChan commented on #433
![screen shot 2017-01-08 at 4 58 08 pm](https://cloud.githubusercontent.com/assets/1487616/21755157/be4467aa-d5c3-11e6-84bf-4b7e7ad9e01d.png)

Hi @dottorer , here's a rough draft of my mock up so far. Could you give me some pointers on how it is so far? I haven't coded in any of the back-end yet to show any actual values.

[2017-01-09 10:06] dottorer commented on #432
@jprokay @phillipoertel

Tested this much improved way for projects UX in the review app. Here are the missing items:

- [ ] translations to German for field 'Description', 'Add xxx' buttons and 'Stats' tab
- [ ] Icon for description needs to be added
- [ ] Layout of header table not quite using all the space it should.
![image](https://cloud.githubusercontent.com/assets/14217285/21762738/b58c7dc2

[2017-01-09 11:57] dottorer opened #447 "Refactor location and address model for task, supplies, circles and users"
We have a problematic implementation of addresses for our various key business objects which leads to complexity and bugs. Here is what we know:

1. We can track `locations` in the google style with geocode_query_ longitude, latitude and the json for geocode_data. This information can help place spots on a map. For tasks and supplies, only locations are stored.
2. We can track precise postal `addr

[2017-01-09 14:06] phillipoertel commented on #432
FYI @jprokay I just documented how to add icons to the font: https://github.com/lale-help/lale-help/tree/projects_layout#adding-icons-to-the-lale-iconfont.

I'm working on the issue right now, added the icon and will do some more; hope we don't step on each other's toes?

[2017-01-09 15:13] phillipoertel commented on #432
@dottorer The project dashboard has working group and organizer name in one row; task and supply pages have them in separate rows (please compare screenshots). Should I update task and supply to also use only one row, or stay with the existing layout?

*Project*

![bildschirmfoto 2017-01-09 um 16 09 25](https://cloud.githubusercontent.com/assets/5188/21771134/78c5c3d6-d686-11e6-8acc-3e5f08f5489a.p

[2017-01-09 15:20] phillipoertel commented on #432
@dottorer btw. the sentence "{working_group} organized by {user}" is a little confusing since we display the *project admin* there, rather than one of the *working group* organizer(s).
In practice this probably won't cause problems since a project admin needs to be a working group organizer (as of now).

[2017-01-09 16:26] dottorer commented on #432
@phillipoertel I think the new one-line version from the projects should be used in task/supply as well to make it cleaner and consistent. I think we could leave a bit more spacing before the 'organized ...' and after the '... by'.

Thinking more about it, it seems that the most important info is who organizes the project (or task/supply), secondary is the working group this is in so we have a qui

[2017-01-09 17:10] dottorer commented on #330
@phillipoertel This is a frequent request by early Lale users. I updated the requirements above for your review. Let me know what you think.

[2017-01-09 18:23] NolanChan commented on #330
This doesn't look too bad, I can work on this one if you're busy with other stuff @phillipoertel

[2017-01-09 18:32] dottorer commented on #330
@NolanChan Coolio, give it a whirl.

[2017-01-10 08:53] dottorer commented on #432
@phillipoertel Please add a thin frame around the invite buttons to make it more consistent with task/supply...

![image](https://cloud.githubusercontent.com/assets/14217285/21799684/94b3bfe6-d71a-11e6-97a7-f78dcd19f467.png)

[2017-01-10 08:55] dottorer commented on #446
@phillipoertel FYI -  I just reproduced this. I think it happens when we have a browser window open, the session expires and then we click on the file link to retrieve it.

[2017-01-10 10:13] phillipoertel commented on #432
@dottorer what would the area above the buttons look like then? Just adding a border around the buttons wouldn't make it consistent with to task/supply, since there's no box title and user badges. I didn't manage to make this look good ...

[2017-01-10 14:02] dottorer commented on #432
Merged and ready to deploy...thanks @jprokay and @phillipoertel !!!

[2017-01-10 14:02] #432 closed

[2017-01-10 14:05] dottorer opened #448 "EPIC: Improvements for Documents"
We have a series of improvements to our documents feature which we should work on in this Epic:

- [ ] #338 - show documents as tiles
- [ ] #433 - show file details
- [ ] #442 - allow updating of stored file
- [ ] #337 - Add documents to projects
- [ ] #307 - Add documents to tasks
- [ ] #83 - External links as documents

[2017-01-11 09:17] dottorer commented on #423
Pushed to PROD - thanks @NolanChan

[2017-01-11 09:17] #423 closed

[2017-01-11 09:19] dottorer commented on #440
Pushed to PROD - thanks @NolanChan

[2017-01-11 09:19] #440 closed

[2017-01-11 09:20] dottorer commented on #428
After verification of making location not required on tasks and supplies, pushed to PROD.

Thanks everyone!

[2017-01-11 09:20] #428 closed

[2017-01-11 09:40] dottorer opened #449 "Asynchronous Email delivery using sidekiq workers / redis"
Based on #441 we decided to leverage sidekiq workers (DelayedMailer) to deliver emails. This requires to add a worker for heroku ($25 / month) and a redis service (RedisCloud with 30MB memory limit for free).

The actual delivery code can remain the same but emails should be delivered from the worker in a scalable way.

[2017-01-11 09:41] dottorer commented on #441
Closing based on @phillipoertel's research of options with decision to implement sidekiq worker process for delayed email delivery. See implementation in #449.

[2017-01-11 09:41] #441 closed

[2017-01-11 11:07] dottorer commented on #448
@phillipoertel @NolanChan @jprokay @diegoaad
First cut of new design spec is ready for review. Let me know what you think!

[2017-01-11 17:10] dottorer opened #451 "Add tasks / supplies directly from within work groups"
As we have now enabled for projects, we should provide the new 'Add task' and 'Add supply' buttons directly inside the working group homepage. When adding a new task, the work group should be pre-populated with the right value:

![image](https://cloud.githubusercontent.com/assets/14217285/21858357/108bc24e-d829-11e6-9131-44e002ff3345.png)

Of course, this button is only available to admins and the

[2017-01-11 17:11] dottorer commented on #451
@jprokay This might be a quick win in usability and has been asked by users for. Given that you have already added this for projects, might be easy to add here as well.

[2017-01-12 09:13] dottorer commented on #449
Signed, sealed and delivered to all envs - AWESOMENESS by @phillipoertel

[2017-01-12 09:13] #449 closed

[2017-01-13 10:11] phillipoertel commented on #438
Hi @diegoaad after discussing with @dottorer, I did the following:
- make "German" the first option in all select form elements
- leave the locale check unchanged; it's already quite smart. The browser's locale is only used as last resort, before it checks if there's a circle and uses that language; see https://goo.gl/szMCQO

[2017-01-13 10:59] dottorer opened #453 "Hover over popup for helpers is not located properly in helper list"
If no scrolling is done, the popup appears correctly, once we scroll, position is off and leading to a flickering browser behaviour.

[2017-01-13 11:32] dottorer commented on #227
Long time in the wish list - come out great! Thank you @phillipoertel !!!!

[2017-01-13 11:32] #227 closed

[2017-01-13 12:25] Matthias-Lale commented on #227
Hi Ralf,

sehr schön, hat bei mir gleich funktioniert. Jetzt wollte ich das Bild ändern, hat auch geklappt.

Aber es zeigt auf dem Profil, wenn man auf „Bearbeiten“ klickt immer  an „keine Datei ausgewählt“, auch nach dem neu eingefügten Bild.

Von: Ralf Schroeder [mailto:notifications@github.com]
Gesendet: Freitag, 13. Januar 2017 12:33
An: lale-help/lale-help
Cc: Subscribed
Betreff: Re: [lale-he

[2017-01-17 06:13] NolanChan commented on #448
The spec is straightforward and looks good! Not sure if it should go on the doc, but we may also need to add possible points of testing as well

[2017-01-17 06:15] NolanChan commented on #394
Hi @dottorer , just FYI I think this one has been fixed already

[2017-01-17 07:57] dottorer commented on #394
Yep, i think so too. Thanks!

[2017-01-17 07:57] #394 closed

[2017-01-17 08:21] NolanChan commented on #330
@ralf Mostly done, although I'm not sure if the validation for "start cannot be in past" is implemented anywhere else in Lale. It seems that in the calendar pop-up, all past dates are greyed out and cannot be chosen. The user can still manually enter a past date though. Is this enough protection, or do you want a real validation?

[2017-01-17 15:05] dottorer commented on #330
@nolanchan if possible we need the validation as outlined above:

1. Start not in the past
2. end not before start
3. all tasks and supplies as part of project should have a due date between start and end of project. Warn when saving task/supply.

Does this make sense?

[2017-01-17 15:06] dottorer commented on #330
As for the Start not in the past, the normal greying out in the date picker is enough.

[2017-01-17 15:08] dottorer commented on #453
@diegoduarte @Phillipoertel  mentioned this requires taking the scroll offset into account. Maybe ge can give you a pointer as how this could be fixed.

[2017-01-17 15:10] dottorer commented on #438
Fixed in recent deployment. Nice!

[2017-01-17 15:10] #438 closed

[2017-01-17 15:12] dottorer commented on #121
Has not been requested by users and is not inline with our approach to connect helpers personally. Closing as NLA.

[2017-01-17 15:12] #121 closed

[2017-01-17 18:23] phillipoertel commented on #453
Displaying the user preview info is done with pure CSS, no JavaScript involved; see: https://github.com/lale-help/lale-help/blame/ec632ed37d59633011f112fdab9a0e072a5a729f/app/assets/stylesheets/components/_user_icon.scss#L45-L50

So subtracting jQuery's scrollTop (https://api.jquery.com/scrollTop/) to fix the position isn't possible. There's probably a solution with pure CSS as well, but you'll ha

[2017-01-26 22:56] #332 closed

[2017-02-13 00:24] jprokay commented on #337
I am going to begin working on this

[2017-02-13 01:49] jprokay commented on #337
Should the projects page have a tab for documents, identical to the list of documents a user sees if they click into the Documents page from the dashboard?
Since documents are going to live on many different objects now, the dashboard view should have lists for all the different objects with documents (circles, working groups, projects, etc.) and each object's dashboard should have a list that is

[2017-02-13 04:35] jprokay commented on #337
<img width="644" alt="screen shot 2017-02-12 at 8 34 18 pm" src="https://cloud.githubusercontent.com/assets/1214207/22871124/d6ffa4f2-f162-11e6-9d29-5faa1dad4865.png">

[2017-02-13 14:05] dottorer commented on #337
Hi @jprokay Thanks for your start on this. I think on the projects level, it would be great to do this with a tab as you outline. This is essentially following the approach we have on work groups.

Ideally we could connect with @NolanChan and see if we could get the tiled layout for this tab worked on as well as this changes the appearance of documents system wide.

Lastly, you have a good point o

[2017-02-13 16:42] jprokay commented on #337
Thank you for the feedback @dottorer! Should the Documents tab have a count of the documents next to it, similar to Tasks & Supplies?

[2017-02-13 16:44] dottorer commented on #337
Yep, on projects that would be helpful...good idea.

[2017-02-13 17:50] jprokay commented on #337
Great! I will finish up this first iteration and wait for guidance on the tile view.
@phillipoertel Regarding translations: since files are now part of projects, which are a part of circles...should I copy the translations for files in each of the .yml files to circles.projects.files.list, or move them? Or should I use the existing translations under files, i.e.: `t('files.list.new-file')`.
I am n

[2017-02-13 21:54] phillipoertel commented on #337
@jprokay as always, it's best not to duplicate lots of stuff, unless you need to actually translate them differently. I'd probably use the existing i18n keys from the new views. You'll have to use absolute keys to access them, so `t('files.list.confirm_delete_file')` rather than `t('.confirm_delete_file')`.
To be very clear you could rename/move the keys to a more general namespace so they make se

[2017-02-16 23:42] jprokay commented on #337
@phillipoertel Thank you for the information! I typically assume that duplication is something we wish to avoid, but the structure of the .yml made me think otherwise. I might move them into 'circle.files.list' since now so many Circle-related objects (projects & tasks) will leverage them.

[2017-02-19 22:25] jprokay commented on #307
I can help out with this as well!

[2017-03-13 10:59] dottorer commented on #446
@mkristian Looks like expired session when trying to get the files. Maybe we can make this behave nicer to the user / rollbar...

[2017-03-13 11:00] dottorer opened #458 "Investigate Rollbar Error 69 on ContentTypeParser"
Look into
https://rollbar.com/lale-help/lale-help/items/69/

[2017-03-13 11:01] dottorer opened #459 "Investigate Rollbar Error 27 - InvalidAuthenticityToken"
https://rollbar.com/lale-help/lale-help/items/27/

[2017-03-13 11:02] dottorer opened #460 "Investigate Rollbar Error 56 - undefined class"
https://rollbar.com/lale-help/lale-help/items/56/

[2017-03-15 07:54] mkristian commented on #460
the problem clearly are those complex objects which gets passed into sidekiq and then the deserialization fails on wrong nesting of class constants.

the implementation does not follow the recommendation from sidekiq:
https://github.com/mperham/sidekiq/wiki/Delayed-extensions#actionmailer
`It is recommended to avoid passing an object instance to mailer methods. Instead, pass an object id and then

[2017-03-15 08:01] dottorer commented on #460
@mkristian That would be an excellent solution. We were never happy with the short term fix of just using delay and serializing the entire object. Let me know if you can fix this for us...

[2017-03-15 08:15] mkristian commented on #460
I can fix it easily but code becomes less object-oriented like
`TaskMailer.delay.task_reminder(task, user, token)` will become `TaskMailer.delay.task_reminder(task.id, user.id, token.code)` so sidekiq needs to serialize only primitives.

probably OK as you want all emails sent out asynchronously

[2017-03-15 08:21] dottorer commented on #460
Works for me...

[2017-03-15 08:31] mkristian commented on #458
most probably a duplicate of #460 - let's fix #460 first and see if this pops up again. closing this for now.

[2017-03-15 08:31] #458 closed

[2017-03-15 14:36] #460 closed

[2017-03-16 10:28] mkristian commented on #459
the AuthenticityToken is used to mitigate against CSRF attacks or session riding attacks. technically rails always has a session which is for example used to transport flash messages across requests. this does not mean there is an 'user-session'. it is safe to not check the AuthenticityToken for pages like:

https://app.lale.help/reset_password
https://app.lale.help/login
https://app.lale.help/joi

[2017-03-20 12:11] dottorer commented on #447
@mkristian Something to look at for cleanup...

[2017-03-26 15:28] dottorer opened #466 "Missing translations EN / DE"
With the latest code changes we are short of a few translations as shown in

https://docs.google.com/spreadsheets/d/11QAMBTnMacC-B9Pz5UP-C7-A9IySO-m79jGZD61l2tQ/edit#gid=1378649248

Before PROD deploy I would like to at least clean up the missing EN and DE labels. FR can come later as we have no active users there at this point.

Also, we might be missing some translation keys altogether:
![image]

[2017-03-26 15:36] dottorer opened #467 "When adding a new task inside a work group, correct workgroup field must be preselected and non-enterable"
User 'Karl May' (user4@lale.help) is organizer of work group 'Arbeit'. If he selects 'Add task' within the group home page:
![image](https://cloud.githubusercontent.com/assets/14217285/24332636/65be6e78-124a-11e7-874b-093e99a90ba2.png)

The work group is still selectable and could be changed.

![image](https://cloud.githubusercontent.com/assets/14217285/24332644/858996e2-124a-11e7-86bf-467400646b0

[2017-03-26 15:37] dottorer commented on #467
Tested in https://staging.lale.help with 'user4@lale.help' and password 'lalehelp'.

[2017-03-26 15:37] dottorer commented on #467
Same is true for supplies and projects.

[2017-03-26 15:49] dottorer opened #468 "Variable |*SUPPLY_LOCATION*| not passed to Mailchimp"
For the template "de/supply/supply_invitation" in MailChimp the variable |*SUPPLY_LOCATION*| is not populated.

![image](https://cloud.githubusercontent.com/assets/14217285/24332754/73bb0764-124c-11e7-9b55-7fe2a2e78f1f.png)

All others are passed in fine:

![image](https://cloud.githubusercontent.com/assets/14217285/24332764/821f56e8-124c-11e7-9844-f9fd1aba6778.png)

[2017-03-26 15:51] dottorer commented on #466
When editing a document, the HEADER is not translated:
![image](https://cloud.githubusercontent.com/assets/14217285/24332788/e39625e6-124c-11e7-9a4b-dff87b72f078.png)

[2017-03-26 15:54] dottorer opened #469 "Uploaded document for project cannot be retrieved"
When adding a document to a project, the upload works, but the file  cannot be retrieved again:

![image](https://cloud.githubusercontent.com/assets/14217285/24332809/27594df8-124d-11e7-9770-e7c676fc75e1.png)

![image](https://cloud.githubusercontent.com/assets/14217285/24332814/3c51b39e-124d-11e7-9912-b701cf7f0d4f.png)

[2017-03-26 15:55] dottorer commented on #469
It seems like none of the documents can be retrieved now in Staging so it might be something generic with the S3 storage.

[2017-03-27 11:44] mkristian commented on #467
hmm - all three tabs follow the same pattern and go to an url where the context of the working-group gets dropped. the fix would mean to add new endpoints which carry the work-group id and propagate it to the underlying logic. I do not have a feeling how big a change this is, but could be straight forward as the current code does not need much change and the new controller should be able to reuse

[2017-03-27 12:53] dottorer commented on #467
I believe this was working correctly at least partially before. Also, we do this in the context of projects when we create a task inside the project and the work group is preselected. Maybe we just have a small glitch somewhere...

[2017-03-30 08:06] mkristian commented on #469
routing for the files show were at the wrong place

[2017-03-31 12:29] #467 closed

[2017-04-02 09:23] mkristian commented on #468
c9d221a6286a42aedcc32a3738a104531f32309a might fix this issue. needs to be tested on staging.

[2017-04-02 09:43] mkristian commented on #468
@dottorer do not know how to verify this on staging - not sure how many emails I sent to how many people.

[2017-04-02 10:57] dottorer commented on #468
Will test soon, this is easy to verify in Staging.

[2017-04-02 14:14] dottorer commented on #468
Tested in Staging - works great now!

[2017-04-02 14:14] #468 closed

[2017-04-02 14:18] dottorer commented on #451
Working great now in Staging after some small fixes. Ready to push to Prod asap.

[2017-04-02 14:18] #451 closed

[2017-04-02 14:21] dottorer commented on #469
@mkristian File retrieval for all documents *except* from projects work now.

On Projects, I still get error:
![image](https://cloud.githubusercontent.com/assets/14217285/24587991/454a3304-17c0-11e7-9b10-b96b025ff70b.png)

![image](https://cloud.githubusercontent.com/assets/14217285/24587994/51fc7300-17c0-11e7-88d9-1c7dae9cd33b.png)

Login: "user4@lale.help" / "lalehelp"
Go to project "Gemeinsamer

[2017-04-03 06:42] mkristian commented on #469
:(

thought I verified it locally - have a look again.

[2017-04-03 17:00] NolanChan commented on #469
Hi @mkristian , are you on slack? I wouldn't mind looking into this so I can re-familiarize myself with the code :)

[2017-04-03 17:06] dottorer commented on #469
This is probably something with a wrong pointer to the S3 storage so hopefully easy to fix. More like a glitch.

But would be cool if you could look at the document features from the epic if you have some cycles....:-)

[2017-04-04 07:37] mkristian commented on #469
@NolanChan I am on slack and gitter and gmail chat during the day. all these missing documents are due wrong or missing routing and wrong links: see https://github.com/lale-help/lale-help/commit/1ada25b01aa37a22b3eb7fdae7836162a8575f0f but this seems to be missing something else I changed for the projects - similar things: missing routing and wrong links

[2017-04-04 16:59] NolanChan commented on #469
Hey mkristian, not sure if I could find you on slack. Could you message me? Also I won't be able to work on this until the weekend, so don't let me hold you up if you can fix it before then.

[2017-04-04 17:53] mkristian commented on #469
@NolanChan honestly I have no idea even how to find you. just using and used slack in closed team channels. Probably will fix it before the weekend. I will let you know if not

[2017-04-04 20:48] NolanChan commented on #469
@mkristian are you on https://lale.slack.com?

[2017-04-05 06:39] mkristian commented on #469
nope - I would need an invite for this - as far I understand slack ;)

[2017-04-05 06:47] dottorer commented on #469
What's your preferred slack handle for this? I can add you for ease of comms...

[2017-04-05 08:15] mkristian commented on #469
meier.kristian@gmail.com for slack

[2017-04-07 04:49] dottorer opened #470 "Data migration script to copy circle from DEMO to PROD"
A customer has used Lale in Demo for a good while with many registered users. They now want to go live in Prod but cannot lose their history and all data. We should provide a script copying the entire circle with referential integrity for this rare case.

[2017-04-07 04:50] dottorer commented on #470
@mkristian based on your experience, is this a large item or straight forward? We can ignore files for this.

[2017-04-07 09:05] mkristian commented on #470
to have an onetime script this should be easy but not sure how much time it takes. need to do some little testing first to make a better time guess.

[2017-04-09 17:42] mkristian commented on #469
fixed via 34cfccaf5a83753d7e8c7701e744799b7a7318d7

e3d2d4d14830c270a97beb51361a93329fb7cce9 removed the edit button as it was not working. other file upload list do not have this button. removing it makes them all consistent. and you always can delete and reupload it anew.

if the edit is something we want to offer we can revert the this commit and fix it and add the 'edit' button for other docum

[2017-04-09 17:42] #469 closed

[2017-04-10 10:18] dottorer opened #471 "Cannot save new task in existing project"
When user 'user4@lale.help' (Karl May) is logging in an opens existing project 'Lebensläufe erstellen' in his workgroup 'Arbeit', he cannot save a new task into this project.

1. Go to project 'Lebensläufe erstellen'
2. From the tab 'Aufgaben' use the button to 'Aufgabe hinzufügen'
3. Enter task data (no matter if due date is within project range or outside) -> error

![image](https://cloud.github

[2017-04-10 10:26] dottorer commented on #471
See  https://rollbar.com/lale-help-stg/lale-help-stg/items/140/

[2017-04-10 11:18] #471 closed

[2017-04-10 12:18] mkristian opened #472 "sanitize production log"
make sure we do not log any confidential data in the production logs (dito demo)

[2017-04-10 14:36] dottorer commented on #466
Addressed in 4/10 PROD deploy. @mkristian Thanks for setting up the translation server for me.

[2017-04-10 14:36] #466 closed

[2017-05-23 09:39] dottorer opened #473 "Cannot log in DEMO with user demo@lale.help"
When trying to log into demo.lale.help with user demo@lale.help / "Lalehelp1" I should be taken to
https://demo.lale.help/circles/11. Instead I get an error, which I believe might have to do with an error in retrieving the Sponsor image for the circle from S3.

[2017-05-23 09:40] dottorer commented on #473
@mkristian This should be similar to the issues we had accessing the images before for documents. Maybe you can look if you have a minute...

[2017-05-24 04:28] dottorer opened #474 "Investigate Rollbar Error 79: ActiveRecord::ConnectionTimeoutError"
This happens in sidekiq and has occurred on a few days now in PROD. What seems to be the issue here?

https://rollbar.com/lale-help/lale-help/items/79/

[2022-03-22 18:29] pjfanning opened #515 "Ukrainian refugees"
Hi @dottorer,
I'm not sure what the status of the Lale web site is. I've just seen a news story on the BBC about the rules for Ukrainian refugees and UK residents need to sponsor refugees - they won't be allowed into UK without a sponsor. Other European countries have welcoming policies but some Ukrainians may want to go to UK. I'm wondering if Lale site could be used to allow UK residents to find

[2022-03-23 07:36] dottorer commented on #515
Hi PJ, great to hear from you. The Lale platform is indeed currently in use
in some cases to coordinate help for Ukrainian refugees. By far and large,
we have shut down the use of the platform as there wasn't a need anymore to
coordinate tasks for refugees. As for your specific use case, I would
assume that quickly there will be platforms more suitable to coordinate
your needs, IT moves fast in si

[2022-03-23 10:18] pjfanning commented on #515
Thanks @dottorer for the feedback. I'm sure someone is working on a solution to help match volunteers with refugees. I will close this.

[2022-03-23 10:18] #515 closed

[2022-03-24 00:56] pjfanning commented on #515
for reference, https://help.gov.ua/ seems to be a good resource