[2015-09-25 19:55] phil-monroe opened #14 "Access Control"

[2015-09-25 19:55] phil-monroe opened #15 "Task Comments"

[2015-09-25 19:55] phil-monroe opened #16 "Icons + Colors for Working Groups"

[2015-09-25 19:55] phil-monroe opened #17 "Edit/Delete UX for everything"

[2015-09-25 19:56] phil-monroe opened #18 "Move Circle Selection to new page"

[2015-09-25 19:56] phil-monroe opened #19 "Helper Profile Page"
- User Picture/Identifier
- Edit account

[2015-09-25 19:56] phil-monroe opened #20 "Reset Password"

[2015-09-25 19:56] phil-monroe opened #21 "Notifications via Email"

[2015-09-25 19:57] phil-monroe opened #22 "DB Indexes"

[2015-09-25 19:58] phil-monroe opened #23 "Save Workgroup Filter Selection"

[2015-09-25 19:59] phil-monroe opened #24 "Properly Order Tasks"
- Order by completed_at
- Hide completed issues

[2015-09-25 19:59] phil-monroe opened #25 "Discussions"

[2015-09-25 19:59] phil-monroe opened #26 "Style Guide"

[2015-09-25 19:59] phil-monroe opened #27 "README + Dev Setup + License"

[2015-09-25 19:59] phil-monroe opened #28 "Date / timeframe for tasks"

[2015-09-25 20:00] phil-monroe opened #29 "Projects of multiple tasks"

[2015-09-25 20:00] phil-monroe opened #30 "I18N"
Setup [I18N](http://guides.rubyonrails.org/i18n.html#the-public-i18n-api) in the application

#### Setup
- [x] Basic Setup (#36)
- [ ] CSS
- [ ] Constant Iteration

#### Translations
- [ ] German: @dottorer
- [ ] French: @stephanerangaya

Tips:
- https://robots.thoughtbot.com/foolproof-i18n-setup-in-rails
- http://www.lauradhamilton.com/internationalization-for-ruby-on-rails-apps

[2015-09-25 20:00] phil-monroe opened #31 "Highlight Contributor"

[2015-09-27 04:34] tmandke commented on #14
[code]

@jamesfan @stephanerangaya These were the access controls I could remember of so far.
Plz advice If I got any wrong or missed any.

[2015-09-29 07:27] dottorer commented on #14
Looking at the ability class and trying to interpret it, it seems that:

1. Everyone can read circles and create them, if they are not yet linked to one.
2. For users that have a circle associated,
2.1 they can update + destroy if they are admins.
2.2 read workgroups in the circle
2.3 c/u/d workgroups as well as tasks only if they are the circle admin
2.4 sign up for tasks in a work group only if

[2015-09-29 07:30] dottorer opened #33 "More than 1 helper for task"
Allow up to 5 helpers for a single task. Any of the helpers can complete the task. Helpers can un-assign themselves and others from the task (i.e. I might add myself and take someone else off if I fill in for her).

Max Number of required helpers needs to be added to task definition.

[2015-09-29 07:45] dottorer commented on #28
We should work towards the definition in: https://docs.google.com/document/d/1zMsfpX7IrjGhm4_Ee2Ry_LZIC2uu-MsgXzYm-DsT0B8/edit#

 - specific date / time (for point in time tasks)
OR
 - due by (for due date tasks)

Also, we should allow to specify estimated # of hours required to complete the task so helpers can see when they best have the time to do it.

[2015-09-29 08:07] dottorer commented on #19
v1.0 of spec for user profile and account info is here:

https://docs.google.com/document/d/16RYxX8Gf_VBc9u3I6qwDNtEfS7PrerlJ8Qej4L5NA6s/edit#

We should see if we can get account info and basic personal data into milestone 1.

[2015-09-29 08:11] dottorer opened #34 "lale.help platform homepage"
We need a root homepage for the platform itself. This page is where we land on at www.lale.help.

It needs to be informational to non-registered users, allow sign up for a circle or new circle creation. It also needs to provide background on the lale non-profit and our mission.

Design spec for such a heom page is here:
https://docs.google.com/document/d/1SxMJPjNfpGbUw9aQ9SVZ-C3E1T3ZQXtB1C0MsNWqCx

[2015-09-30 03:46] tmandke commented on #14
@dottorer  FYI I updated ur comment so it reads easier following markdown format (for sub-bullets just 2 spaces and it considers them sub bullets)

You are correct on all accounts.
In terms of admins currently there is only the notion of one admin for a circle. This admin controls everything. I will have to agree that this need to change but with this PR I want to get access control setup for what

[2015-09-30 04:41] tmandke commented on #14
made a quick update
1. Everyone can read circles and create them, if they are not yet linked to one.
2. For users that have a circle associated,
  1. they can update + destroy if they are admins.
  2. read workgroups in the circle
  3. c/u/d workgroups as well as tasks only if they are the circle admin
  4. sign up for tasks in a work group only if you are member of the circle
  5. cannot voluntee

[2015-09-30 17:07] phil-monroe commented on #14
@tmandke: re: can complete a task if it is assigned to you :new: and not yet completed :new:.

Once we get the concept of an "organizer" for a task, is should probably be the organizer or volunteer who can complete a task

[2015-09-30 17:19] tmandke commented on #14
makes sense

[2015-10-01 18:38] phil-monroe commented on #34
@dottorer: do you think this is required for the MVP? We were hoping to focus on getting the app usable for the people that will work in it most often. Once we have that, we can nail down the "i want to help right now!" use case. Do you think that makes sense?

[2015-10-02 13:30] dottorer commented on #34
I think we can work this somewhat in parallel. I need a form of simple website to respond to www.lale.help and we can wire in the app login there initially. But many folks are pinging me and are confused because they get an empty spot. Also, i hope that i can find a web page Guru and it is mostly static content and styling. Lets chat today briefly....

[2015-10-02 21:29] phil-monroe commented on #26
@stephanerangaya / @madkap / @jamesfan

FYI: I just made a dedicated controller for dealing with stylesheets to try and keep things a bit more separated.

[2015-10-02 21:48] jamesfan commented on #19
Attaching a design for the Edit Profile page. Note the Edit Profile link at the top-right corner of the page.

![edit-profile](https://cloud.githubusercontent.com/assets/146020/10258621/88317a12-6914-11e5-80d1-191854595b00.png)

[2015-10-02 21:56] jamesfan commented on #17
See designs below.

**Edit Task Button in the Dashboard**
Beside the disabled _Complete this Task_ button. Takes you to the Edit Task Form below.

![edit-task-dashboard](https://cloud.githubusercontent.com/assets/146020/10258668/ec991938-6914-11e5-884a-905c7bb08b57.png)

**Edit Task Form**

![edit-task-form](https://cloud.githubusercontent.com/assets/146020/10258695/3d8b9230-6915-11e5-9ad1-bf94a76

[2015-10-03 00:05] madkap commented on #26
@phil-monroe got it. thanks

[2015-10-03 10:54] dottorer commented on #17
Looking good. I was wondering if we should already weave in some of the additional fields in the designs (i.e. more than one helper as in issue 33, date/time and periods for tasks issue 28, etc.

Also, when viewing multiple tasks within on work group, it really gets confusing which data element visually belong to which task. Could we style them so the single task within a WG pops out more clearly

[2015-10-03 12:10] dottorer commented on #19
Nice. Couple of thoughts:
1. Would we list out the password requirements (min 6 chars, 1 alpha, 1 num or something? Probably not mvp1...
2. the more I think about it, I think we can omit Usernames (e.g. "goofy17") as identifier and go with email address only. I have seen sites with either approach. We would show clear names everywhere since this is a local community effort and we want to eliminate

[2015-10-05 09:15] stephanerangaya commented on #26
Great! The guideline is still in sketch format (updated some of the screen and optimized for smaller displays) and I'll work on changing the styles in the stylesheet this week.

[2015-10-09 11:58] dottorer opened #37 "Create admin view of all members of a circle"
The admin of a circle needs a list view of all members of the circle. Each member should be listed with the basic contact info, circle join date (and 'days of service' since),  the work groups they are associated with, last login time, last task completion time, etc.

This could be in a grid form with sortable columns and ideally is exportable to XLS/CSV.

We need a visual design for this at some

[2015-10-09 12:10] dottorer opened #38 "Create preview popup for helpers"
We need a consistent circle member monicker that includes the photo, the name and possibly a member status indicator. This would be used consistently to display users across the webapp and future mobile app.

[2015-10-09 12:13] dottorer commented on #38
@jamesfan @stephanerangaya We would definitely need a nifty UX / visual design for this.

Member status indicator could be a small tulip next to the name that grows as people help more and more :-)

[2015-10-09 12:15] dottorer opened #39 "Layout does not scale equally in Chrome and IE as well as Safari /iOS"
Need to provide cross-browser compatibility for the layout. In IE the layout stretches wall-to-wall whereas in Chrome it is centered nicely.

[2015-10-10 07:39] dottorer opened #40 "App should show current circle in header"
The current circle name is not displayed in the header so it is confusing sometimes where we are logged into. Helpers might be associated with more than one circle and could switch between them.

Circles will likely have their own logo / icon and maybe than could be carried through in the circle name header.

[2015-10-10 07:39] dottorer commented on #40
@jamesfan @stephanerangaya Any good ideas on how to display the current circle in the app? This might also be where we go off for the circle edits (for admin).

[2015-10-10 07:40] dottorer commented on #40
Thinking once the design is done and if it is simple enough, maybe the MUC dev team can do it.

[2015-10-10 07:42] dottorer commented on #19
Since we are adding I18N, should we add the 'language preference' on user profile and leverage this setting to chose a display language? This setting would ideally default to the language of the location of the user / circle.

[2015-10-10 08:34] dottorer commented on #21
This will be an important feature for mvp1. Most of the current users are informed of tasks via emails and we can support a successful pilot by keeping that. We need to define:

1. format, style, tone, layout of the emails -> can be a simple clone of how slack does it.
2. frequency of email: a. when a tasks is assigned to you / modified and b. when it is within 24 hours of due date. c. after compl

[2015-10-10 14:02] dottorer opened #41 "Setup xxx@lale.help email accounts in GoDaddy / CloudFlare"
We should setup:

info@lale.help
ralf@lale.help
banking@lale.help

and route them all to ralf.schroeder@gmail.com for now.

[2015-10-11 21:09] phil-monroe commented on #41
@dottorer: Now that your email is setup, you will need to create the aliases inside of Office 365

[2015-10-12 10:12] dottorer opened #42 "Allow user to de-activate / delete their account"
For data privacy regulations it is very important to allow users to self-delete their account. This is the reverse of sign-up and needs to remove the user account and profile data. All other data, such as tasks the user completed in the past or comments are not required to be deleted and need to remain intact for backwards integrity.

We should ask the user 'do you really want to delete your accou

[2015-10-13 03:07] tmandke commented on #42
For this we should come-up all the scenarios and write out actions to be done.
Here are the things I can think of.
* user is sole admin of circle or workgroup
  * Can't delete account has to
    * pass the torch on
    * delete circle/workgroup
* tasks organizer, comments/messsage author, volunteer assignment
  * Name is retained to be displayed?
  * Name is replaced by "Deleted User" ?
  * Name i

[2015-10-13 11:29] dottorer commented on #42
Excellent points:
1. user is sole admin of circle or workgroup: exactly as you listed, they need to re-assign their admin role to someone else. but should not delete workgroup.
2. if they are listed on a task/comment/etc, I think we can retain their name on the task although the profile is deleted (doable?).
3. helper cannot delete account until they unassigned themselves from the task (if sole ta

[2015-10-13 18:13] phil-monroe commented on #19
@dottorer: I'm going to plan on language preference being a dropdown next to the country field.

[2015-10-13 19:19] dottorer commented on #19
sounds good....

[2015-10-14 18:26] dottorer opened #43 "Concept of roles for access control"
We have established the basic role of circle.admin already and set it up in issue #14 . Building on that, I have begun to outline a more complete set of roles and authorization which I think will be needed. See for chapter in:

https://docs.google.com/document/d/1jEzrh9tTZ1nHFbQDxGUjk3_0g_6HXfMt2pqb5TzxTbo/edit

We should discuss how this could be implemented for access on various tasks and views.

[2015-10-14 18:27] dottorer commented on #43
@tmandke @phil-monroe Guys, let me know if this outline in gDoc makes sense to you at all.

[2015-10-15 03:49] tmandke commented on #14
Closing this issue And lets followup with more specific issues to add more access control.

[2015-10-15 03:49] #14 closed

[2015-10-15 04:05] tmandke commented on #28
Doc looks good. but I am assuming this issue is to setup
* specific date / time (for point in time tasks) OR
* due by (for due date tasks)

And
* estimated # of hours required

I am going to set it up assuming as such

[2015-10-15 04:48] tmandke commented on #28
@jamesfan @stephanerangaya Can you provide the UX for either just the above 3 thing added or a more complete one with more of the things in @dottorer 's doc

[2015-10-16 15:35] dottorer commented on #28
@tmandke - you got it exactly right on the spec. I tried to clarify the various time / period options more in the doc.

It basically comes down to 3 options on how a task could be scheduled. We could initially go with a simple radio button to choose on of the three and then have

Task needs to be done exactly on: **bold**‘Friday, Sept 19th’**bold** at **bold**‘3 p.m.’**bold**

Task needs to be don

[2015-10-16 15:37] dottorer commented on #28
@jamesfan But maybe James has a better idea on how to build a UX for this. I do like the simple way task rabbit does this (see doc) but this might be too much work to accomplish initially.

And to course, dates / times would need to follow locale settings for the format and language for the names of months, etc.

[2015-10-18 19:02] dottorer opened #46 "Setup active admin dashboard for lale-help"
Need to setup active admin dashboard so we can see and possible edit instance level data. Also we should get some initial meaningful metrics in place for our staging and finally prod systems.

[2015-10-18 19:05] dottorer opened #47 "Create specific supply task"
Besides action tasks, helpers can also sign up for supply tasks. These tasks do not track time commitment, or required skills or number of helpers, but allow folks to say 'Yes, I have a baby crib' and then coordinate the place and time of delivery.

Supply tasks should be visually styled differently from action tasks.

Supply tasks should also be able to be posted externally to non-circle members.

[2015-10-20 13:50] dottorer opened #48 "public Helper List / Organizer List"
For the circle.admin we need to provide a list view of all members that have signed up for a circle.

This could be grid like display of all circle members with columns for
* lastname
* firstname
* in workgroups
* address,
* homephone,
* mobile,
* email,
* active since (i.e. when they registered with the circle),
* last logged in,
* last task completed.

- Ideally faceted search on top of page to

[2015-10-20 13:52] dottorer commented on #48
@jamesfan Hi James, would you have interest and time to create an initial visual design for such a list view? If we find a better way to represent circle members, please consider, list was just a suggestion.

Number of circle members can range anywhere from 10 to several hundreds (300 max I'd presume).

[2015-10-21 13:09] dottorer commented on #47
@jamesfan @stephanerangaya : I drafted a spec for how a 'supply task' should look. The more actually drop off goods as donations for the refugees, the more I see how disjointed this process is. It would be very valuable to get a nice visual design drafted that allows the workgroup.admin to open a supply task (looking different from an action task) and source a giver of such supply publicly. You do

[2015-10-21 21:52] jamesfan commented on #48
@dottorer : just chatted with @stephanerangaya and he tells me we're still kicking around visual design ideas as per your _Thoughts on visual design ideas_ doc. I'll try to help out with that first and then come back to this roster page after we've settled on an overall visual design.

Presenting this page as a list view makes sense, though. I'll start with that approach first.

[2015-10-22 11:13] dottorer commented on #48
Very good, I think Stephane is planning to wrap up a new visual design that unites all of the good concepts we had in flight so far. However, I think many of these changes will affect overall flow and appearance more than layout of specific pages. But if you are in sync with him, then we can get the page design done in the new style.

Would it be fair to associate your name with additional page de

[2015-10-22 11:20] dottorer opened #49 "Activate correct locale per user setting"
Now that we have translations in, we need to improve on the way we pick the right locale for a user. The current URL parm is working as a test, but gets lost between page transitions.

I think we need to:
1. let the user specify a language preference (it is really mostly about language, and we can have date/number formats follow suit) and use this locale setting for a user in all her interactions.

[2015-10-22 11:21] dottorer commented on #49
Assigning to Tejas for review and his thoughts...

[2015-10-22 18:21] jamesfan commented on #48
Glad you liked the designs I put together earlier! Truth be told, I’m more of a UX guy than a visual design guy. I can put together visual designs in a pinch if I have something to start with (as was the case with the user profile and circle page), but I generally stick with the more preliminary wireframe stage.

The next few days are a busy time for me, but I can commit to producing wireframes fo

[2015-10-24 23:32] phil-monroe opened #50 "Updated Workgroup Interface + Dashboard"

[2015-10-24 23:34] phil-monroe opened #51 "Circle Management + Dashboard"
https://docs.google.com/document/d/1jEzrh9tTZ1nHFbQDxGUjk3_0g_6HXfMt2pqb5TzxTbo/edit#heading=h.rfesp1z4wx0q

Relates to:
#48
#17

[2015-10-24 23:36] phil-monroe opened #52 "Action Task Management"
Relates to:
#15
#17
#28

[2015-10-24 23:39] phil-monroe opened #53 "File Upload"
Ability to store and link files to various models. Files will be stored on Amazon S3 in the EU.

Models with Files:
- User/Volunteer
- Action Task
- Supply Task

[2015-10-25 09:50] dottorer opened #54 "complete user sign up process"
We need to provide a complete onboarding processfor new users of the platform. This includes:

1. Differnetiation between sign up for new members and sign in for existing members

2. For sign up
2.1 check for sufficient password strength (8chars, 1 num, one upper)
2.2 Ensure no duplicate emails or user nicknames
2.3 Capture all relevant user profile data in onboarding page flow
2.4 allow new user

[2015-10-25 09:54] dottorer commented on #54
@phil-monroe  added this issueas it seems important to handle user sign up process robustly as we engage with a wider audience. this should hopefully be pretty straight forward and not too hard to do as a process.

[2015-10-26 18:00] phil-monroe commented on #54
Everything seems simple enough, but a couple quick notes:

2.7,3.1) Should be easy to add once we have mailing setup.

3.2) Cloudflare has a bunch of DOS/DDOS security checks in place, so I think we will be good for the short term. That being said, we can move to a CAPTCHA if we need to in the future.

[2015-10-27 08:01] dottorer commented on #41
I have ralf@lale.help and info@lale.help working as 2 separate exchange email accounts in goDaddy. We are using "info" for anything on the website that refers to email.

[2015-10-27 08:01] #41 closed

[2015-10-27 08:02] dottorer commented on #25
Hi @phil-monroe  is this different than #15 ? We should close on if duplicate and track our efforts for comment stream on a task in one issue.

[2015-10-27 17:28] phil-monroe commented on #25
At the time, no. Discussions were thought of as a separate thing from task comments that would be used to discuss what tasks needed to be completed. That being said, based off the MVP we have discussed, this is no longer relevant.

[2015-10-27 17:29] #25 closed

[2015-11-04 17:32] bernhardvogler opened #57 "OS X setup error"
[code]

[2015-11-04 17:34] dottorer commented on #57
Hi Phil, Bernhard joined us new and is looking at getting the project to fly. Could you help him out?

[2015-11-04 17:50] phil-monroe commented on #57
@bernhardvogler: seems like you have some manual changes to files in the homebrew directory. Homebrew uses git under the hood to keep track of formula updates and seems there are conflicts with some manual changes. Take a look at these links:

- http://stackoverflow.com/questions/10762859/brew-update-the-following-untracked-working-tree-files-would-be-overwritten-by
- https://github.com/Homebrew/h

[2015-11-05 08:40] bernhardvogler commented on #57
@phil-monroe Thanks for the quick help! This fixed it:

[code]
(see http://stackoverflow.com/a/12031907/2858480)

Is there a place to document this fix, like in some technical FAQ or so?

[2015-11-05 10:18] bernhardvogler commented on #57
BTW, I had to install bundler using ```gem install bundler``` before I was able to successfully run ```bundle install -j8 --path .bundle```.
(see http://stackoverflow.com/a/32123466/2858480)

[2015-11-05 10:18] bernhardvogler commented on #57
Next issue I run into:
[code]

[2015-11-05 12:58] enricoag1982 commented on #57
I'm working with Bernhard to solve it.

[2015-11-05 13:55] dottorer commented on #57
Assigned to Enrico...thanks!

[2015-11-05 21:32] phil-monroe commented on #57
The project uses a file called `.env` that holds environment variables to be used when loading dynamic configuration. I've updated the example file `.env.example` with a list of required environment variables.

[2015-11-19 10:34] dottorer opened #63 "Create session time out"
We should probably introduce a session time out of 10 minutes to kick users out of they have an inactive period. Right now the session seems to be open without end.

[2015-11-19 11:05] dottorer commented on #34
I think we can close this for now as we have a basic website in place. We will open issues for an expansion and rebrand soon...

[2015-11-19 11:05] #34 closed

[2015-11-19 11:08] dottorer commented on #49
@phil-monroe The locale setting is working on staging right now. We still need to add a locale setting on the circle itself so it defaults to a baseline language of the region it is in. Then users could overwrite their locale, but in general a helper circle in Germany would appear German to all users.

[2015-11-19 11:09] dottorer commented on #46
@tmandke @phil-monroe As we now open up a bit more to other sample users, it would be good to have visibility into usage and data being created in both staging and in app. Is is hard to setup the admin dashboard for these?

[2015-11-19 11:10] dottorer commented on #40
Working now in new design.

[2015-11-19 11:10] #40 closed

[2015-11-19 11:10] dottorer commented on #31
This seems to be old and in relation to an outdated layout. Closing.

[2015-11-19 11:10] #31 closed

[2015-11-19 11:11] dottorer commented on #20
Tested reset password flow a couple of times. Worked for me sending out correct email from Mandrill.

Well done - closing.

[2015-11-19 11:11] #20 closed

[2015-11-19 11:12] dottorer commented on #18
Outdated on old layout. Closing as NLA.

[2015-11-19 11:12] #18 closed

[2015-11-19 11:13] dottorer commented on #47
Nice progress on this one. I guess we have the public facing exposure of supply tasks to be built.

[2015-11-23 12:15] dottorer commented on #39
![screen shot 2015-11-20 at 11 54 24 am](https://cloud.githubusercontent.com/assets/14217285/11336275/276893ca-91e4-11e5-9df2-4bc989945cfd.png)

Also issues on safari, where the task (+) button was squished. Generally, IE and Chrome render very differently.

[2015-11-23 12:20] dottorer opened #64 "I18N email templates"
When we send out email templates, we need to send them in the language of the user. For now, we will only do this in the language of the circle.

We create templates in MailChimp for each email named 'en/templatename'. The first 2 chars are the lang code, followed by the template name.

We need to put the subject line and any other string used to create the email into a string file for translation

[2015-11-24 08:26] posixpascal opened #66 "Travis TestSpec Issue"
I get the following issue after I created a pull request for the readme.txt:

[code]

[2015-11-24 15:38] dottorer commented on #33
This is fixed in staging. Closing.

[2015-11-24 15:38] #33 closed

[2015-11-24 15:39] dottorer commented on #29
Changing title to reflect what we are implementing here per mvp1 spec document.

[2015-11-24 15:41] dottorer commented on #28
We can specify various due date options in staging right now, so we can close this. however, we need to improve on the UX for the date picker as it is not intuitive yet. Will open separate issue for that.

[2015-11-24 15:41] #28 closed

[2015-11-24 15:45] dottorer opened #68 "Improve control for due date selection"
In #28 we implemented due dates. However, the current UI is not really intuitive. This has to do with the current layout of the fields, but also if we can conceive of a simpler control (I think think of the task rabbit concept), it would be much appreciated in this core element of the system.

We still need to be able to specify:
1. BY due date (a full day by when something needs to happen)
2a. ON

[2015-11-24 15:47] dottorer commented on #68
We would need some UX designs on this.

[2015-11-24 15:48] dottorer commented on #24
Looks like this is outdated. closing for now.

[2015-11-24 15:48] #24 closed

[2015-11-24 15:49] dottorer commented on #16
This was related to the hackathon result. We have a new UX now, so closing this. That said, we still need to apply the icons for work groups in the system....

[2015-11-24 15:49] #16 closed

[2015-11-24 15:54] dottorer commented on #15
Adding to Tejas as we had discussed this on slack. I think we only have the v2.0 UX design for comments.
![task details 4 2x 1](https://cloud.githubusercontent.com/assets/14217285/11372070/d5112a22-92cb-11e5-9426-57f4370cdb4b.png)

@stephanerangaya might have a version of this with the current UX applied. We need to distinguish between the important comments of helpers and the status updates (assi

[2015-11-24 15:56] dottorer commented on #52
Assigning to Phil what he is working on already as mvp1 work.

[2015-11-24 15:56] dottorer commented on #53
Assigning to Phil what he is working on already as mvp1 work.

[2015-11-24 15:56] dottorer commented on #48
Assigning to Phil what he is working on already as mvp1 work.

[2015-11-24 15:57] dottorer commented on #43
This is implemented in staging right now and working very well. Will open new issues if bugs arise.

[2015-11-24 15:57] #43 closed

[2015-11-24 16:03] dottorer opened #69 "During sign up of new members, send verification email."
We need to ensure new members have provided a valid email address. Therefore we should use the known flow of a verification email to be sent with a token to activate the account.

(we can base this on the existing forgot password flow).

[2015-11-24 16:03] dottorer commented on #69
The email template in mailchimp is 'en/email verification' and it uses variable *|VERIFY_EMAIL_URL|*.

[2015-11-25 08:41] dottorer commented on #15
@tmandke forgot to add the design for adding comments. Similarly, we need to provide a form of editing or removing a comment by the author.

If we can make it look stylistically as outlined by Stephane, but use the new color scheme of the app, it would be great!

![task details 3 2x 1](https://cloud.githubusercontent.com/assets/14217285/11392223/8b951dbc-9358-11e5-8d35-b7415ad3e325.png)

[2015-11-29 17:56] tmandke commented on #15
@stephanerangaya can u provide updated mocks for comments?

[2015-11-30 06:35] dottorer opened #74 "Expose missing strings for translations"
Looking at @pierresauvignon first cut of French translations, I noticed that we likely have a few field not exposed in the yml files yet. Could we expose them? Screenshots below.

[2015-11-30 06:36] dottorer commented on #74
![image](https://cloud.githubusercontent.com/assets/14217285/11464970/16da4804-9735-11e5-88ee-4328c1da2e47.png)

[2015-11-30 06:36] dottorer commented on #74
![image](https://cloud.githubusercontent.com/assets/14217285/11464973/1f582d5c-9735-11e5-89e2-727ca562f995.png)

[2015-11-30 06:37] dottorer commented on #74
![image](https://cloud.githubusercontent.com/assets/14217285/11464979/2ae6b4ae-9735-11e5-9c83-748dee3c71f9.png)

[2015-11-30 13:24] dottorer commented on #37
Need to outlined difference to #48.

[2015-11-30 13:24] dottorer commented on #23
Closing as no longer applies.

[2015-11-30 13:24] #23 closed

[2015-11-30 13:41] posixpascal commented on #46
I setup active admin & will add the required modules to make instance level data editable, viewable and searchable.

[2015-11-30 15:06] tmandke commented on #46
@dottorer list the metrics and we can set them up. Its not difficult for the most part (we will pick the ones that are easy for the first pass).

[2015-11-30 15:09] #66 closed

[2015-11-30 15:10] posixpascal commented on #57
Closed as I reproduced and fixed this using the given example .env file.

[2015-11-30 15:10] #57 closed

[2015-12-01 10:39] dottorer opened #75 "Improve control for location selection"
Picking a location for a new or existing circle is very clunky to use and leaves the user uncertain of the result. We should be able to make this better without much effort.

UX design needed, but we could go with the examples below.

[2015-12-01 10:42] dottorer commented on #75
From the site varagesale.com, where you can look for existing communities in a simple way.

![image](https://cloud.githubusercontent.com/assets/14217285/11498524/3cc7c26c-9820-11e5-8b59-b437b6228abc.png)

I also like the country selector to make it very concise:

![image](https://cloud.githubusercontent.com/assets/14217285/11498547/64185156-9820-11e5-9b54-2ca1ec3f8ab7.png)

If not clear hit found,

[2015-12-01 10:43] dottorer commented on #75
@pierresauvignon and @stephanerangaya for thoughts and possible UX designs.

[2015-12-01 10:50] dottorer commented on #75
Another well know, but simple and functional approach can be seen at lotsahelpinghands. It uses keyword, zipcode and proximity to narrow it down. Works cleanly.

![image](https://cloud.githubusercontent.com/assets/14217285/11498726/8d0a46d6-9821-11e5-9be7-f5d178e6e974.png)

[2015-12-01 10:58] dottorer commented on #19
For mvp1, user profile needs to be completed with (as shown in the mockup above):
1. the phone and address block
2. picture upload
3. button to delete account
4. username

We also need a 'Everyone can see my profile' checkbox (on as default) to drive if data can be viewed by other members or not. If public, clicking on a user name anywhere in the system should open up the profile view. Also, if pu

[2015-12-01 11:52] dottorer commented on #54
Missing from list is:
- validate password flow
- allow username as well as clear name
- important: track acceptance of T&Cs for site (link to doc on website) and storing consent in system.

Ideally, the signup should be represented as a mini wizard:
Step 1: enter your personal data (as is today)
Step 2: tell us about you (why are you joining as text field), tell us your skills from pick list.
Step

[2015-12-06 22:33] posixpascal commented on #75
We could make use of geolocation api for users to see which circles are near them (instead of manually entering the postalcode).

[2015-12-07 18:36] dottorer commented on #75
I think that could be a good approximation of the location. We could default it to a 'within 20km' to show existing groups. How accurate would a geolocation (by IP??) be and could we derive a zipcode /PLZ from it? Humans normally approximate location by zipcode, it seems.

[2015-12-08 10:45] dottorer opened #76 "Set header color to 'blue' if task is fully staffed with volunteers."
Our current workflow marks the color of the task header green once it is completed. This is powerful, but another really important state transition is when a task / supply becomes fully allocated (i.e. 3 of 3 helpers have signed up etc). We should use the visual cue of header color here as well and set it to a nice dark blue. This was a request from a demo audience.

We have the code to set it gre

[2015-12-08 10:46] dottorer commented on #76
Here is the green header look for reference.

![supplies - details 2 of 2 2x](https://cloud.githubusercontent.com/assets/14217285/11653826/3caed7d0-9da1-11e5-935c-74bf2e78abbb.png)

[2015-12-11 15:11] dottorer commented on #39
This is also an issue on iPad when demoing. The safari bug with the (+) button is preventing from unfolding the drop down menu for tasks / supplies. Also had issues on ipad with drop down for the user profile, so maybe there is a generic glitch here. Anyways, prevents mobile demoes right now.

@stephanerangaya  @posixpascal @jamesfan  Any ideas?

[2015-12-11 15:18] posixpascal commented on #39
Looks like the `.icon` class has neither a `width` nor `height` attribute attached. I don't have my iPad available right now, but I could push the required changes in the comments pull request. Gimme a sec.

[2015-12-11 15:25] dottorer commented on #39
sweet, we can just merge it with the comments styles.

[2015-12-14 08:16] dottorer opened #77 "Bug fixes for comments feature"
Here are some small glitches around the comments function.
1. Time stamp for comments is off.
2. Sometimes hint text is show as if it were entered by user.

Several other issues have been addressed in #230.

[2015-12-14 08:17] dottorer commented on #77
![image](https://cloud.githubusercontent.com/assets/14217285/11775924/5c69b3a0-a243-11e5-91be-5b6b9857b6f1.png)

Local time on system of commenter is 9:14, system / server time is 8:14. We need to probably store timezone along with timestamp or convert to UTC in and out.

[2015-12-14 08:20] dottorer commented on #77
The first initial suggested comments value 'Was möchtest du sagen' appears as if it was manually entered. Hence is gets saved as a comment verbatim:

![image](https://cloud.githubusercontent.com/assets/14217285/11775976/d8a87c80-a243-11e5-94e1-774b75f0a804.png)

[2015-12-14 08:40] dottorer opened #78 "Improve left nav usability"
Here are some improvements on the left nav based on user feedback:

![image](https://cloud.githubusercontent.com/assets/14217285/11776334/843e324a-a246-11e5-807f-4dc6ceedc99d.png)

* The nav ‘My Tasks’ makes sense as a first option.
* The next should be named ‘All Open Tasks’ for user to pick up unassigned tasks. In this list of only unassigned, sorted by due date, we do need to show the work grou

[2015-12-14 08:55] dottorer commented on #77
![image](https://cloud.githubusercontent.com/assets/14217285/11776605/a86a56ce-a248-11e5-9c69-05c4addc80ad.png)

When scrollbar appears, the text box and 'Reply' button appear underneath the scrollable area and the left nav does not extend all the way down.

[2015-12-14 09:01] dottorer opened #79 "Support simple styling and markdown in comments box"
Per idea from @posixpascal :

"For the comment posting I’d suggest using something like basecamp’s new editor. It supports just the basic editing functions like lists, bold, italic and is easy to integrate. I think they output something like markdown in the end, so we don’t have to deal with insecure html code. This will give people a more satisfying experience. (an alternative would be to just us

[2015-12-14 09:07] dottorer opened #80 "Ability to edit and delete posts"
An author should have the ability to edit a post and even delete it. This should appear as a small option in the hover over text for commenter name and comment time. If easier for deletions, we can keep the comment in the database and just suppress its rendering if 'is_removed=true'.

[2015-12-16 08:03] dottorer opened #81 "Allow work groups as 'private'"
We need to provide a flag on work groups to be marked 'private'. This means thats only members of that group and the circle admins can see them in the left nav.

They should be marked with a little * or key symbol or something in the left nav to show that they are private. This is very powerful for groups to contain sensitive discussion to a small group of people.

Given that the groups are hidden

[2015-12-16 08:09] dottorer commented on #64
I have created the 'DE' email templates. We can then integrate them to the mail flow.

[2015-12-16 08:11] dottorer commented on #74
![image](https://cloud.githubusercontent.com/assets/14217285/11835568/e2b78cce-a3d4-11e5-99f0-b31bd82fff7c.png)

[2015-12-16 08:11] dottorer commented on #74
![image](https://cloud.githubusercontent.com/assets/14217285/11835586/0469ced6-a3d5-11e5-8c87-aa241792f4d0.png)

[2015-12-17 14:11] dottorer opened #82 "Add workflow to re-open tasks once they have been marked completed"
Either the organizer or any assignee can currently set a task to "completed". All of those roles need to be able to 're-open' as well. This can happen if something was closed by mistake.

[2015-12-17 14:16] dottorer opened #83 "Allow to specify external links for tasks and supplies"
In #53 we allow to attach files directly to tasks and supplies. We should also also to specify external links to point to things like google docs, etc.

[2015-12-17 14:19] dottorer opened #84 "Provide search on directory listing, including skills search"
As specified in the mockups, we have top bar field to enter search criteria that filter down the directory listing of members. This should search for string matches in all data elements of members including skills.

[2015-12-17 14:20] dottorer commented on #84
![dashboard - directory 2x](https://cloud.githubusercontent.com/assets/14217285/11871729/b2a60ce2-a4d1-11e5-956c-0833b14a154f.png)

example of directory search and filtering by work groups.

[2015-12-17 14:21] dottorer commented on #84
Searchable helper fields should be:
* name
* address
* skills

[2015-12-17 17:18] posixpascal commented on #80
Do you mean comments by posts?

[2015-12-17 17:19] posixpascal commented on #79
I'll take care of this :)

[2015-12-18 08:01] dottorer opened #85 "Add unique identifier to circle for billing purposes"
In order to uniquely identify a circle for contact and billing purposes, we need to create an identifier like a customer number. This number should not be numeric but be a long string.

It should be created at initial circle creation. It should be displayed, but not editable on the circle edit page.

[2015-12-18 08:03] dottorer opened #86 "Provide URL to invite new members to circle"
During the signup process, new helpers need to be able to join a specific circle. They might have discovered a circle on the map or by location, but more often they will have been directly invited by the circle admin.

[2015-12-18 08:04] dottorer commented on #86
We need to offer an external URL as shown in Stephane's mockups. In order to avoid people manipulating the URL and inviting to other circles, this URL should not use the circle number, but its unique identifier as defined in #85.

![single page form - create circle 2 of 2 2x](https://cloud.githubusercontent.com/assets/14217285/11892219/4b83712c-a566-11e5-867e-a0d497e75fc1.png)

[2015-12-18 08:28] posixpascal commented on #85
I added a `unique_identifier` variable to the Circle model which gets initialized once before creation.
I'll make a pull request so other people can see it.

[2015-12-18 08:33] dottorer commented on #85
That's excellent, what is it's format? Suitable for use in #86 ?

[2015-12-18 08:40] posixpascal commented on #85
Basically it looks like this at the moment:

`b9208b6bb63e130eee73d4e7e30fdc8c967503e182c373473e28ad86176b2c0f`.

I use the SecureRandom.hex method which will output a 32 character long alphanumerical string.
Then I use another SecureRandom.hex to create 64 characters and store them to the circle.

It's suitable for #86, although it's a bit long. I'd suggest adding a `Copy Link` or `Invite per Fac

[2015-12-18 08:40] dottorer opened #87 "Improved rendering date / time control"
The currently used date picker has left some users stranded. We should leverage a more intuitive date picker that:
- only allows data selection, not entering in free form field
- drops down from the field when placing focus on it
- shows current day highlighted and selected day highlighted

[2015-12-18 08:41] dottorer commented on #87
A good example of this is on open table (ex: http://www.opentable.de/wirtshaus-in-der-au-reservations-munchen).

![image](https://cloud.githubusercontent.com/assets/14217285/11892769/73264a10-a56b-11e5-80a7-d78994440e82.png)

[2015-12-18 08:42] dottorer commented on #87
This example also has nice time picker right next to the date...

[2015-12-18 08:43] dottorer commented on #85
This is a good unique ID, although long for our usage for invites. 'Copy Link' next to it can do the trick for now though.

[2015-12-18 08:45] posixpascal commented on #87
I used the bootstrap-material-datepicker at work lately:
http://t00rk.github.io/bootstrap-material-datetimepicker/

[2015-12-18 08:46] posixpascal commented on #85
We can trim it down to something like this:

`5b9208b6b` if you want to. Then we should hide the circle.id in there to avoid collision.

[2015-12-18 08:52] dottorer commented on #87
The basic date picker looks good. Although the way it drops right out of the field in the example above is clean. Also, the multi step process to pick various elements is not initially clear.

I find the analog clock time picker weird and clunky when a simple drop down with 15 min increments can quicker select a time.

[2015-12-18 08:55] dottorer commented on #85
That looks much neater like a tinyURL almost. Could go very well in the invite link. Can we ensure uniqueness or would it be a simple rtrim?

[2015-12-18 08:57] dottorer commented on #87
I guess an important factor of the DTP would be the responsiveness on devices. Not sure which ones can work across platforms.

[2015-12-18 08:58] posixpascal commented on #85
Yes if we add the circle ID to that unique string.

[2015-12-18 08:59] dottorer commented on #85
Yes, totally. That would work nicely!

[2015-12-18 09:01] posixpascal commented on #87
How about using the `<input type="date" /> `?

and a regular datepicker plugin as a fallback.
Benefit of <input type="date" /> is that it let's mobile users use their native date picker.

[2015-12-18 09:07] dottorer commented on #87
I have to admit I need to leave this to the UI experts to decide, bit out of my tech depth.

The thought is that several users have struggled in entering the right date / time. The example above seemed very crisp and clean. This issue is related anyways to the improvement in #68 where we need to think about how we can offer the 3 forms of due dates ("by date", "at time" and "in period") in an intu

[2015-12-18 09:29] dottorer commented on #29
This has been discussed with the circle admin of the the helper group in Taufkirchen. It is a very useful real life feature to aggregate several tasks into a project and provide stats view of the whole projects as outlined here: https://docs.google.com/document/d/1jEzrh9tTZ1nHFbQDxGUjk3_0g_6HXfMt2pqb5TzxTbo/edit#heading=h.cqb5iqe6x84l

"project_stats: we need to provide visibility into execution p

[2015-12-20 18:39] dottorer opened #88 "Create public member directory and organizer directory"
An important feature is a short list of circle members with their contact information. However, not all circle members might allow their data to be listed to all others. Therefore we need to add a flag on the user profile 'Show my profile to all circle members' which will drive the following:
1. The member will be listed in the public directory
2. Everywhere we display a members name, it is shown

[2015-12-20 18:42] dottorer commented on #88
Mockup of dashboard.

![dashboard - directory 2x](https://cloud.githubusercontent.com/assets/14217285/11919384/7e76774a-a751-11e5-9d54-f5913b04bc33.png)

The currently implemented directory already shows a subset of these.

[2015-12-21 08:49] diegoaad commented on #74
<img width="1094" alt="screen shot 2015-12-21 at 09 44 38" src="https://cloud.githubusercontent.com/assets/4204139/11926819/19690fee-a7c8-11e5-925e-29a53122ede8.png">

[2015-12-21 11:39] dottorer commented on #88
We should try to get the picture or
![image](https://cloud.githubusercontent.com/assets/14217285/11929970/bb934e76-a7df-11e5-9939-5c2bbde232ee.png) as the first column. Then viewers of the directory could click on the person to open the helper profile view page (or hover over preview).

[2015-12-21 11:42] dottorer opened #89 "Create public helper profile view page"
We need to create a view-only helper profile page with the current information:
* Personal data and contact info
* Skills

If a helper has specified their profile to be public, we should open their public profile when a user clicks on:
1. the image or initials circle
2. the helper name

[2015-12-21 11:44] dottorer commented on #89
This is related to #19, just with the new styling.

Later we can provide a button on the helper profile view page to send a direct message to the helper and open a 1:1 discussion thread.

Maybe @stephanerangaya can mockup a version of a profile view page for us to go by.

[2015-12-21 11:46] dottorer commented on #89
We should also show helper stats on the public profile:
- member since
- number of tasks completed, etc.

[2016-01-04 18:16] dottorer commented on #49
I think this is working well now so closing. We can open a new issue for bugs.

[2016-01-05 12:55] dottorer commented on #19
For the sign up we need to track the timestamp when the new user accepted the T&Cs. This is also important if we change T&Cs and expire their acceptance. Then we need to re-capture their ok.

Also, we should track when a new user become member of the circle with a date.

[2016-01-05 13:04] dottorer commented on #38
Changing description: when we hover over the user photo / initials icon (RS) and the user specified their profile as public, we should open a preview window that lists minimal contact data of the helper. It can later also offer the 'Send personal message' option to send an in-Lale notification.

@Stephane : this likely needs a small UX design from you...

[2016-01-05 13:06] dottorer opened #91 "Ability to send personal message between 2 circle members"
From the public profile or helper preview (see #38) we should offer the ability to send an in-Lale message to a different helper to start discussions. This can be modeled similar to slack or FB, but is very helpful to improve communications and bonding within a helper circle.

These messages should not be send via email (unless undelivered for long inside the app). They should be found in the Lale

[2016-01-10 15:26] dottorer opened #92 "External login screen needs to be available in German"
Right now the screen to enter email and password to get into Lale is only in English. We need this to also be in German and ideally detect the right page based on IP address of the user somehow.

Without this, German beta users will have a hard time accepting the app initially.

[2016-01-10 15:31] dottorer commented on #17
I think this is mainly all there now and can be closed out.

[2016-01-10 15:31] #17 closed

[2016-01-10 15:32] dottorer commented on #30
I think this is mainly done now. Longer term a better support for translations would be welcome but we can manually update strings for now...closing.

[2016-01-10 15:32] #30 closed

[2016-01-10 15:33] dottorer commented on #26
I think we have a workable style guide to move the app forward for now...

[2016-01-10 15:33] #26 closed

[2016-01-10 15:34] dottorer commented on #47
For mvp1 we will not expose supplies externally. We can create a separate issue for this later. Closing...

[2016-01-10 15:34] #47 closed

[2016-01-10 15:35] dottorer commented on #49
@phil-monroe With the addition of the circle time zone did we also end up with a circle language as the default for all communications to the members unless overwritten on the user level? If so, I think this issue is totally complete and can be closed.

[2016-01-11 19:55] dottorer commented on #39
![image](https://cloud.githubusercontent.com/assets/14217285/12244781/8d998d24-b8a5-11e5-9441-d276181ccbdd.png)

In IE, the left nav labels are not left aligned for some reason, looks really weird...

[2016-01-11 19:57] dottorer commented on #39
For iPad: In the top bar, the menu for the user settings does not drop down, also the (+) symbol does not unfolds the 'add task / supply' options, so in general the actions from the top bar are not available in iPad. So right now the user cannot get to update their profile or even to log out!

[2016-01-11 21:14] madkap commented on #39
hi @dottorer asked me chime in on this issue. fyi i haven't touched the code since the 1st iteration.

from just using staging and safari and browsing the code from inspect element. it may be Flex that is giving headaches. Support for `display:flex` in [IE is limited](http://caniuse.com/#search=flex). It may be worth refactoring the styling to just use `floats` and `text-align`, etc.  This may be

[2016-01-12 15:16] dottorer commented on #39
@madkap : fantastic research and resolution - thank you for the sample code!

@phil-monroe @posixpascal @tmandke : What would be the best way to get this into the app and replace the current implementation? Any thoughts would be appreciated...

[2016-01-14 02:49] phil-monroe commented on #39
@dottorer this brings up a good question: what is the minimum version of IE that we are willing to support? To be honest, I'd prefer IE10+.

[2016-01-14 03:02] phil-monroe commented on #39
as for the dropdown's: thanks for the examples @madkap! I'll try them out here soon.

[2016-01-14 05:59] phil-monroe commented on #86
Would a link like the following be too hideous?

`http://lale.help/token/4a17b05b2fc5d10157025213d39b8fa325fa51a3fbbcc0a356ac9050f0d7f7e327090bfd70f7cabc01c49178b5fbdefa3722a71b1a7c1e20f766c3498f414252 `

[2016-01-14 06:07] phil-monroe commented on #86
The more I think about it... yes it is too gross looking and there is no need to to have a secure token that can't be brute forced for the act of inviting people... A much cleaner way just dawned on me that will use links of the form:

[code]

No need to complicate this...

[2016-01-14 07:47] dottorer commented on #86
Totally, I think Pascal proposed a perfect medium ground in #85 .

We have the long string for a circle ID, we truncate it and add the circle seq number. This way it is hard to forge for inviting but easy enough to copy...makes sense?

[2016-01-14 07:49] posixpascal commented on #86
Yes.  I would use a little cryptic id instead of the circle id. We could
however let the circle admins verify users after they joined that way
sticking to the circle id instead of the cryptic id is fine as well
Am 14.01.2016 8:47 vorm. schrieb "Ralf Schroeder" <notifications@github.com

[2016-01-14 08:20] dottorer commented on #86
We will definitely need to have the circle admin verify / accept new registrations before they become fully active. That workflow has been mentioned several times by admins, but we don't have capacity right now in mvp1 to add it.  Unless we send a notification to the admin when someone joins with a push button to 'activate account'. Until then a new registree would be able to log in but not see mu

[2016-01-14 15:28] phil-monroe commented on #86
Since there will be a for people to be verified in the future, does the if need to be cryptic? Here is some food for thought:

https://gist.github.com/cdmwebs/1209732

[2016-01-14 16:14] dottorer commented on #86
Well, I understand the variations of URL generation in ruby better now, slugs and all.
I guess in general all URLs include the object and instance id like 'https://staging.lale.help/circles/3'. If we have a review step by the admin, then I guess no one could slip in by faking the URL. And they can only get to a full task if they have a valid sessions for that circle, right?

So, for now unless we

[2016-01-14 16:50] phil-monroe commented on #86
Well if you are concerned with people randomly joining a circle, than it should be cryptic. But that leaves me to question the standard sign up flow where a user looks for circles to join that are near them. If I can look up and join a circle by location, why not be able to easily generate a url to join said circle?

I think it all comes down to: how locked down joining a circle should be? Easy bu

[2016-01-14 17:04] dottorer commented on #86
Very good point. I think let's do non-cryptic simple URL but approval step by admin. Works for all cases.

[2016-01-14 17:05] phil-monroe commented on #86
:+1:

[2016-01-24 17:57] dottorer commented on #46
completed in dev - works great!

[2016-01-24 17:57] #46 closed

[2016-01-25 08:51] dottorer commented on #86
This is in mvp1 right now...

[2016-01-25 08:51] #86 closed

[2016-01-25 08:53] dottorer commented on #49
Circle language exists now and drives default lang online and for the email templates. Then we have user level language overwrite. Closing as completed. Awesome!

[2016-01-25 08:53] #49 closed

[2016-01-25 08:58] dottorer commented on #37
This is by now a duplicate of #48. What we need is a view of the directory for the admins (showing ALL members) and a view of the directory for other helper (showing only the public member profiles as defined in #88).

Therefore closing as dup of #48 and #88.

[2016-01-25 08:58] #37 closed

[2016-01-25 09:00] dottorer commented on #21
Changing to reflect we will do in-app inbox later. Closing this as working now.

[2016-01-25 09:00] #21 closed

[2016-01-25 10:04] dottorer opened #96 "Helper Inbox inside the Lale system"
As started in #21 we also want to offer a communication channel inside the application. All events that trigger email notifications will be listed internally in a helper inbox. Also, direct messages as in #91 will be visible in the inbox.

More detailed design to come for mvp2.

[2016-01-25 10:05] dottorer commented on #85
At this moment, we put this issue on hold until we have a cleared picture of the billing infrastructure. We have a unique URL for the invite flow already by circle Id and name.

Unhooking from mvp1.

[2016-01-25 10:08] dottorer commented on #19
Changing title to reflect work needed. This issue is to create edit / view page for the helper to define their full profile. We also have #89 which will expose a subset of this data to the entire member population for profiles marked public.

[2016-01-25 10:16] dottorer commented on #92
This works now well driven by the language of the helper circle. Only thing is that the user language in the form could neatly default to the circle language (it is English right now and that might be confusing, could be German as a better default).

@phil-monroe should we set default language to DE?

[2016-01-25 10:16] #92 closed

[2016-01-25 10:17] dottorer commented on #52
Tracking re-open workflow in #82. So this is completed for mvp1 - nicely done!

[2016-01-25 10:17] #52 closed

[2016-01-25 12:14] dottorer commented on #63
@phil-monroe  - do we need this for mvp1? Seems like the sessions are endless right now...thoughts?

[2016-01-25 12:16] dottorer commented on #15
Task comments feature is implemented, tracking bug fixes in #77 and edit / delete in #80 and comment styles in #79.

[2016-01-25 12:16] #15 closed

[2016-01-25 13:26] zabojadek commented on #69
Hi @dottorer, can I be assigned this issue (don't seem to have the option anywhere)? This is a flow I have implemented in other apps, and potentially a good starting point for me.

[2016-01-25 13:35] dottorer commented on #69
Sure thing, create a branch and go for it! Thank you!

[2016-01-25 13:38] dottorer commented on #69
@zabojadek are you new to the project? We always welcome help...i can add you to the dev slack, too, if interested.

[2016-01-25 13:42] dottorer commented on #69
Or is this you, David :-) ?

[2016-01-25 15:24] zabojadek commented on #69
Hey Ralf, this is David Konig indeed. @zabojadek is a pseudo and my twitter handle ;)
Thanks I'll branch the project and get started on it.

[2016-01-25 16:04] phil-monroe commented on #63
It's a 1 line config setting, so what would you prefer?
On Mon, Jan 25, 2016 at 4:14 AM Ralf Schroeder <notifications@github.com>
wrote:

[2016-01-26 10:39] dottorer opened #98 "Allow more helpers to sign up for task than are required"
We need to allow to overallocate tasks with helper. If there are 2 needed, we might have 4 sign up in order to have some new helper shadow the work and learn.

This will be also needed later when we implement the 'helper trust score' features.

[2016-01-26 10:41] dottorer opened #99 "Send task change notification when new helper assigns / unassigns themselves to a task."
When helpers are added / removed from task, we need to send a change email notification.

[2016-01-26 10:47] dottorer opened #100 "Add icons for working groups"
We need to add the square badges for the working groups containing their first letter plus a number sequencer.

Example: Education = 'E1'; Entertainment = 'E2'; Jobs = 'J1'

[2016-01-26 10:48] dottorer commented on #78
Relates to #100

[2016-01-26 10:50] dottorer opened #101 "Restyle user name in menu bar"
To improve usability, we need to restyle the username in the top nav bar. People often don't find that this is a drop down menu.

[2016-01-26 10:50] dottorer commented on #101
It should look like this:
![image](https://cloud.githubusercontent.com/assets/14217285/12578714/0c543de8-c423-11e5-87d9-f319054893b0.png)

[2016-01-26 10:56] dottorer opened #102 "Restyle 'add' button in top menu bar"
Users cannot identify the (+) symbol as a button to add new tasks or supplies. More so, it sometimes get squished by the browser in the layout.

We need to replace it with a more intuitive control to add new items to the system.

[2016-01-26 10:58] dottorer commented on #102
Instead of

![image](https://cloud.githubusercontent.com/assets/14217285/12578919/1d4b7976-c424-11e5-852a-25214a9dcc5d.png)

we should go for a better approach:
1. Have a square button with the word '+  New...'
2. Have a drop down menu with radio button which items to add (Task or Supply)
3. Have an action button with 'Create...' or 'Cancel'

![image](https://cloud.githubusercontent.com/assets/142

[2016-01-26 11:02] dottorer opened #103 "Add left nav item for 'All completed tasks'"
In order for people to find competed tasks, we should offer an item in the left nav for all completed tasks. The list is ordered by completion date descending and uses the standard task list display.

This view will be available for all members.

Later on, we will use this to provide a 'copy task' function to clone prior tasks, available to only admins.

[2016-01-26 11:12] dottorer opened #104 "Feature: Rework the options for sourcing helper for a task (assign, suggest, invite)"
Currently we have 2 different buttons to send an invitations email to (a) only the work group of the task and (b) the entire circle. This is not intuitive yet and could be much improved by the approach outlined in the spec here: https://docs.google.com/document/d/1hetDLs0m49u01nKNkhfQzBw02lw-Dthw3sxChr2ztkk/edit#.

[2016-01-26 11:27] dottorer opened #105 "Improve edit page for working groups"
The current default edit page for working group is clunky and needs love.

![image](https://cloud.githubusercontent.com/assets/14217285/12579286/2bb33d20-c427-11e5-9544-2843576c05c8.png)

We need to:
1. add a description of 200 chars max. (this needs to be shown below the title in the WG dashboards)
2. better picklist for workgroup organizer (label needs to read like that as well).
3. We need to a

[2016-01-26 11:34] dottorer opened #106 "'My Tasks' view needs to also show tasks I am organizing"
Right now the left nav view 'My Tasks' only lists the tasks I am assigned to. But we also need to show the tasks I am organizing. This is particularly important for tasks that someone else created (i.e. WG organizer) but made me the task organizer.

The 'My tasks' listing therefore needs to have 2 different segment:
1. 'Tasks assigned to me'
2. 'Tasks I am organizing'

Both we show the default tas

[2016-01-26 11:35] dottorer commented on #106
@phil-monroe Similarly we should send a task change notification whenever a user is made task organizer but is not the person creating the task. Otherwise they would never know....

[2016-01-28 12:39] dottorer commented on #100
See example here

![dashboard - education 2x](https://cloud.githubusercontent.com/assets/14217285/12644640/934a69a6-c5c4-11e5-84e8-eef80fc9e196.png)

[2016-01-28 15:27] dottorer commented on #105
Example of how the top title should have a description in small print:

![image](https://cloud.githubusercontent.com/assets/14217285/12648774/cf91cabe-c5db-11e5-881b-8d4aa5431f71.png)

This basically applies to any page that has a big font title and then a smaller sub-script text giving explanation...

[2016-01-28 15:28] dottorer commented on #105
@diegoaad @ajaysagar Maybe a good simple one to test the dev skills....

[2016-01-28 18:28] dottorer commented on #74
I think this is now obsolete until we see the new translation architecture via activeadmin. Then I can go and translate all into German and we will quickly see the missing strings. Then I re-open specific issues as they come up.

[2016-01-28 18:28] #74 closed

[2016-02-01 16:52] dottorer commented on #78
Maybe this is an easy one for @kristysnet to do with #103?

[2016-02-01 16:57] dottorer commented on #105
@anvarik this could be a good one?

[2016-02-01 18:12] ajaysagar commented on #105
@anvarik @dottorer .. I have already started working on this, shall I pick a different one ?

[2016-02-01 18:36] dottorer commented on #105
If you started, then go ahead and continue. Assign issue to you if you work on it to avoid confusion. Will look for another for anvarik

[2016-02-01 19:13] dottorer commented on #101
This might be a good one to improve usability

[2016-02-01 19:16] dottorer commented on #76
@diegoaad can maybe work with @anvarik to see how we can mimik the 'done' logic turning it green to turn it blue on full assignment. We only have three states: open (grey), fully assigned (blue) and done (green). State transitions to and from are possible...

[2016-02-01 19:19] ajaysagar commented on #105
will do, sorry about that.

[2016-02-01 23:15] #88 closed

[2016-02-02 08:11] dottorer commented on #51
Assigning to @phil-monroe since he is working on dashboards for work groups and the whole circle.

[2016-02-02 08:12] dottorer commented on #50
Assigning to @phil-monroe since he is working on dashboards for work groups and the whole circle.

[2016-02-02 08:15] dottorer commented on #38
@posixpascal this could be one with your expertise, if there is time.

At this point it should list:
1. Photo/initials circle + Full clear text name
2. Email and phone

When clicking on it, it should open the public profile page (to be completed in #19)

[2016-02-02 08:29] diegoaad commented on #76
@dottorer I assigned the issue to myself, will work on that and get help from @anvarik.

[2016-02-02 08:41] dottorer commented on #48
Hi @diegoaad : based on the awesome new public directory, this one is the version shown to the circle administrators only. So the idea is they get to see ANY helper listed (not just the public ones). This gives them the total list. SHould be a quick cloning/tweaking of the existing directory page.

Is it possible to have this appear for admins instead of the public directory? So we don't have 2 li

[2016-02-02 09:30] diegoaad commented on #48
Sure it makes sense to have 2 different listing of directory. So just to clarify:
- As a Circle admin, I can see a Directory which lists all members in my circle including the ones flagged to not show in public directory. The directory should present the following info: name (later link to public profile) + small initials icon, working group, address, phone, e-mail, active since, last login and la

[2016-02-02 14:20] dottorer opened #108 "Missing translatable strings for mvp1"
This issue tracks strings I could not yet find in the yml files to translate. We need to externalize them so I can get at them.

[2016-02-02 14:21] dottorer commented on #108
![image](https://cloud.githubusercontent.com/assets/14217285/12751992/8c3c7514-c9c0-11e5-8887-e874d016612c.png)

drop down values in task_scheduled_time_type

[2016-02-02 14:31] dottorer commented on #108
![image](https://cloud.githubusercontent.com/assets/14217285/12752271/05da488c-c9c2-11e5-9cfc-2d3204888dd7.png)

On user profile:

home and mobile phone
user_public_profile field

[2016-02-02 14:32] dottorer commented on #108
Note that I have translated strings for those already present, they somehow do not yet get picked up from the model values...

[2016-02-02 14:43] dottorer commented on #108
@ajaysagar This one seems to be for the working group edits:

![image](https://cloud.githubusercontent.com/assets/14217285/12752601/9beb6904-c9c3-11e5-9eac-627a4f5ecc78.png)

Still unclear why some of the strings are not picked up by the translations in the system...weird!

[2016-02-02 14:44] dottorer commented on #108
On circle Admin Pages:

![image](https://cloud.githubusercontent.com/assets/14217285/12752666/e4f2ce8a-c9c3-11e5-87b1-77bde47f751c.png)

[2016-02-02 14:46] dottorer commented on #48
Yep, all makes total sense...

[2016-02-02 14:48] dottorer commented on #39
Still some glitches with IE:

1. leftnav not left aligned (see above)
2. images not appearing on some pages or being squished:

![image](https://cloud.githubusercontent.com/assets/14217285/12752732/24d2732a-c9c4-11e5-8cbc-c56aa82528ac.png)

![image](https://cloud.githubusercontent.com/assets/14217285/12752770/4a887088-c9c4-11e5-9dcf-14b43af8aa56.png)

Maybe we can apply some of @madkap 's techniqu

[2016-02-02 15:07] dottorer opened #109 "Make layout of supply like task layout"
We have an inconsistent layout between the two actionable items.

![image](https://cloud.githubusercontent.com/assets/14217285/12753202/64858d70-c9c6-11e5-95ee-58324ea67a35.png)

The supply tracks:
1. organiser is listed twice it seems
2. the helper that signed up for the supply is shown in the main area, not on the right.
3. the action buttons on the right should have the same layout as for actio

[2016-02-02 15:20] dottorer commented on #108
New member sign up page:
![image](https://cloud.githubusercontent.com/assets/14217285/12753811/e7a5d88e-c9c8-11e5-9772-0f0b27cd406d.png)

[2016-02-02 15:35] dottorer opened #110 "Send notification when user adds a comment to a task"
When a comment is posted, we need to send a notification to:

1. task organizer
2. task assignee
3. anyone who posted comments before

This should use the new template en/task/task_comment (same for de/ etc).

This also applies to the supply workflow which can use the same template for now.

[2016-02-02 15:36] dottorer commented on #110
@phil-monroe forgot to file this one a while back but for completeness, tracking it now for mvp1.

[2016-02-03 10:33] dottorer opened #113 "Cannot signup new user even if T&Cs box is checked"
![image](https://cloud.githubusercontent.com/assets/14217285/12779724/eb80094c-ca69-11e5-968c-b3a027f25c0b.png)

Seems like it is not accepting the boolean value for the T&Cs.

[2016-02-03 10:34] dottorer commented on #113
Added this bug to track down...

[2016-02-03 11:46] anvarik commented on #101
@dottorer here is a look:

<img width="186" alt="screen shot 2016-02-03 at 11 49 31 am" src="https://cloud.githubusercontent.com/assets/1272279/12781331/0320edaa-ca74-11e5-8115-851b3176ec38.png">

[2016-02-03 13:14] dottorer commented on #101
Nice - perfectly done! Thanks! We can get a PR out for it...

[2016-02-03 13:54] anvarik commented on #101
@dottorer it is already there #114

[2016-02-03 17:45] dottorer commented on #102
@anvarik Maybe following on the success of the user restyling, you want to look at this challenge? Bit more involved but not much more than the user name nenu we already have...thoughts?

[2016-02-03 17:49] dottorer commented on #102
I think it is better ti just havea drop dien menu like under the username and not have check boxes and a create/ca cel buttons. Let's keep it simple...

[2016-02-04 06:15] #113 closed

[2016-02-04 06:16] phil-monroe commented on #113
@dottorer fixed the issue but i have a followup question: should the public profile checkbox be presented on the account create page? I am assuming no just to get people into the system. The can always go back and check it after they understand the system and what it means.

[2016-02-04 06:19] phil-monroe opened #117 "Send task change notification to task organizer when task is created"
When an admin creates a task that is organized by somebody else, the organizer should receive a task change notification so that they know they are organizing a new task.

[2016-02-04 06:20] phil-monroe commented on #106
The view aspect of this is fixed! thanks @kristysnet

@dottorer As for the task change notification, i put that in a separate issue #117. Lets try and keep the Github issues short and succinct for people to work on.

[2016-02-04 06:20] #106 closed

[2016-02-04 06:21] #103 closed

[2016-02-04 06:21] #101 closed

[2016-02-04 08:40] dottorer commented on #113
Correct, it should not be displayed during signup, but be set as 'YES' as default (Diego is working on that). User should basically opt-out if they need to.

[2016-02-04 16:22] dottorer opened #118 "Issues with first signup and new circle creation"
In the bootstrap scenario of creating the very first circle, I ran into the following sequence of issues:

1. On the sign up screen, I specified the required fields, but left the Location empty.
2. On the second screen, I did not find a circle (none existed) so I used the 'Create Circle' button.
3. Doing so, it crashed with an error that the user.address is nil

If I tab back to the prior page and

[2016-02-04 16:23] dottorer commented on #118
@phil-monroe any thoughts on this process flow? Am I doing it wrong?

[2016-02-04 16:41] dottorer commented on #113
@phil-monroe Maybe we can just feed the 'yes' value into the form without even showing it. Then Diego would not have to modify anything as it would be set during signup.

Also, I noticed we currently show the flag which we would not do in the end.

[2016-02-05 08:05] dottorer opened #120 "Make email invite buttons show number of recipients"
![image](https://cloud.githubusercontent.com/assets/14217285/12840917/772070da-cbe7-11e5-940c-6713c328053e.png)

In order to train the users not to spam the wrong audience, we should list number of targeted receivers in "(xx helpers)" on the button.

[2016-02-05 08:07] dottorer commented on #109
Maybe this could be a good one for @kristysnet ? I looked at the code and it seems like a straight forward carry over from what we do on tasks.

[2016-02-05 08:07] dottorer commented on #109
Bonus credits would be related #120 ...:-)

[2016-02-05 08:09] dottorer commented on #120
Closing as dup of better #104 .

[2016-02-05 08:09] #120 closed

[2016-02-05 08:14] dottorer commented on #39
Assigning to @phil-monroe to see if we can implement madcaps concepts to improve rendering in IE. Right now, it is not usable there which is a critical issue for mvp1 due to our target audience.

[2016-02-05 08:15] dottorer commented on #64
All done.

[2016-02-05 08:15] #64 closed

[2016-02-05 08:16] dottorer commented on #63
@phil-monroe Let's set this to 15 mins....

[2016-02-05 08:17] dottorer commented on #105
@ajaysagar Could we consider this for mvp1 for end of this week? Should hopefully be small beginner work...

[2016-02-05 08:29] dottorer commented on #19
@phil-monroe @kristysnet

I want to ensure this is sufficiently clear and focused in specification for mvp1. Here is what I think we need to do:

1. enhance current 'helper profile' (edit and view)
1.1 instead of "Location", we need to provide a simple address with street, postal code, city and country (see mockup above)
1.2 fix bug that we cannot alter a helpers email right now. It simply flips b

[2016-02-05 08:41] dottorer commented on #89
Here is what we need to do for mvp1:

* Create a new 'public profile' view page, which is accessible to:
** all other helpers if the user has marked their profile as public
** to any circle admin
** to a group organizer where the user is a member
* the page is accessible by clicking on the user icon (e.g. the initial / photo circle) or the user's name (note that this monicker will also trigger the

[2016-02-05 08:46] dottorer opened #121 "Allow username as well as clear name"
Currently we only capture a helper's real clear text name. Per data privacy laws in Germany, we also need to offer the ability to use the platform by pseudonym. Therefore we need to add a field for 'username' to the helper profile.

This needs to be:
- captured during sign up process
- be unique within circle
- can be user for authentication / login interchangeably with email address.
- be rendere

[2016-02-05 08:54] dottorer opened #122 "Route new member signup to admin for approval"
Once we open up the platform for anyone who discovers a circle to sign up /this is our goal!), we need to ensure that the administrator (a) knows about it and (b) has the option to activate the account. We need to make this optional and add a flag on the circle definition for 'new helpers require approval'.

If approval is mandated, this requires a new workflow whereby the newly signed up helper f

[2016-02-05 08:55] dottorer commented on #122
@phil-monroe Per our discussion this is now for mvp2...

[2016-02-05 08:56] dottorer commented on #54
Missing items from the above list are:

1. verification of emails: #69
2. offering pseudonym username: #121
3. new member approvals: #122

Since we isolated the missing bits, I am closing this one and we are tracking bugs separately. Well done, @phil-monroe !

[2016-02-05 08:56] #54 closed

[2016-02-05 08:59] dottorer opened #123 "add Lale logo in app for branding"
We need to provide the correct logos in the app pages for branding. See details below.

[2016-02-05 09:00] dottorer commented on #123
Add (logo+name) to sign-in and sign-up page in top header:
![lalelogocolor180](https://cloud.githubusercontent.com/assets/14217285/12841869/4d7122ea-cbef-11e5-83c1-95b7425e7c15.png)

[2016-02-05 09:03] dottorer commented on #123
Add icon-only to the left nav footer corner in the app itself (this should link to the website lale.help):
![laleiconcolor60](https://cloud.githubusercontent.com/assets/14217285/12841927/be8b44b0-cbef-11e5-8d8f-22c040182b62.png)

[2016-02-05 16:45] dottorer commented on #38
This can be similar to the way google does it in gmail:

![Uploading image.png…]()

[2016-02-05 16:51] pjfanning opened #124 "http://lale.help/ homepage for English locale has German Impressum in footer"
http://lale.help/de/impressum appears beside other English language links for 'Contact Us'.

[2016-02-05 17:24] dottorer commented on #124
Thanks for finding that - at this point the legal requirement for an 'impress' is only for Germany, however I have seen sites having it appear in both languages. I might split it out in 2 pages. What would a good English title be for that content?

[2016-02-06 00:06] pjfanning commented on #124
Hi Ralf, I'm not an expert but I think it might be best to omit the link in the English language version. the content does not appear to be something that normally appears on English language web sites. Or if does, it tends to be a general Contact or About Us page.

[2016-02-06 07:45] dottorer commented on #124
I removed the link from the english footer for now, as less is more. We still have it from the German version. Thanks!

[2016-02-06 07:45] #124 closed

[2016-02-06 08:44] dottorer opened #125 "link to German T&Cs during sign up"
In the sign up form, we need to link to either the German T&Cs (if user language = GER) or the English version for all others.

The URLs are (I changed the slug in a website cleanup so its broken now):

English:       http://lale.help/terms#terms
German:     http://lale.help/de/agb#terms

[2016-02-06 16:38] dottorer commented on #118
Hit this issue another time when I entered an email on the first page, but then use the back button to change the language setting. Then I am locked out cause the email is taken. Maybe we need to wait until we persist the unique user creds or something...

[2016-02-07 08:27] dottorer opened #126 "In sign-up, emails should not be considered case-sensitive."
Right now you can sign up the same user twice with:

k1@ecologicalstrategies.de

and again with

K1@ecologicalstrategies.de

We need to make this unique regardless the case.

[2016-02-07 08:30] dottorer commented on #126
Here is what we got in the database:

![image](https://cloud.githubusercontent.com/assets/14217285/12871473/7a750b6e-cd7d-11e5-9e13-71572627c42d.png)

[2016-02-07 08:34] dottorer opened #127 "'accept T&Cs' does not get persisted"
Looks like the boolean is not being persisted in the DB:

![image](https://cloud.githubusercontent.com/assets/14217285/12871484/e1b22316-cd7d-11e5-96a1-00118b64f8e2.png)

All those users must have checked it to be signed up in the first place...

[2016-02-07 10:03] dottorer opened #128 "Email change not persisted on helper profile"
When changing a user's email address in the helper profile page, the change is not persisted.

[2016-02-07 10:07] dottorer commented on #128
Overall, we need to think about changing emails. They are a unique identifier and need to be valid. Once we check for valid email on sign up, we also need to check for that on change. Maybe this fields needs to be display only on the profile page and move to a separate page as 'My Account' with a proper changer workflow for mvp2:

![image](https://cloud.githubusercontent.com/assets/14217285/128717

[2016-02-07 16:24] dottorer commented on #126
Another issue arose, found by @diegoaad :

Some users are created without having a user.identity. Apparently when we created user i1, we set the email without @ (we specified i1€ecologicalstrategies.de) and this bypassed the required email validation, but never really created an identity.

We need ot tighten up the whole process of initially creating valid users or we will end up with issues in th

[2016-02-07 16:39] dottorer commented on #118
@diegoaad found it: when registering the user can leave the location field empty and then in the next page to join a circle they can enter the location and join the circle, but the location is not persisted at the circle selection.

[2016-02-07 16:50] ajaysagar commented on #105
@dottorer, will try to finish it by tuesday latest.

[2016-02-07 19:46] pjfanning commented on #126
In the PostgreSQL db defintion, we could declare the email columns as 'citext' for case insensitivity.
http://www.postgresql.org/docs/current/static/citext.html

[2016-02-09 12:33] dottorer commented on #51
![image](https://cloud.githubusercontent.com/assets/14217285/12916053/c9981fd4-cf2f-11e5-86fe-d6556ce30a16.png)

Looking good! Few things to note:
1. I pushed the German translations into the dashboard branch
2. The title says 'Circle Dashboard' and is not translatable. It should like read 'Dashboard for:' + circle name.
3. Circle dashboard does not show open supplies, workgroup dashboards already

[2016-02-09 12:46] dottorer commented on #51
@stephanerangaya any better UX wisdom than my outline?

[2016-02-09 12:51] dottorer opened #130 "Users directed to wrong login page / user stuck at login"
There seems to be something wrong with the URL / page we return when sending people to staging.lale.help.

A tester used the 'join' URL from an email, but instead of getting the signup form to enter their name, etc they were shown the login form (which makes no sense for them).

Also, when returning users try to hit the root URL, they end up at the 'Find a circle' page which makes no sense.

Multi

[2016-02-09 12:56] dottorer opened #132 "Improve counts / stats on supply items"
Supplies today have no number of helpers required. Therefore we do not track status as we do on tasks. But in reality, often we need to source several items of one supply.

Therefore I was thinking we need to track not the "number of helpers" but analogous "number of supplies". So we can ask for 5 pairs of kids shoes and accept from multiple donors. Same donor needs to be able to provide more than

[2016-02-09 12:57] dottorer commented on #132
@phil-monroe as a suggestion on how to handle the supply partial view. Thoughts?

[2016-02-09 16:12] dottorer commented on #102
Hmmmm, re-reading it, this is what is left for mvp1. I guess I had bigger plans at some point, but for now it would be:
1. in the top bar offer a nicely styled square orange button saying [(+) New...]    so a plus icon (little smaller and the text 'New...'
2. then this simply drops down the menu as is today...

I don't have too much styling mojo right now, but we need to make it more intuitive for

[2016-02-09 18:14] phil-monroe commented on #130
This is due to session expiration of 15 minutes and is reproduced via:
1) user creates account and joins circle A
2) user leaves site for longer than 15 minutes
3) user receives email with join link
4) user visits join link with expired session
5) user redirected to login page since they had a session, but it was expired.

So if the user had logged in, then re-visited the join url, everything woul

[2016-02-09 18:49] dottorer commented on #130
@phil-monroe hmmm, this sounds like an complex sequence. It feels like we triggered this much simpler. For example, my sister (our tester) used IE for the very first time and entered the Lale root URL (https://staging.lale.help/). Noone was authenticated before in IE (even clreaed cache etc later on). When entering this URL, we do not get the sign in page, but we are redirected to the page of the

[2016-02-10 17:11] dottorer commented on #51
![image](https://cloud.githubusercontent.com/assets/14217285/12955068/a29672e4-d021-11e5-872d-d1f03bfbfb6a.png)

Looking a bit squished on ipad...

[2016-02-12 06:18] #63 closed

[2016-02-12 06:18] #99 closed

[2016-02-12 06:18] #118 closed

[2016-02-12 06:18] #125 closed

[2016-02-12 06:18] #127 closed

[2016-02-12 06:18] #128 closed

[2016-02-12 06:19] #50 closed

[2016-02-12 06:34] phil-monroe commented on #51
everything should be cleaned up :smile:

[2016-02-12 06:34] #51 closed

[2016-02-12 06:34] #110 closed

[2016-02-12 06:38] phil-monroe commented on #130
woah... thats freaky... when you have chance we shoul pair on that via Screen Hero. I'm really interested in how that is happening.

[2016-02-12 07:18] #39 closed

[2016-02-12 07:20] phil-monroe commented on #39
Turns out it had nothing to do with flexbox... I used a placeholder icon that does not exist in our icon font and that causes IE to puke hard...

[2016-02-12 07:21] #89 closed

[2016-02-12 07:23] #82 closed

[2016-02-12 07:24] phil-monroe commented on #123
@kristysnet can you pick this up?

[2016-02-12 09:48] dottorer commented on #89
Lookng good, i noticed that when we dont have access to the profile, we display a flash message 'user cannot be read'. This is a bit confusing and we should just not have the icon be a link in case of non-public user profile. I mean wecshould not perform a clecik, then check if profile is public and then decline the view.

Makes sense?

[2016-02-12 19:00] kristysnet commented on #89
@dottorer that makes sense. Question, should the user even show up in the list view if they can't be clicked?

[2016-02-13 15:18] dottorer commented on #89
Yep, should be listed but not clickable...

[2016-02-15 14:02] dottorer commented on #78
Hi @kristysnet : found some of the changes in the latest rev in your branch - nice. I noticed that in the current build the menu divider 'Working groups' says 'Arbeitsgruppes' in German which is not right. I don't find the string in the yml but it should be 'Arbeitsgruppen'. Is this translatable for me? Thanks!

[2016-02-15 14:03] dottorer commented on #78
And I am not sure the Munich guys are going to get to #100 in time, so if you feel like it, go for it...:-)

[2016-02-15 14:10] dottorer commented on #19
@kristysnet Couple of things I noticed:
1. the 'about me' field is mandatory but shouldn't (also did not even show a * to mark it required)
2. i think it would be much better UX if the user was shown a view-only version of the profile when they click on the top bar menu item. Then on that page they have a button 'Edit your profile' which takes them to the edit page. Once saved they go back to the

[2016-02-15 14:13] dottorer commented on #89
![image](https://cloud.githubusercontent.com/assets/14217285/13050873/73e19810-d3f6-11e5-94ac-00960ce4bec8.png)

Good first stab at the public user profile. This is one that the UX folks should be excited about styling, so inviting @amin-nas to maybe take a look? This is the page a helper see about another helper to gain insights. It is related to #38 which pops on on hover over for user to not na

[2016-02-16 09:25] dottorer commented on #81
This is coming up more and more as a must-have with the pilot groups.

@phil-monroe how difficult would it be to:
(a) mark a group private and show it in the left nav only clickable to members (and a little key icon).
(b) instead of join/leave button, we need to have a prompt of all circle members to add them to the group and remove them from the group.

[2016-02-17 15:59] dottorer commented on #122
This might be a must-have soon even if we envision the "join" Url as the main means of onboarding. @phil-monroe How much work do you think this would be? I am envsioning:
1. flag to make this active for a circle
2. routing of pending activations to circle admin.
3. email to new signee to let them know they will ne reviewed
4. UI for the admin to accept / decline new signee
5. email to user with re

[2016-02-17 16:05] dottorer opened #137 "Remove "location" approach from circle and user"
While the concept of location and geocode is very relevant in the "find a circle" flow, it makes little sense in the regular capture of key objects like circle and helper. In fact, it seems to frequently cause issues if no valid location is resolved. More so, users have consistent issues understanding what to enter there.

Given this, we need to remove location (at least visibly, we might track it

[2016-02-17 16:08] dottorer commented on #137
@phil-monroe added this for mvp1, do you think this is something kristy could tackle?

[2016-02-17 16:28] dottorer opened #138 "Allow re-use of predefined locations for a circle to locate tasks"
Most of the times, a task is happening at a specified location being one of the refugees housings. Instead of retyping them each time, we should make them predefined at a circle and allow to use them when creating a taks or supply.

This breaks down into:
1. allow circle admin to predefine multiple addresses as 'key locations' of the circle.
(Note: one of the key locations could be 'from home' to

[2016-02-18 16:38] dottorer commented on #123
Looks great. Thank you!

[2016-02-18 16:38] #123 closed

[2016-02-18 16:40] dottorer commented on #78
Looks so much better, i think. Well done! Only thing is we should remove the "all tasks" and only leave the new "open tasks" nav item. Otherwise we duplicate stuff there for no value.

Can you do that still? I will then close this one out. Nice work!,,,

[2016-02-18 16:44] dottorer commented on #81
Hey there, this one would be super sweet for pilot with the circles. Would it be a lot of work to come up with a meaningful prompt to add and remove circle members to a private group?

[2016-02-18 16:50] dottorer commented on #108
@diegoaad i did another round of translation checking and looks like exactly what we have listed now is still pending extraction into strings....just fyi...

[2016-02-19 10:28] dottorer opened #140 "Supply email 'mark complete not working'"
When we click mark complete button on the supply completion email, we get an error. Looks like a variable is off there..

[2016-02-19 10:29] dottorer commented on #140
![image](https://cloud.githubusercontent.com/assets/14217285/13173111/0c421b4a-d6fc-11e5-8dd1-7bc87175fb0e.png)

[2016-02-20 15:07] dottorer commented on #108
@kristysnet: Diego will not find the time as he is headed to Brazil. Could you take a look at exposing these last strings?

[2016-02-20 15:16] dottorer commented on #78
Just checking with @kristysnet if we can quickly remove the duplicate link, otherwise this is done...

[2016-02-20 15:18] dottorer commented on #76
@kristysnet We already have a way to determine the status of a status and we set the color of the little dot icon accordingly. I guess this issue is then only to color the header portion of the task page in the same color. What do you think?

[2016-02-20 15:19] dottorer commented on #38
This is done and working well! Sometimes the location of the preview box is a bit off, but we can fix that as we go. Thanks @milena-i for your contribution!

[2016-02-20 15:19] #38 closed

[2016-02-20 15:20] dottorer commented on #69
Hi @zabojadek : I assume this hasn't proceed enough to be included in mvp1, so I am dropping into mvp2 then. Let me know if you are still working on this or if we should re-assign somehow.

[2016-02-20 15:23] dottorer commented on #48
@kristysnet This is pretty much done in the branch 'helper-list'. Unfortunately @diegoaad is running out of time to complete it, so we need someone to just wrap it up and push it out. Maybe you can take a look and we can finish this up together. Diego can let you know what is missing from completion...Thanks!

[2016-02-20 15:27] dottorer commented on #105
Let's mark this complete for now. The prompt for multi-select of several work group organizers is really hard to grasp, but so be it for mvp1. Also the missing translations of the page header is tracked in #108 so we should lock this down.

[2016-02-20 15:27] #105 closed

[2016-02-20 15:33] dottorer opened #141 "Allow work group organizer to assign task to work group member"
Often a work group organizer already knows someone to take on a task (or they have previously talked about it). In that case, they should have a way to make any group member an assignee of the task.

This would require:
(a) prompt to select from work group members to fill an assignment spot
(b) email notification to new assignee using 'task suggestion' email template with the option to decline the

[2016-02-20 15:33] dottorer commented on #81
@phil-monroe moving this one into mvp1 since I heard 3 pilot circles mentioning it as a main barrier for them to really use the platform. They just have private stuff to organize. Therefore trying to get it into mvp1. Let me know what you think.

Good news: If we have a control that allows us to pick any circle member to become part of the group, we can also use that type of helper prompt in #141

[2016-02-21 05:38] zabojadek commented on #69
Hi @dottorer, I had done some work on this but this is still in progress. I can carry on with this to include it in the mvp2. I'll try to give you an update by the end of this week. Apologies for the delay.

[2016-02-23 05:45] dottorer commented on #130
@phil-monroe The user data in Staging are this are in circle 'Helferkreis baml'.

Bernd Helfer - baml3@gmx.de -> Password- HK03baml  (Circle admin)

Heidi Helfer -> baml1@gmx.de -> Password HK01baml

Heinz Helfer - baml2@gmx.de -> Password HK02baml

None of these can log in right now, it seems. Also we receive no error message at all on the login screen which is weird. Lastly, this has been tested

[2016-02-23 05:48] dottorer commented on #98
Also noted that overallocation is no problem from the email buttons when more helpers click 'yes'. However online once the required number is reached, no one can add themselves, which we should allow.

[2016-02-23 05:55] dottorer commented on #141
@kristysnet this would be an important improvement to how tasks are actually allocated in real life. I heard this numerous times by now as a requirement. We have the task suggestion email in place, which we would need to tweak only a bit. Main item here is a highly usable prompt to select work group member for assignment. Your ideas on this would be much appreciated, we should get that in soon for

[2016-02-23 07:05] phil-monroe commented on #130
@dottorer: The only thing that I could find wrong for those users was that their passwords you listed were incorrect. I just reset their passwords, and they can now login just fine.

[2016-02-23 07:21] dottorer commented on #130
Hmmm, i guess that is good, i could not even find ther user-identity. Wil try again now.

[2016-02-23 07:57] phil-monroe commented on #137
should now be remove from users, but still needs to be fixed for circle's and tasks

[2016-02-23 08:00] phil-monroe commented on #76
should be closed in #144

[2016-02-23 08:00] #76 closed

[2016-02-23 08:01] dottorer commented on #19
@kristysnet The helper page is almost there, but we need to make a few changes still. There are really two distinct things here:
(a) the helper account page, where they can maintain their data like email and address and such
(b) a public helper profile page that represents the helper to others in the circle.

Changes required:
1. Currently we show the 'public profile' page when we click the 'Your

[2016-02-23 08:04] dottorer commented on #78
Perfect!

[2016-02-23 08:04] #78 closed

[2016-02-23 08:06] dottorer commented on #76
Looks great - thanks!

[2016-02-23 16:03] dottorer commented on #130
I tried this again right now and I could not login for the first user above (baml3@gmx.de). This is the circle admin and it seems still hosed.

The second user (baml1@gmx.de) is passing the sign in screen, but then taken to the 'Find circles near you' page, where they can pick other circles, but not the intented 'Helferkreis baml' one. Note tha this user was originally created by following the the

[2016-02-23 16:11] dottorer commented on #130
![image](https://cloud.githubusercontent.com/assets/14217285/13257739/56fc2a16-da50-11e5-8f84-2ca063502a2d.png)

@phil-monroe I believe the two helper baml1 and baml2 do not have a valid primary_circle_id hence they are stranded somehow. This is where we get stuck i believe.

[2016-02-23 22:40] kristysnet commented on #108
@dottorer The missing strings (at least for english) on the sign up page should have been addressed in a pull request that was merged last night. Were there any other pages you wanted me to look at to add missing translation strings to?

[2016-02-24 09:04] dottorer opened #147 "Join URL not working"
When using the join URL such as https://staging.lale.help/join/3-helferkreis-kirchheim it fails on location (see rollbar).

[lale-help-stg] staging - New Error: ActionView::Template::Error: undefined method `location' for #<User::Create:0x007ff85ec59578> https://rollbar.com/lale-help-stg/lale-help-stg/items/71/

[2016-02-24 09:08] dottorer commented on #108
@kristysnet

Sign up screen looks good. This leaves us with:

1. Schedule values from the base_form.rb of tasks:
![image](https://cloud.githubusercontent.com/assets/14217285/13280435/553fd054-dade-11e5-83f3-e0a81615012d.png)

2. Heading in the working group page (hardcoded)
![image](https://cloud.githubusercontent.com/assets/14217285/13280460/791abc32-dade-11e5-934a-279ddb6eee6e.png)

[2016-02-24 11:36] dottorer commented on #48
@phil-monroe Here is the detailed spec for the helper list and organiser list:

Status today:
![image](https://cloud.githubusercontent.com/assets/14217285/13284054/08332428-daf2-11e5-827c-09b52047a803.png)

## 1. Helper List
This list has 2 functions and versions, under the same leftnav link:
### 1.1 Helper List for all members
This should list all circle members that have marked their profile pub

[2016-02-24 11:42] dottorer commented on #48
![image](https://cloud.githubusercontent.com/assets/14217285/13284279/900f5f28-daf3-11e5-9da1-b465abdae3cb.png)

## 2. Organizers
This list has the function to give quick access to the key people of a circle. It should list all circle admins plus work group organizers. Columns are:
- small initials icon & name, which links to the public profile page (hover over should work correctly on each line)

[2016-02-24 13:13] dottorer opened #149 "IE not showing images / icons"
in IE, several images and icons are not appearing which can leave users confused and stranded.

[2016-02-24 13:13] dottorer commented on #149
Administration pages:

![image](https://cloud.githubusercontent.com/assets/14217285/13286302/cf26e430-db00-11e5-8077-194184e14053.png)

[2016-02-24 13:21] dottorer opened #150 "Circle name must not end with special char"
The invite URL is broken if it ends in a special char. Example: Circle name "FCB hilft!" results in URL "https://staging.lale.help/join/23-fcb-hilft!" which when used in an email omit the last '!' from the URL and fails.

[2016-02-24 14:42] dottorer commented on #150
We could also just trim this from the join URL if that works. This way they can name their circle whatever they want.

[2016-02-24 17:18] dottorer opened #151 "On supply email, first user wins, others do not have feedback"
Example:

we send our invite email to source a supply in work group 'Begegnung'. All members receive the invite with the 'I have this' button.

First user 'user2@lale.help' clicks the button and the supply is assigned to him.
Second user 'user4@lale.help' clicks button in his email, then it taken to the supply page where it still shows 'user2' assigned. However, he now has the button 'I don't have

[2016-02-24 17:19] dottorer commented on #151
![image](https://cloud.githubusercontent.com/assets/14217285/13294171/0d1e1746-db23-11e5-8566-7e205b87cc8b.png)

This is user4 (Karl May)

[2016-02-24 17:23] dottorer opened #152 "French email templates not being used for French user."
We now have French templates for all email, but they don't seem to be picked up for French language users.

![image](https://cloud.githubusercontent.com/assets/14217285/13294301/944d4d72-db23-11e5-9e6e-c11dffd23e74.png)

Title is in French, but template is not used:
![image](https://cloud.githubusercontent.com/assets/14217285/13294322/ae99fa7c-db23-11e5-89fa-504fbeb99d1c.png)

[2016-02-24 17:25] dottorer commented on #151
Strnage enough, if a third user (one that is admin) being ralf@lale.help (Ralf admin) also clicks the 'I have this' button, he snaps the supply away from the first guy:

![image](https://cloud.githubusercontent.com/assets/14217285/13294367/f6bee77c-db23-11e5-8ee3-4b64bcfd9d5e.png)

[2016-02-24 17:28] dottorer commented on #151
@phil-monroe I think the right way to handle this is to implement something more along the lines of #109 where multiple helpers can sign up to donate a certain item. In the scenario used we need 8 sleeping bags and folks could bring 1 or more each...

[2016-02-24 17:45] #140 closed

[2016-02-24 18:03] dottorer opened #153 "Work group lost when editing tasks"
Task is in WG 'Arbeit':

![image](https://cloud.githubusercontent.com/assets/14217285/13295461/42b5270e-db29-11e5-9be5-3d2f0dbe903d.png)

Edit does not show it:

![image](https://cloud.githubusercontent.com/assets/14217285/13295474/55433df2-db29-11e5-9deb-d7211f3cfc74.png)

[2016-02-24 18:04] dottorer commented on #153
We cannot select a work group in the empty prompt and saving causes:

![image](https://cloud.githubusercontent.com/assets/14217285/13295496/7409d48a-db29-11e5-933d-db8d9e1c4ff7.png)

[2016-02-25 04:59] phil-monroe commented on #147
fixed!

[2016-02-25 06:22] #153 closed

[2016-02-25 06:26] #150 closed

[2016-02-25 06:57] phil-monroe commented on #151
Currently, supplies are designed to be tied to a single volunteer. The latest update ensures only one volunteer can claim a supply.

Is having supply quantities and multiple volunteers required for MVP1?

[2016-02-25 07:09] phil-monroe commented on #152
@dottorer: none of the french templates were pushed from Mailchimp to Mandrill.

[2016-02-25 07:09] #152 closed

[2016-02-25 07:12] phil-monroe commented on #152
I pushed all of the french templates and verified in my local dev that french templates work.

[2016-02-25 07:43] phil-monroe commented on #19
Seems to be done to me. @dottorer feel free to reopen if you have any issues.

[2016-02-25 07:43] #19 closed

[2016-02-25 07:46] phil-monroe commented on #108
Just needs another round of translations:

[code]

[2016-02-25 07:46] phil-monroe commented on #98
Seems to be done to me. @dottorer feel free to reopen if you have any issues.

[2016-02-25 07:46] #98 closed

[2016-02-25 07:48] phil-monroe commented on #151
Closing this bug out for now. We can add multiple volunteers to supplies as apart of #132.

[2016-02-25 07:48] #151 closed

[2016-02-25 12:33] dottorer commented on #117
@phil-monroe not sure if this isn't already happening and we can close. Point is that if you assign a task organizer, they need to know they have something to do :-)

[2016-02-25 13:08] dottorer opened #157 "Supply list shows top 10 supply items, but no way to get to older items"
The supply list shows only 10 items with no way to scroll through older items. We should have controls to page through a long list.

[2016-02-25 13:19] dottorer commented on #126
This is not quite working as intended. A user can have their own way of entering their email address when registering, and it should be stored as such. However, we need to enforce uniqueness on the lower case based version.

**Example:**
RALF@lale.help
ralf@lale.help
ralf@Lale.help

should all log me in into the same account. However a user might prefer to enter it in a specific way and it should

[2016-02-25 13:27] dottorer opened #158 "in Firefox, cannot copy join link and copy button not working"
When I click the copy symbol , the message appears “copied”, but in the clipboard there is still some old text.
Also it is impossible to highlight the URL text and copy & paste it. Weird how we can suppress even the highlighting of the URL text!

[2016-02-25 13:27] dottorer commented on #158
This has been reported by multiple firefox users...

[2016-02-25 13:34] dottorer opened #159 "From task, we get link back to 'All tasks' which should be 'All open tasks'"
When viewing a task, we can navigate back to 'All tasks' but we replaced this page with the 'All open tasks'. We should change the link and show the label 'Back to Open Tasks'

![image](https://cloud.githubusercontent.com/assets/14217285/13320998/d2e579d4-dbcc-11e5-999c-4e8ee73a17dc.png)

[2016-02-25 13:41] dottorer opened #160 "Task header color does not match task dot color"
We have a mixup of color between how we render the dot in from of a task in the task list and how we color the header. Today we have:

NEW TASK: dot = light blue / header = light grey
ALLOCATED TASK: dot = black / header = light blue (!!!)
URGENT TASK: dot = red / header = depends on status
CLOSED TASK: dot = green / header = green

What we need to have is consistency with (code changes required m

[2016-02-25 13:52] dottorer opened #161 "Supply does not change dot or header color according to status."
Even if a supply is already assigned to a helper to deliver, it shows grey.
![image](https://cloud.githubusercontent.com/assets/14217285/13321402/19dbf1e0-dbcf-11e5-8061-3f5e4b5e21d5.png)

We should follow the same approach as for tasks and do:
NEW SUPPLY: dot = light blue / header = light blue
ALLOCATED SUPPLY: dot = dark grey / header = dark grey
URGENT SUPPLY: dot = red / header = red
CLOSED SU

[2016-02-25 13:55] dottorer opened #162 "Nit: Better icon for number of comments needed"
We currently re-use the little compass icon from the existing font set, but this was only a stop gap.

![image](https://cloud.githubusercontent.com/assets/14217285/13321540/daf70db0-dbcf-11e5-9877-3f07303c0919.png)

It confuses users and we should replace it with

![image](https://cloud.githubusercontent.com/assets/14217285/13321534/cbc02f20-dbcf-11e5-8502-ef0d6637ab6d.png)

[2016-02-25 14:00] dottorer opened #163 "On circle dashboard, organizers are listed multiple times"
If a user is organizer of more than one work group, we list them multiple times in the 'Organizers' box. This is not helpul here:

![image](https://cloud.githubusercontent.com/assets/14217285/13321635/80f0f8f2-dbd0-11e5-9c99-06f4fa025590.png)

[2016-02-25 14:01] dottorer commented on #163
Writing up nits by now to apply spit and polish :-)

[2016-02-25 14:02] dottorer commented on #163
@kristysnet  Also note on the screenshot that work groups can have the same name (they are unique by Id I guess). This will happen rarely but we might rule it out and make the WG name unique. Just noticed it and don't want to pollute the issue, let me know if you want a separate one.

[2016-02-25 14:55] dottorer commented on #27
I think we can close this out with what we have for there right now. Only thing is that we are missing the MIT open source license file.

@phil-monroe did you already add this somewhere and do you know which format this needs to have to be 'official'?

[2016-02-25 14:58] dottorer commented on #27
Is it as simple as droping a license.md file into the repo?
http://programmers.stackexchange.com/questions/157968/how-to-manage-a-copyright-notice-in-an-open-source-project

[2016-02-25 15:00] dottorer commented on #152
@phil-monroe sorry totally my bad, i forgot about the mandrill push when I cloned the templates - duh!

[2016-02-25 15:01] dottorer commented on #151
Agreed that we can close this for mvp1 and re-visit the whole way of dealing with supplies as a real feature overhaul....

[2016-02-25 15:02] dottorer commented on #108
Done for German and in trans 5 branch. Awaiting Pierre's French text to drop in as well.

[2016-02-25 15:16] dottorer commented on #149
Also not showing logo on JOIN / Sign Up page

![image](https://cloud.githubusercontent.com/assets/14217285/13323756/28a0cd70-dbdb-11e5-94f3-acfaa11fc427.png)

[2016-02-26 16:52] dottorer opened #165 "Sign up flow broken on location field"
Per https://rollbar.com/lale-help-stg/lale-help-stg/items/72/ we currently cannot have a new person sign up for Lale (which we need for the very first admin user to start the whole thing).

[2016-02-26 16:54] dottorer commented on #165
@phil-monroe @kristysnet

Looks like there is a glitch on location. Note that we should not require an address necessarily as user should be able to sign up 'light' with email / password. In order to find an existing circle, we should have them enter a search string in the location field to show existing circles on the map.

When they create a new circle, they must specify a full address as a requ

[2016-02-28 13:43] dottorer opened #166 "Nit: French date format off in app"
![image](https://cloud.githubusercontent.com/assets/14217285/13379571/6b203dac-de29-11e5-82d0-5ce725aced76.png)

The strftime result in the app is off for French. Instead of:

Samedi 27 Février 2016 **le**

it should read more like:

Samedi, le 27 Février 2016

[2016-02-28 13:43] dottorer commented on #166
@pierresauvignon found this one, maybe quick to fix...

[2016-02-28 14:01] dottorer opened #167 "Setup rspec environment"
We need to setup the test framework rspec so developer can deepen our testware for CI.

[2016-02-29 06:49] phil-monroe commented on #165
Should be fixed now. Feel free to reopen with steps to reproduce if there is another way this fails.

[2016-02-29 06:49] #165 closed

[2016-02-29 06:50] phil-monroe commented on #137
Should be fixed now. Feel free to reopen if there is anything missing.

[2016-02-29 06:50] #137 closed

[2016-02-29 11:39] dottorer commented on #147
Re-testing this with a new circle. Issue condition was by following the 'Join' URL for a new helper circle, I am taking to the correct page inviting me directly to the new circle.
https://staging.lale.help/join/25

However, the new user **does not enter an address**, and therefore is not taken into the circle directly but to the 'Find circle' page:
https://staging.lale.help/public/circles

When us

[2016-02-29 11:52] dottorer commented on #147
More so, if I go back and enter an address near that circle, I get the following page:
![image](https://cloud.githubusercontent.com/assets/14217285/13393654/28e7965a-dee3-11e5-9d7a-740b548d6699.png)

I seemed to be signed on as the new user (Detlev), but it is asking me to correct an error but not showing any fields....?

[2016-02-29 11:57] dottorer commented on #147
Also, the Join page does not offer the 'show my profile to all circle members' check box which we must offer here.

[2016-02-29 12:04] dottorer opened #168 "Nit: Public profile not showing full address"
User has a full address specified in the profile.
![image](https://cloud.githubusercontent.com/assets/14217285/13393942/e409afe4-dee4-11e5-952c-10b8bcf87325.png)

but not shown on the public profile:
![image](https://cloud.githubusercontent.com/assets/14217285/13393963/068def1c-dee5-11e5-9105-c923b7f4b1db.png)

[2016-02-29 12:06] dottorer commented on #168
Note also that the label for 'Working Groups' here is not found in the de.yml file and should be 'Arbeitsgruppen'. More so, the different group names should be separated by ', ' and not glued together.

[2016-02-29 12:14] dottorer commented on #130
This seems to be working better now and we should consolidate the effort on #147. Will close this and create a clean one should issues occur in testing.

[2016-02-29 12:14] #130 closed

[2016-02-29 14:23] dottorer opened #169 "Response comment fails"
When following the email invite to review a comment on a task, the user can open and see the task, but when entering and submitting a comment it fails.

Task URL from the email: /circles/3/tasks/30/comments

Error in papertrail:
[code]

[2016-02-29 14:26] dottorer commented on #169
For the same user and same task, this works when responding to the task_update email. It does not work when responding to the task_comment email which might have to do with the URL or token.

[2016-02-29 14:31] dottorer opened #170 "Nit: when many comments are entered, the scrollbar is showing the oldest, not the newest"
Users don't see the oldest comment in the comment scrollbar on a task, but not the latest ones. This is confusing if they just followed the email link to review a comment.

[2016-02-29 15:25] dottorer opened #171 "When assigning a task organizer, only show group members in prompt"
When the work group organizer creates a new task and assigns it to a different task organizer, the picklist should not show all circle members, but only all group members.

[2016-02-29 15:30] dottorer opened #172 "When creating a new task in a new work group, error occurs"
We created a brand new work group and opened the very first task. Saving causes the following error:

[code]

Seems like a working group ID is missing?

[2016-02-29 15:34] dottorer commented on #172
Really odd behaviour, when hitting the back button from the error page, the edit form of the new task shows the task name entered in the due date field ?!?

[2016-02-29 15:52] dottorer commented on #172
It seems also that the value for work group is not changeable (the wg organizer has only one work group). It appears grayed out and not changeable by drop down. This might have to do with the recent fix for delegated tasks.

[2016-02-29 15:57] dottorer commented on #172
Confirmed: when a user has more than one work group to organize, the prompt is open and I can select one of the 2 groups. Then saving the task works. Therefore it appears that the grayed out value in the scenario above is shown, but not persisted.

[2016-02-29 16:00] phil-monroe commented on #172
The current implementation is: If *any user* that can create or edit a task can
only do so for only a single working group, then the select box will be disabled
and force selected to the only working group they have access to.

For example: a helper is a working group organizer for only one working group.
In this case the user can create new tasks but cannot assign a different working
group. The t

[2016-02-29 16:01] phil-monroe commented on #172
Ahh, if that's the case I bet I know what is going on.

On Mon, Feb 29, 2016 at 8:00 AM, phil@philmonroe.com <phil@philmonroe.com>
wrote:
The current implementation is: If *any user* that can create or edit a task can
only do so for only a single working group, then the select box will be disabled
and force selected to the only working group they have access to.

For example: a helper is a working

[2016-02-29 16:04] dottorer commented on #172
I think the behaviour you outlined above with a single WG as organizer is correct, it should be defaulted to that unchangeable. Problem is it crashes when we do that :-)

[2016-02-29 16:29] dottorer opened #173 "Nit: remove 'Find Helper Circle' from user drop down menu"
The feature to be a member of more than one helper circle is working pretty well. However, it is not yet intuitive how to switch between circles and what this all means.

For mvp1 we should suppress the menu link and revive it later.

[2016-03-01 04:15] #172 closed

[2016-03-01 04:51] phil-monroe commented on #169
I don't think this is actually an issue with commenting after clicking the link from a task_comment email but is in fact an isolated error due to rails being slow to start up.

As per [the docs](https://devcenter.heroku.com/articles/error-codes#h13-connection-closed-without-response), an `H13` error is due to unicorn timing out because the process took too long.

You can see in  the logs below tha

[2016-03-01 04:51] #169 closed

[2016-03-01 05:03] #126 closed

[2016-03-01 05:36] #158 closed

[2016-03-01 05:41] kristysnet commented on #161
@dottorer fixed the new/allocated/closed statuses to reflected the correct header colors in the feature/dot_header_colors branch. I don't see any logic in the application that defines 'urgent' tasks/supplies though. What makes a tasks/supply 'urgent'? Or is that a future feature?

[2016-03-01 05:44] dottorer commented on #161
I think we have a way to determine when to show the dot as red. It is something like not fully allocated with less than three days to go. Also unusually high number of comments can nark something as problematic. Phil would know the exact function in the code...

[2016-03-01 06:20] phil-monroe commented on #147
I fixed the issue with form errors preventing a user from joining a circle, but cannot seem to reproduce the redirect to https://staging.lale.help/public/circles...

I'm closing this out for now, @dottorer or @Matthias-Lale feel free open a new issue if the public circles redirect still exists, but please include more detailed steps to reproduce.

[2016-03-01 06:20] #147 closed

[2016-03-01 06:49] phil-monroe commented on #171
fixed!

[2016-03-01 06:49] #171 closed

[2016-03-01 06:50] phil-monroe commented on #161
fixed!

[2016-03-01 06:50] #161 closed

[2016-03-01 06:50] phil-monroe commented on #160
fixed!

[2016-03-01 06:50] #160 closed

[2016-03-01 07:06] #166 closed

[2016-03-01 14:10] dottorer commented on #108
Added March 1 translations for DE and FR in feature/trans6 branch.

[2016-03-01 14:10] #108 closed

[2016-03-01 18:05] dottorer commented on #167
This is done by @phil-monroe already - great!

[2016-03-01 18:05] #167 closed

[2016-03-01 20:17] phillipoertel commented on #167
@phil-monroe btw. how do you run the feature specs in Docker? Its seems Firefox is not set up in there.

[2016-03-02 13:42] dottorer commented on #122
Created email templates in MailChimp for en/de.

"en/user/account_activation"
Variables:
*|FIRST_NAME|*
*|HELPER_CIRCLE|*
*|APPROVE_REQUEST_URL|*

"en/user/account_activated"
Variables:
*|FIRST_NAME|*
*|HELPER_CIRCLE|*
*|CIRCLE_LOGIN_URL|*

[2016-03-02 14:14] phillipoertel commented on #122
Updated spec from discussion with Ralf yesterday:

- if user activations are pending, the circle admin sees a number behind "Administration" in the sidebar.
- the circle admin invite page gets a table with pending users, showing name, email, signup on and an approve/decline button. The table _only_ shows pending signups.
- pending users can't use lale, instead they get a message like "Your account

[2016-03-02 15:06] phillipoertel commented on #122
@phil-monroe here are my thoughts. It's a draft, I may still be missing something.

1. add state attribute on User:

- DB migration to add user.state
- add to User: "enum state: [:pending, :active, :rejected]"
- DISCUSS: add "validate :state, inclusion: [:pend...]", too? Allow nil for state?

2. set user pending after signup:

- assign :pending state in User::Create::Submit#execute

3. pending use

[2016-03-03 04:20] kristysnet commented on #48
@dottorer I updated the feature/helper-list branch to reflect your specifications for the public helper list (currently called Public Members) and the admin-only list (currently called Helper list). If you could take a look and let me know what you think, that would be great. I'll be working on the Organizers part tomorrow.

[2016-03-03 05:32] dottorer commented on #48
I will take a look today. One thought was there was ideally only one link in the left nav named 'helper list'. If your are admin, you get the full set. If you are not admin, you get the public list only. Does that make sense?

[2016-03-03 05:35] kristysnet commented on #48
yes, they are basically the same thing with just a few columns difference and only admins can see non-public members. Its just the link names / headers that are different. We can make them the same if you want.

[2016-03-03 07:51] dottorer commented on #27
MIT license in root folder now . Done!

[2016-03-03 07:51] #27 closed

[2016-03-03 14:26] dottorer commented on #102
@kristysnet : Here is a screenshots of the button in IE11:

![image](https://cloud.githubusercontent.com/assets/14217285/13497139/287f0004-e154-11e5-89f5-3790b1fad5ef.png)

Note it is on the right side of the leftnav divider line and also doesn't scale to the text there...sorry if this is fiddly but we need it to be properly scalable...can you take a look?

[2016-03-03 14:29] dottorer commented on #48
@kristysnet Looked at the branch and it is getting close! One thing I noticed is that we should use the small initials icon (sized like in the top menu bar) for each user. The real big one is to bulky. Will do some more detailed visibility testing next.

![image](https://cloud.githubusercontent.com/assets/14217285/13497235/95553d7e-e154-11e5-8b1b-c188bef5d27f.png)

Also last col should be shorter

[2016-03-04 04:26] kristysnet commented on #159
Fixed this in feature/task_back_button. I made the link go back to where ever the user clicked on the task from (or supply). That way if they click a task from the circle dashboard, the back button goes back to the circle dashboard. We may want to update the back button text to be more generic to match this (circle.tasks.show.back and circle.supplies.show.back). Maybe have it just say 'Back to tas

[2016-03-04 05:11] dottorer commented on #159
@kristysnet this is a great solution. Please assign back to me so ican ensure i update labels and translation...

[2016-03-04 07:48] dottorer opened #183 "Organizers list showing non-organizers"
The organizer list should only show members that are either admins or organizers of a work group. Right now they show many others as well:

![image](https://cloud.githubusercontent.com/assets/14217285/13521041/cdc225b4-e1e5-11e5-9b69-3f52401720a5.png)

My user viewing the list is admin, but this should not matter in this scenario. Only 7 people should be listed.

[2016-03-04 16:41] kristysnet commented on #162
Should be fixed in IE 11 now

[2016-03-04 16:49] phillipoertel commented on #122
@ralph @phil-monroe a first version of the happy path for this feature is currently deployed on staging, if you would like to have a look.

Still to do:
- rather than logging out a pending user after choosing a circle, show him/her a decent page and message
- implement decline action (to discuss)
- refine UX when accepting pending members (to discuss)
- make sure only active members are shown in a

[2016-03-06 05:09] kristysnet commented on #163
@dottorer Would you like working group name to be unique across the board, or on a per circle basis?

[2016-03-06 08:45] dottorer commented on #163
@kristysnet unique within circle is what we need. thanks!

[2016-03-06 09:25] dottorer commented on #102
@kristysnet / @phil-monroe I was playing around with this new button layout more and have a few thoughts:
1. The real label should be 'Add', not 'New'. Sadly, this without a dispute translates in German into the ugly 'Hinzufügen' (we can thank Microsoft for the terminology).
2. If the label gets so long, it overlaps the circle name on the left. We cannot move the button to the right of the line be

[2016-03-07 10:14] dottorer opened #188 "Provide better guidance to user when login fails"
Right now, when a user is not entering the correct email / password into the sign in page, there is not message and the page just gets refreshed. This can lead to frustration and we should give some overall hints as to what could have gone wrong. We need to balance this with a security aspect of not giving too many hints to hack the site, but we need to help the users with generic things to consid

[2016-03-07 10:16] dottorer commented on #188
Example of what XING sends you:
'Bei der Eingabe Ihrer E-Mail-Adresse/Ihres Kennworts ist ein Fehler aufgetreten. Bitte beachten Sie, dass Sie sich ausschließlich mit Ihrer aktivierten E-Mailadresse einloggen können. Ebenso muss die Gross- und Kleinschreibung des Passwort berücksichtigt werden.'

'An error has occured when entering your email and password. Please remember that you can only log in

[2016-03-07 10:17] dottorer commented on #188
Per conversation with @phillipoertel entering this for mvp2 consideration.

[2016-03-07 12:42] dottorer opened #189 "Not permission to complete action puts task in weird state"
This is around taks: https://staging.lale.help/circles/3/tasks/73

I tried to close out the task, but I got the flash message 'user does not have permission to complete action' or something similar. I am logged in a user4@lale.help who is working group organizer of the group that this task is in. Therefore I think it is correct to offer the option of 'Close task' Note also that this task is delega

[2016-03-07 13:20] dottorer commented on #189
Note that on second try user4@lale.help was able to close the task. Might have been a timing / warm-up issue?

[2016-03-07 16:46] kristysnet commented on #102
@dottorer Restyled the add button in branch feature/add_button_rev2. Please have a look and let me know if you want me to make further changes.

[2016-03-07 17:12] dottorer commented on #102
Hi Kristy, here is what I see right now:

![image](https://cloud.githubusercontent.com/assets/14217285/13576677/2ba10c44-e48f-11e5-907c-ce53f7d6c95f.png)

This has the restyled button, but the location is still the same. I was thinking more along the lines of:

![image](https://cloud.githubusercontent.com/assets/14217285/13576838/e0041f32-e48f-11e5-986a-d57f1763c4b4.png)

And in this case, we coul

[2016-03-07 17:13] dottorer commented on #102
Having said that, I am not sure how the drop down menu will look if we place it there as it might overlap the leftnav items in a weird way.

Adding @phillipoertel for thoughts. Boy do we need a UX guy to do the pretty picture for us :-)

[2016-03-07 17:35] dottorer commented on #102
@kristysnet : Alternatively and likely easier and quicker for now is the following option:

![image](https://cloud.githubusercontent.com/assets/14217285/13577450/cbd45c86-e492-11e5-8508-5f0a5d9b48ae.png)

This would required the following:
- do not show add button when we display a single task or supply. This is when we show 'Back to all tasks' in that spot.
- do not show when we display the helpe

[2016-03-07 18:10] kristysnet commented on #102
@dottorer sorry about that, i misunderstood before and thought you wanted to try the restyle/text change first before trying to move location. No worries though, I think your latest idea is better for mvp1 anyway. I will implement this this afternoon.

[2016-03-08 05:33] kristysnet commented on #102
@dottorer feature/add_button_rev2 should now show the add button in the back button area. Also, the font should be the same as the side nav items.

[2016-03-08 05:38] phil-monroe commented on #81
Should be done, just in need of some translations.

[2016-03-08 05:40] phil-monroe commented on #81
Whoops, check that. I need to add a way to manage members still...

[2016-03-08 09:09] dottorer commented on #81
Really awesome first cut by @phil-monroe  on the private work groups - looking nice!! I have done a first cut a translations and deployed in STG. Did some initial testing. Some nits so far:
1. If a group is private, the button 'Join' should not be offered to the users. They can really only be in the group if they have been added by the organizer or admin.
2. The button 'Leave' still makes sense as

[2016-03-08 16:17] phillipoertel commented on #122
Feedback by @dottorer (will be in English again next time ;-))

1. Es läuft schon alles echt rund - well done! Keine hard stops bisher.
2. in der 'your request is being reviewed' page sind oben rechts links zu 'Angemeldet als XYZ' und 'Helferkreis KH' und Abmelden. die aber alle nichts bringen. Den Link zum HK und Abmelden sollten wir wegmachen. Weniger ist mehr.
3. Wenn es pending requests gibt ,

[2016-03-08 17:14] #183 closed

[2016-03-08 17:19] #168 closed

[2016-03-09 10:19] phillipoertel commented on #122
@dottorer

1. thanks!
2. done
3. done
4. todo Ralf
5. done
7. done

UI stuff tested in all browsers I have on my Mac (current Chrome, Firefox, Safari), and deployed to staging.

[2016-03-09 13:24] dottorer commented on #122
point 4. done! Also added translated email templates for DE and pushed them to Mandrill. Will ping Pierre to do French, but we can close this out for now and open issues as they arise.

[2016-03-09 13:24] #122 closed

[2016-03-09 13:50] dottorer commented on #87
@phillipoertel Merging in requirements from dup #68 which I am closing. Will add Taks Rabbit example here for discussion.

[2016-03-09 13:51] dottorer commented on #68
Dup of #87, closing and fixing as part of that.

[2016-03-09 13:51] #68 closed

[2016-03-09 13:58] dottorer commented on #87
![image](https://cloud.githubusercontent.com/assets/14217285/13637295/e49dc066-e606-11e5-9544-6c65dfeef76e.png)

Adding example of powerful yet simple and intuitive "task time picker". More investment than we can stomach, but offers the following:
1. shows week day, date and point in time that is current selected clearly
2. offers 'next week' as quickly scrollable selection window (where most task

[2016-03-10 04:19] phil-monroe commented on #81
Should be good to ship!

[2016-03-10 04:19] #81 closed

[2016-03-10 04:30] #163 closed

[2016-03-10 04:38] #149 closed

[2016-03-10 04:39] #102 closed

[2016-03-10 04:39] #162 closed

[2016-03-10 04:39] #48 closed

[2016-03-10 04:40] #173 closed

[2016-03-10 07:38] phil-monroe commented on #189
we will keep an eye out for it. let me know if it keeps happening.

[2016-03-10 07:38] #189 closed

[2016-03-10 07:39] phil-monroe commented on #159
@dottorer: just needs the translations and this is done.

[2016-03-10 10:19] dottorer opened #198 "Task page layout in IE not rendering right"
![image](https://cloud.githubusercontent.com/assets/14217285/13666428/cec94e1c-e6b1-11e5-9ed5-f95946883afd.png)

This is not properly left aligned in the page in IE11.

[2016-03-10 10:31] dottorer opened #199 "Public profile not aligned correctly on page"
![image](https://cloud.githubusercontent.com/assets/14217285/13666765/94647fba-e6b3-11e5-8bf4-f603be91108d.png)

This happens in Chrome and other browsers.

[2016-03-10 12:06] phillipoertel commented on #188
@dottorer deployed a fix on staging. Need to discuss if the flash message should stay down there, IMHO it's not very visible.

[2016-03-10 13:40] phillipoertel commented on #188
Let's show some guidance info (uppercase / lowercase; CAPS LOCK)

[2016-03-10 15:14] dottorer opened #201 "Nit: use smaller "initials circle" in dashboards"
We have the perfect size initials icon (right size letters, right border) now in the helper list.

![image](https://cloud.githubusercontent.com/assets/14217285/13807333/f79d4966-eb60-11e5-89bc-5b8d6397cea8.png)

We should use that exact circle icon also in:

1. top navbar user icon
2. leaders / organizers in dashboards for circle or workgroups

The large initials circle icon should only be used in

[2016-03-11 12:10] phillipoertel commented on #87
my first stab is available at http://lale-help-dev.herokuapp.com (soon to be http://development.lale.help).

[2016-03-11 15:24] dottorer commented on #87
Definitely an improvement! Few thoughts on first glance:

1. time default value is 0:00 which makes sense if we ignore time and just want a date. However, anytime we specify a time we need to scroll 4-5 times before we get to noon. Not sure how to resolve this in this control but something we need to strike a balance on. Ideally, we could check [x] time to set it and otherwise just display the dat

[2016-03-11 15:33] dottorer opened #204 "Edit task / supply does not offer a 'cancel' option but shows 'delete' instead"
Not sure when that appeared but we do no longer offer a 'cancel' option on edit task or edit supply.

![image](https://cloud.githubusercontent.com/assets/14217285/13706770/d19fe29a-e7a6-11e5-8008-25bec50ed88d.png)

We must offer:
1.  'Update task' (as an orange button)
2. next to it: 'Cancel' as a link text only
3. on the right side aligned 'Delete task' as an orange button.

[2016-03-11 15:56] phillipoertel commented on #188
Changes as discussed with Ralf:
- display red div below the form
- fade it in/out
- don't show flash in the corner

[2016-03-11 15:57] phillipoertel commented on #87
Changes as discussed with Ralf:
- use separate date and time input for due date. time input should optional
- same goes for end date/time

[2016-03-11 16:00] dottorer opened #205 "Fixes for closed groups feature"
Changes for closed groups:

1. Currently we allow closed groups to send invite emails to all circle members. This breaks the privacy of the closed group as random people all of sudden sign up for stuff. Let's not show that option for closed groups.

2. Also, we need to show the closed groups in the leftnav, but make them non-clickable for non-members.

[2016-03-11 16:08] dottorer opened #206 "Nit: field to enter comments is much too faded and is repeatedly not found"
Users do not find the field where to place the cursor to start typing comments. We need to style the border with a darker color to be visible on all screen types.

[2016-03-11 16:09] dottorer commented on #206
Maybe as part of the showing of the last three comments we can add this in....

[2016-03-11 16:14] dottorer opened #207 "Nit: Color of error text not visible enough"
If errors occur on a page, the message 'Please correct error below' is shown on top and in red. Also, we highlight the field in error also in red.

The specific problem is show however under the field and in grey

![image](https://cloud.githubusercontent.com/assets/14217285/13707920/47691988-e7ac-11e5-936e-eb037d3799b7.png)

Is it possible to:
1. show the error detail text in also red
2. position

[2016-03-11 16:16] dottorer opened #208 "Nit: show ‘add’ button also on my task, open tasks, etc."
The current 'Add' button is shown on the circle and work group dashboard (the overview pages).

However, on 'My Tasks' and 'Open Tasks' and 'Completed Tasks' we are not offering the button, but these are also overview pages used by organizers. Can we show the button there, too?

[2016-03-11 16:22] dottorer opened #209 "Improve email template content (and layout) for tasks"
The following improvements should be made for all task (and supply) email templates:

A. make name of task a link to open it (or have ‘view’ button) : allow users to open the task with single signon to review the details or commenting before signing up for the task.
B. on email templates, add task organizer name as ‘sent by’ : lists the person who from Lale sent this email. Important personal touc

[2016-03-11 16:27] dottorer commented on #209
@phil-monroe How much effort would it be to add merge variables in the mailer classes for:
1. link to open the task (working with SSO)
2. Organizer name link

Also, do we know any MailChimp ninjas to get the layout sorted and working cross all mail clients? I can experiment with it but it ought to have been resolved many times before....

[2016-03-11 17:32] phillipoertel commented on #188
@dottorer above changes can be tested on staging.

[2016-03-11 20:45] phillipoertel commented on #87
I just deployed a new iteration on **dev**. Some remarks, referring to your feedback numbers above:

== 0. ==

**Important**: please test with Firefox if the calendar renders incorrectly. There are some global CSS rules in lale which cause parts of the calendar to render outside it's container, and I still need to find and adapt them.

== 1. ==

- Right now it's best to test the UI only with new t

[2016-03-12 06:03] dottorer commented on #159
Translated in branch trans9 and merged in stg.

[2016-03-12 06:03] #159 closed

[2016-03-12 06:04] dottorer commented on #170
Setting this to mvp2 to wrap up mvp1.

[2016-03-12 06:07] dottorer commented on #170
Related to #206 and can be done in same fix.

[2016-03-12 06:15] dottorer commented on #188
@phillipoertel looking good, i will do translation next and we can push to prod once tested.

[2016-03-12 15:55] dottorer opened #211 "Increase password strength for Lale accounts"
Since we are handling personal data and other sensitive information, we need to have a suitable level of password controls enforced. We should enforce:

* min 8 char
* min 1 UPPER
* min 1 lower
* min 1 numeric

[2016-03-12 15:56] dottorer commented on #211
@phil-monroe Is this a reasonable level of PW strength without being too easy to crack and too cumbersome to make up? We now have first users in the PROD system and should likely enforce pw strength before adding many more.

[2016-03-14 07:49] dottorer commented on #157
Closing as it will be addressed by #170

[2016-03-14 07:49] #157 closed

[2016-03-14 08:00] dottorer opened #216 "Ability to clone a task"
This will apply in two scenarios:

*Project tasks*
In the context of grouping various tasks into a project  #29  , we need to offer the ability to 'copy' or 'clone' an existing task. This means we create a new task and replicate all data elements of the root task but reset the assignees and comments thread.

The primary story here are things like shift schedules for "refugee Q&A sessions" which ar

[2016-03-14 08:29] dottorer opened #217 "spike: Personal calendar entry from task due date"
A user requested the ability to copy the due date of a task into the personal calendar, so it appears within all their other appointments and it not forgotten.

Couple of things to consider:
* is there a good standard (iCal?) to do this for all calendaring clients (gmail, outlook, etc.)
* how could this remain synced of the task date changes? Can it be re-exported?
* is this a ton of work or a gen

[2016-03-14 08:33] dottorer opened #218 "Weekly summary email instead of instant notifications"
Some users prefer a less immediate email contact and would like to receive a weekly bulletin of all their requests. This could be similar to the activity summary in slack.

This will require detailed design as to how we can present this information in an up to date and actionable fashion, but tracking the request here to hash out.

[2016-03-14 08:57] enricoag1982 commented on #217
Calendar sync sounds like a great functionality, you want to receive your notification on your phone, smartwatch or computer before you forget.
As far as I know you can achieve it in mainly 2 ways:
a. you offer to the user to "attach" her own calendar, and Lale goes to keep it updated and synched
b. once the user subscribe to a task, Lale send a confirmation email containing also a multi-format ca

[2016-03-14 17:46] dottorer opened #219 "Add organizer to workgroup is missing - in Safari 8.0.3 (works in firefox et al)"
Somehow the option to add an organizer for a work group has gone missing. We need to add it back asap and put to PROD as users are stuck at this point.

[2016-03-15 00:12] kristysnet commented on #219
@dottorer this should be restored in master branch now. let me know if you want me to push out to staging.

[2016-03-15 03:54] phil-monroe commented on #219
@dottorer: I cant seem to replicate this in any environment. I even "became" a prod user that seemed to have the issue and could not replicate. @kristysnet was thinking you meant the multiselect we had before private groups on the main settings page of a working group.

I can edit organizers by going to the organizers tab in the working group settings.

![screen shot 2016-03-14 at 8 20 19 pm](http

[2016-03-15 05:49] dottorer commented on #219
So we don't want the old multiselect back. But i did a skype with Tasha yesterday where i confirmed the issue and could not set her as a group organizer. I will try to replicate today again and provide more precise rep instructions, if still persisting.

[2016-03-15 08:06] dottorer opened #220 "Show env indicator for STG and DEV environments"
When debugging issues and testing stuff, it is sometimes useful to know which environment a screenshot was taken from and what release. Can we display a small indicator of env plus commit hash like 'STG -  a5d24a0' in the footer section.

This would not be shown in PROD.

[2016-03-15 10:02] phillipoertel opened #221 "Nit: use flash again when displaying login error"
As suggested by @phil-monroe, change the technical implementation to:

1) use render_to_string to render the login error message list into the flash
2) move/restyle the flash in the "public" layout to be in a more user friendly place

Adding this issue for myself so I don't forget to do it when I'm back on the project (March 28th).

[2016-03-15 11:06] dottorer commented on #29
@phillipoertel Updated specs in link above to reflect current design and required work. We can discuss on your next sprint if this level of detail is sufficient for the specification.

[2016-03-15 11:16] dottorer opened #222 "Track helper skills"
In order to better match a specific tasks to a potential helper to do it, we need to track the skills of a helper.

All details for this feature can be found in the detailed spec: https://docs.google.com/document/d/1RvlNCGsKoMA2YwTlagJVthuKjwj9_rlidzRs9Macwug/edit#

[2016-03-15 11:17] dottorer opened #223 "Track required skills for tasks"
Related to #222 we need to track required skills on the tasks.

All details for this feature can be found in the detailed spec: https://docs.google.com/document/d/1RvlNCGsKoMA2YwTlagJVthuKjwj9_rlidzRs9Macwug/edit#

[2016-03-15 16:38] dottorer commented on #205
Quick change for private work groups.

Also, while we are at it, can we show the closed groups in the leftnav, but make them non-clickable for non-members?

[2016-03-15 16:56] #204 closed

[2016-03-15 16:56] #199 closed

[2016-03-16 08:13] dottorer commented on #205
Updated title and description to reflect full scope of issue and not bury details in commentary.

[2016-03-16 08:28] dottorer opened #224 "Fixes for multi-circle-membership"
Our pilot users in France are members in more than one circle. We have not fully supported / tested this in mvp1 so there are a few minor things coming up to fix:

**1. Circle switching**
When logging in they should be taken only to their primary circle, but they need a way to switch between circles. I can see a simple way by offering this under the 'user menu' in the top nav bar as an option to s

[2016-03-16 08:29] dottorer commented on #224
@phil-monroe Is this a good an reliable way in your opinion to switch between circles? For now we suppressed the 'Find Circles' item in that user menu, but switching will be important for the French team.

[2016-03-16 08:50] dottorer opened #225 "Nit: Admin cannot open public profile for pending users"
![image](https://cloud.githubusercontent.com/assets/14217285/13806500/4ba4eac8-eb5c-11e5-955f-ac80bb782f3b.png)

In the list of pending join requests we show a link to the public profile, which does not yet work for the admin. Ideally we can make this work so the admin can review the details of the user.

[2016-03-16 08:53] dottorer commented on #219
@phil-monroe I debugged this with Tasha today. This is indeed a problem with Safari 8.0.3 that does not render the drop down list and add button to pick a workgroup organizer. We switched to firefox and it was all shown as expected.

Strange only that you tested this in Safari as well and it showed up....

[2016-03-16 09:05] dottorer opened #226 "Provide versioning for email templates"
As we enhance our email templates between releases, we need to solve the versioning problem. Templates in MailChimp are not versioned and we need to match the calling code version (for merge vars, etc.) with the right template for it to work.

This will also be an issue when we go between DEV, STG and PROD environments where different code levels would then have only one template level.

[2016-03-16 09:10] dottorer commented on #226
We right now have **en/task/task_invitation_v2** as an example on how to address this. We could include the version in the template name path such as **lang/ver/type/name** ("en/2/task/task_invitation").  Then the calling code could attempt to retrieve the latest template version or we have a manifest file that list template + version as a code item (e.g. "task_invitation = 2; task_reminder = 1").

[2016-03-16 09:21] dottorer commented on #201
Assigning to @kristysnet to take a look, should hopefully be small effort. Let me know if this is unclear in its specification.

[2016-03-16 09:25] dottorer commented on #53
Per dev chat 3/15 @phil-monroe will take a stab at this. Initially we will use the file storage for helper photos, but also then for attachments to tasks, supplies. We will open separate issues for each usage of files.

[2016-03-16 09:31] dottorer opened #227 "Helper photo in profile and helper icon"
once we have #53 completed, we need to enhance the helper profile page to allow for upload of a photo.

Photos need to be adhering to a minimum pixel size in width and heigth (min 180x180 seems standard), limited in file size (1 MB?), and cropped to fit into a round circle icon.

An example of this was done in the mockup by @stephanerangaya

![image](https://cloud.githubusercontent.com/assets/1421

[2016-03-16 09:37] dottorer commented on #227
Unclear as to how much work the whole cropping and centering of images is, hoping there are some standard libraries to help with that stuff (like [this](https://infinum.co/the-capsized-eight/articles/best-rails-image-uploader-paperclip-carrierwave-refile)).

[2016-03-17 10:30] dottorer commented on #211
@NolanChan Thanks for making your first contribution! I invited you as a contributor to the team and once you are in, please assign this issue to you so we can rightfully track your contributions!

[2016-03-17 10:31] dottorer commented on #220
Maybe something @NolanChan watns to look at? :-)

[2016-03-17 10:33] dottorer commented on #206
Looks like this has not been included in the work for the 'show latest 3 comments' but maybe we can do this quick restyling along in the same PR?

[2016-03-18 00:19] NolanChan commented on #225
Sorry @phillipoertel , didn't mean to take your Issue :\

[2016-03-18 02:53] kristysnet commented on #219
@dottorer can you send a screenshot of the missing elements? I'm not seeing anything obvious in the code and I have no way of pulling up the site in an older version of safari.

[2016-03-18 05:51] dottorer commented on #109
This could be a good ine for @nolanchan...

[2016-03-18 05:57] dottorer commented on #80
@nolanchan not sure how difficult this one is with a smooth ux appearance, just like they do in Slack or Skype or other chats...let me know what you think.

[2016-03-18 06:20] dottorer commented on #219
Dont think i have a screen shot fron Tasha but it is showing the 'No volunteers' message for the list but nothing under it. So the dropdown list of helpernames and the button are not appearing.

[2016-03-18 09:30] dottorer commented on #188
Translation done in branch, awaiting merge.

[2016-03-18 20:37] NolanChan opened #234 "Pending members should not be visible to anyone but circle admins"
Alongside #232 , we need to make sure pending members can be seen by the admins of the circle that they're applying to

[2016-03-18 20:40] NolanChan commented on #109
hi @dottorer , is there any way that I could get English screenshots? I'm a little confused on how the instructions line up with the pictures. Also, what's the difference between the 1. and 3.1?

[2016-03-19 16:30] dottorer commented on #109
@NolanChan Here you go:
![image](https://cloud.githubusercontent.com/assets/14217285/13899809/5e67daa6-edf7-11e5-93c4-c1b8f9c7d96a.png)

You are correct that (1) is part of 3.1. Today with supplies we only allow 1 helper to deliver it. However, in reality multiple helpers could drop of a donation. We do not need to specifcy a number of helpers required (like we do on tasks), but if we allow more t

[2016-03-20 08:22] dottorer opened #235 "Export to PDF of helper list for admins"
Administrators should have the ability to export the entire helper list into PDF or XLS. This is required for them to submit them to other groups (public offices) in some cases.

![image](https://cloud.githubusercontent.com/assets/14217285/13903477/1bbb777c-ee7d-11e5-8746-1a730f8db74a.png)

We should offer PDF and XLS export fro mthe helpr list page (see top right). Only for circle admins.

[2016-03-20 08:40] dottorer opened #236 "Improved circle dashboard"
While evolving the experience of dashboards and homepages is always an iterative approach, we have already heard some good feedback from users as to what could be done to improve the current layout.

Here is a mockup of a revised circle dashboard.

![image](https://cloud.githubusercontent.com/assets/14217285/15771293/ff12e56a-2969-11e6-8a14-a8214510ef31.png)

**New features:**

- add description t

[2016-03-20 08:41] dottorer commented on #236
Setting prio to low, since we can live with our v1.0 but it really makes a much better impression if the first page is clean and accessible.

[2016-03-21 13:58] dottorer commented on #188
Translation done, reassigning to Phillip for flash styling and then merge.

[2016-03-21 17:45] dottorer opened #238 "For lale.help website, find a way to redirect to German root page if user is German"
I tried this in several ways but no success so far. If someone has the magic script for the header of the site to detect user language and reroute to the http://lale.help/de/home page, it would be fantastic.

[2016-03-22 13:00] dottorer commented on #84
Applying the 'help wanted' label to see if anyone feels confident to design and implement the simple search capability. First step would be a design on how to do this best in ruby...

[2016-03-23 07:41] dottorer commented on #100
Putting this out in the pool for c4g participants to maybe look at (per 'help wanted' label).

[2016-03-23 07:42] dottorer commented on #170
This looks great now!

[2016-03-23 07:42] #170 closed

[2016-03-23 07:48] dottorer commented on #234
Hi @NolanChan  is this ready for @phil-monroe to review and merge? Thanks!

[2016-03-23 07:49] dottorer commented on #225
changing assignee to @NolanChan as he seemse to have addressed this in #232. Once reviewed and merge, we can close this out.

[2016-03-23 07:51] dottorer commented on #224
Assigning to @kristysnet to take a look at. This option should only appear for users that are members of more than 1 circle.

[2016-03-23 07:53] dottorer commented on #188
I believe this is completed, with some UX fixes in #221

[2016-03-23 07:53] #188 closed

[2016-03-23 07:54] dottorer commented on #205
Assigning to @kristysnet to take a look next. Should be small.

[2016-03-23 07:57] dottorer commented on #141
@kristysnet I think this is really part of #104 which you were already looking at. I recently completed a more complete specification document in that issue so we could review this together and discuss in which increments this can meaningfully be implement. If you have ideas, this could be a good one for us with @phil-monroe in our next dev huddle.

[2016-03-23 08:47] dottorer opened #239 "Improved partial for task (and supply) listings"
Based on user suggestions, across the system we should update the partial used for task list rendering in order to convey data more directly and intuitively.

Here is a design concept:
![image](https://cloud.githubusercontent.com/assets/14217285/13979945/fb294186-f0db-11e5-94cf-96235714ca4a.png)

Improvements over today:
* clearer date visibility, more of a sequential calendar view
* task state (n

[2016-03-23 08:48] dottorer commented on #239
This would be an improvement useful for sequential tasks in a series as in #29 .

[2016-03-23 08:49] dottorer commented on #239
Assigning to @phillipoertel to discuss in the context task projects.

[2016-03-23 13:30] dottorer commented on #224
Setting to prio 'high' since we encountered the bug where a used gets switched to the second circle as their primary once they join.
@phil-monroe is this what the code does right now or was it a glitch somehow?

[2016-03-23 16:36] dottorer opened #240 "Ability for an admin to block / unblock a user account in their circle."
Should abuse of the system in violation with the terms be detected by the administrator, they need to disable a user account in Lale which will prevent future login for such user.

This needs to be possible to also re-activate a user if the problem has been cleared.

[2016-03-24 05:34] phil-monroe commented on #53
Some notes after digging in a bit deeper:

Encryption is possible with S3, but I recommend keeping the encryption keys
http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingEncryption.html

I think I'm leaning towards using the Server-Side Encryption with Customer-Provided Encryption Keys option as that keeps access control done through the app and files cannot be lost if our AWS account gets hacked

[2016-03-24 05:49] dottorer commented on #53
Scanii looks slick and painfree to integrate, just a matter of cost and we can consider this benefit later. Thanks for finding it.

For encryption, SSL for in-transit and server-side wirh Lale keys for at rest is a good option, sounds like...

[2016-03-24 09:08] dottorer opened #241 "Map display of circle not translated"
![image](https://cloud.githubusercontent.com/assets/14217285/14012764/4b16e0be-f1a8-11e5-81a1-f27c0e897e3c.png)

Labels in the map display for a circle do not reflect user's language choice.

[2016-03-24 09:21] dottorer opened #242 "Issues with map display of circles"
The current map display of circles has the following issues:

1. Map does not show all existing circles as dots (although geolocation daat shoudl be there); this is across browsers.
2. Hover-over does not work properly for most dots.
3. Default zoom should be 100km of the location of the user's address; if no address there, it should be in the middle of Europe or Germany at least (not middle of oc

[2016-03-24 09:22] dottorer commented on #75
This is related to #241 and #242.

[2016-03-24 10:29] dottorer opened #243 "When sending change notifications, list actual changes of task"
User receiving a change notification email today have no way of identifying what has changed. It could have been a simple tipo fix, or a really impactful date change. We need to improve this as follows:

1. When saving a task, ask user 'Do you want to send out a change notification?' - If yes, send as today; if no, do not send email.
2. If we send a change email, we should parse out changed fields

[2016-03-24 11:09] dottorer commented on #225
Seems to be working now - thanks @NolanChan

[2016-03-24 11:11] dottorer commented on #211
This works fine now. However, at a later stage we might consolidate the error messages into one version where it is not giving you each error piece by piece but tells you the entire requirements (8char, 1 upper, 1 lower, 1 numeric). I can fix that in the error messages.

[2016-03-24 11:11] #211 closed

[2016-03-24 11:13] dottorer commented on #198
Seems to be working now - Thanks @kristysnet !

[2016-03-24 11:13] #198 closed

[2016-03-24 12:18] dottorer opened #244 "Nit: first task comment's "default text" is real comment in IE"
When opening a task in IE, the default text in the comments box 'What do you want to say is?' is not a grey default but looks like someone has typed it in:
![image](https://cloud.githubusercontent.com/assets/14217285/14016764/786cbb46-f1c2-11e5-9ad1-3c9909d6f983.png)

When hitting 'Post' it just writes it as a comment. Note the second comment does not have this problem:
![image](https://cloud.gith

[2016-03-24 20:29] #206 closed

[2016-03-24 20:29] #207 closed

[2016-03-24 20:29] #208 closed

[2016-03-24 20:47] dottorer commented on #207
Looks like the error text is bold. Could we make it red but not bold?

[2016-03-25 08:55] dottorer commented on #219
Setting Prio to low; don't want to be chasing browser ghosts unless the users report this in a clearly replicable way...putting on hold for now...

[2016-03-25 17:42] dottorer commented on #104
This now includes #141 which has been asked for by multiple pilot users...

[2016-03-25 17:43] dottorer commented on #141
Closing this as included in #104 to keep the issues clean.

[2016-03-26 06:56] dottorer commented on #216
Assigning to @phillipoertel as part of #29.

[2016-03-29 13:14] dottorer commented on #239
Assigning to @kristysnet to work on in parallel of @phillipoertel 's work on #29 so we can finish it in the next iteration by April 8th. We can discuss in our dev sync today.

[2016-03-29 13:37] dottorer opened #249 "List updated fields on task in comment history (Lale-bot) and also send out in task mailer as merge var"
We will leverage the existing "comments" functionality to also display status changes of tasks/supplies as outlined in #298. But when a user changes a specific value on a task, we need to have 'the Lale system' post comments about the exact changed fields in the existing comments thread as follows:

![image](https://cloud.githubusercontent.com/assets/14217285/14109623/2c2c2528-f5c3-11e5-83d7-b0bce

[2016-03-29 13:39] dottorer commented on #249
This should be similar to concepts in other systems, such as Trello for example:
![image](https://cloud.githubusercontent.com/assets/14217285/14109864/5cab2266-f5c4-11e5-90a7-14ee4a0f9395.png)

[2016-03-29 13:40] dottorer commented on #249
This will be also used by @phillipoertel  in #216 to display which task a new task was cloned from.

[2016-03-29 14:27] phillipoertel commented on #221
Closed with last commit (github doesn't auto-close issues on non-default branches).

[2016-03-29 14:27] #221 closed

[2016-03-29 14:40] #205 closed

[2016-03-29 14:41] #201 closed

[2016-03-29 14:55] dottorer opened #250 "Nit: Increase number of max required helpers per task to 10"
Per user request, the current limit of 10 helpers is too small. While we were trying to make a task a fairly small unit of work for better manageability, 5 seems to small a group either.

Let's up it to 10.

[2016-03-30 10:08] dottorer opened #253 "Add comment author to task comment email"
In the notification for new comments, we do not send out the comment's author today. This is critical info and should be added as a variable **TASK_COMMENTER**.

Looks like this can be done in the task mailer:

**from task_mailer.rb**
[code]

[2016-03-30 10:10] dottorer commented on #253
@kristysnet This should hopefully be a nit to include another variable in the merge_vars to get the author of the comment. If you can add this quickly, I can then modify the template to pick up the author.

[2016-03-30 15:11] phillipoertel commented on #87
Review app: https://lale-help-stg-pr-251.herokuapp.com

[2016-03-31 13:24] phillipoertel commented on #87
@dottorer I fixed the exploding date picker (caused by 2 different things), and added JS to handle the case "start date set to after due date". Since we didn't discuss what to do then, I kept the current behaviour, which moved the due date/time to be the same as start date/time.

Latest code is on the review app: https://lale-help-stg-pr-251.herokuapp.com

[2016-03-31 13:26] phillipoertel commented on #87
There is a (minor) JS glitch in some cases, but I'm stopping here for now until we've discussed the current state.

[2016-04-02 09:00] dottorer opened #257 "Edit working group shows error"
In STG right now i cannot edit and save any working group. It asks to correct an error but nothing is shown as incorrect.

![image](https://cloud.githubusercontent.com/assets/14217285/14225398/1260aedc-f8c2-11e5-847c-723a5b01c229.png)

[2016-04-02 09:02] dottorer commented on #257
@kristysnet , @phillipoertel we noticed that somehow we can no longer save a working group after making changes in STG. Can you take a look as to the cause? We badly need test coverage for these nits, so working on that with thet MUC team.

[2016-04-02 09:03] dottorer commented on #257
@diegoaad this is a perfect example of what we need to catch with spec testing!

[2016-04-04 11:19] dottorer opened #258 "Spec: Add Task"
Create Ruby test spec for "Add Task" as defined in:
https://docs.google.com/spreadsheets/d/1EKSlUwtFJV-1yHM3jx2-LKpE1TsOn43udqrJZodvmD4/edit#gid=0

[2016-04-04 11:21] dottorer opened #259 "Spec: Add Supply"
Create Ruby test spec for "Add Supply" as defined in:
https://docs.google.com/spreadsheets/d/1EKSlUwtFJV-1yHM3jx2-LKpE1TsOn43udqrJZodvmD4/edit#gid=0

[2016-04-04 11:29] dottorer opened #260 "Spec: Complete and re-open task"
Write spec to test completing and re-opening a task per:

https://docs.google.com/spreadsheets/d/1EKSlUwtFJV-1yHM3jx2-LKpE1TsOn43udqrJZodvmD4/edit#gid=0

[2016-04-04 11:34] dottorer opened #261 "Spec: Test invite buttons for task"
Test that the 'Invite' button on a task are fully functioning as defined here:

https://docs.google.com/spreadsheets/d/1EKSlUwtFJV-1yHM3jx2-LKpE1TsOn43udqrJZodvmD4/edit#gid=0

[2016-04-04 11:36] dottorer opened #262 "Spec: Test task / supply comments"
Test that comments function works correctly in both task and supply pages per:

https://docs.google.com/spreadsheets/d/1EKSlUwtFJV-1yHM3jx2-LKpE1TsOn43udqrJZodvmD4/edit#gid=0

[2016-04-04 11:38] dottorer opened #263 "Spec: Test invite buttons for supplies"
Test that the 'Invite' buttons on a supply are fully functioning as defined here:

https://docs.google.com/spreadsheets/d/1EKSlUwtFJV-1yHM3jx2-LKpE1TsOn43udqrJZodvmD4/edit#gid=0

[2016-04-04 11:42] dottorer opened #264 "Cannot re-open a supply"
We provided the complete and re-open functionality for tasks, but not for supplies. If someone erroneously completes a supply, they cannot re-open it. This needs to be possible as it is for tasks.

[2016-04-04 11:46] dottorer opened #265 "Overview of completed tasks should list also completed supplies"
This requires the following changes:

1. rename leftnav to 'Completed Items'
2. Change view page to be with tabbed layout (see use of that in 'administration' page)
3. Tab1 = "Completed tasks" and list what we see today
4. Tab2 = "Completed supplies"; list supplies marked complete
5. Tab 3 = "Completed projects"; will be added by @phillipoertel once view is complete.

[2016-04-04 11:47] dottorer commented on #265
@ajaysagar Hey Ajay, I thought this could be something you could tackle, if you want to...if not re-assign back to me.

[2016-04-04 11:52] dottorer opened #266 "Spec: Circle dashboard"
Test that correct tasks and supplies are shown on circle dashboard. Also ensure correct admins and leaders are shown.

Per: https://docs.google.com/spreadsheets/d/1EKSlUwtFJV-1yHM3jx2-LKpE1TsOn43udqrJZodvmD4/edit#gid=0

[2016-04-04 11:54] dottorer opened #267 "Spec: Working group dashboard"
Ensure correct tasks and supplies, organizers and members are shown for a workgroup. Also verify access to private groups only to members and organizer of that group as well as admins.

Per: https://docs.google.com/spreadsheets/d/1EKSlUwtFJV-1yHM3jx2-LKpE1TsOn43udqrJZodvmD4/edit#gid=0

[2016-04-04 11:57] dottorer opened #268 "Spec: My Tasks"
Ensure for a user the correct list of open tasks is shown. This is broken down by tasks assigned and tasks organized by the user.

Per: https://docs.google.com/spreadsheets/d/1EKSlUwtFJV-1yHM3jx2-LKpE1TsOn43udqrJZodvmD4/edit#gid=0

[2016-04-04 12:01] dottorer opened #269 "Spec: Helper list"
Ensure that the correct set of helpers is shown to the correct audience with the correct data values.

Defined in: https://docs.google.com/spreadsheets/d/1EKSlUwtFJV-1yHM3jx2-LKpE1TsOn43udqrJZodvmD4/edit#gid=0

[2016-04-04 12:02] dottorer opened #270 "Spec: Organizers lists"
Ensure correct set of organizers is shown with correct data:

Per: https://docs.google.com/spreadsheets/d/1EKSlUwtFJV-1yHM3jx2-LKpE1TsOn43udqrJZodvmD4/edit#gid=0

[2016-04-05 14:35] dottorer commented on #239
@kristysnet Awesome first cut at the new task list! We merged and integrated this in master together with @phillipoertel code for projects today and I tested it a bit.

Here are some small nits to address:

![image](https://cloud.githubusercontent.com/assets/14217285/14285505/1c8d39de-fb4c-11e5-92a9-ec061eb71178.png)

1. The task title should align on the top of the task date badge
2. The day-of-w

[2016-04-05 14:43] dottorer opened #273 "Strong warning before deleting working groups"
Right now, the administrator can delete existing working groups from the admin page. We have a simple 'are you sure?' warning in the browser. However, we also delete ALL included tasks and supplies (and soon also projects) included in this working group, we could be massive if the group was in use for a while. Given there is no redo, we need to change this to strong and detailed warning in the pag

[2016-04-05 16:12] #250 closed

[2016-04-05 16:12] #257 closed

[2016-04-06 11:12] dottorer commented on #239
@kristysnet Very nice. Few things:

1. For supplies, currently we only allow 1 assigned helper, but we display more than one on the listing:
![image](https://cloud.githubusercontent.com/assets/14217285/14314631/ab35d4f0-fbf8-11e5-8960-9734d22f04b1.png)
2. Supply badge in detail view does not show day of week yet:
![image](https://cloud.githubusercontent.com/assets/14217285/14314680/018de9b4-fbf9-1

[2016-04-06 11:36] dottorer opened #275 "Spec: Test email delivery"
We need to test that the Mandrill integration and email delivery always works. Therefore we should send an email to 'info@lale.help' using a template and some merge variables.

Per: https://docs.google.com/spreadsheets/d/1EKSlUwtFJV-1yHM3jx2-LKpE1TsOn43udqrJZodvmD4/edit#gid=0

[2016-04-07 13:14] dottorer commented on #264
Assigning to me to translate strings once merged into master...

[2016-04-08 11:36] dottorer opened #280 "Workgroup must have at least one organizer"
When we refactored the work group organizer from a drop down to the explicit 'add organizer' function, we lost the validation that a new workgroup needs at least 1 organizer and that we cannot delete the last organizer either. We need to fix that up again.

[2016-04-08 13:42] dottorer commented on #224
@kristysnet - this feature is totally cool! @phillipoertel and I merged it in and tested it, looks spot on. Even works with the Join approval flow we implemented, just as we hoped!

Point 1,2,3 and 5 are totally working. Point 4 needs looking at. And here are a couple of nits so far:
1. When we have full circle names in the drop down menu, there isn't a lot of space. Is it possible to adjust the w

[2016-04-08 15:36] dottorer opened #281 "'Invite circle' button available to non-admins"
It seems that possibly in the work on #205 we dropped a check to see if a user is actually entitled to see the 'invite circle' button. This used to be enforced, but now no longer is.

Ex: The user2@lale.help (Helmut Helfer) is not an admin or organizer but has the invite button visible.
![image](https://cloud.githubusercontent.com/assets/14217285/14388851/5e0e8370-fdb0-11e5-8f7f-f1da2ed4b2a5.png)

[2016-04-08 15:37] dottorer commented on #281
@kristysnet can you take a look and see which check we are now missing on the button?

[2016-04-08 15:39] dottorer commented on #280
@phil-monroe i don't think @phillipoertel can still take a look at this in his current sprint at Lale. Could you check this out and see what's missing? Possibly once clear Kristy could help out...

[2016-04-11 08:57] dottorer opened #286 "Projects feature - nit list"
Here are some items to be closed out for the projects feature before we can deploy it:

**1. Layout glitch in iOS**
![image](https://cloud.githubusercontent.com/assets/14217285/14421773/b091ab8e-ffd3-11e5-8b17-1326d0679c11.png)

**2. Copy task should copy old title and append "(copy)" / "(Kopie)" in text.**

**3. inside project, 'create task' button should**
3.1 display project name as read-only
3

[2016-04-11 10:37] dottorer commented on #239
Hi @kristysnet ... possibly last nit change for this sweet feature...

**1. task list item does not adjust width on iPad / iOS**
![image](https://cloud.githubusercontent.com/assets/14217285/14424412/2c06a104-ffe1-11e5-9e3f-35fc531f0b7e.png)

[2016-04-11 10:51] dottorer opened #287 "Add icons to dashboard title view for circle, workgroup and project"
We now have 3 main entities that have a dashboard overview. When navigating around it is easy to lose context which object type is being viewed right now. Therefore we should add an icon representation before the title.

**1. Circle**
Use https://useiconic.com/icons/target/
![image](https://cloud.githubusercontent.com/assets/14217285/14424884/d9cccec4-ffe3-11e5-9a12-84fde17e0d34.png)

**2. Workgro

[2016-04-11 12:17] dottorer commented on #253
Updated templates and tested. Closing.

Thanks!

[2016-04-11 12:17] #253 closed

[2016-04-11 12:20] dottorer commented on #253
@kristysnet @phil-monroe Just realized by pushing the latest template to Mandrill, it will also be used in PROD but we will not feed the variables there yet. So for now the variable will be unfilled and look ugly but work. We should target a date for the next PROD push to rectify this (and introduce proper versioning in the not so distant future).

[2016-04-11 17:12] NolanChan commented on #287
Do we need to purchase the icons on https://useiconic.com ?

[2016-04-11 19:00] dottorer commented on #287
We should stay free and open. The is OpenIconic which we should already have bundled in the repo...but any other suitable ickn would work as well, just needs tobe crisp abd scalable.

[2016-04-11 21:19] phillipoertel commented on #286
I was able to fix some things and deployed on staging. Status:

1. Fixed
2. Should have already worked, and worked for me locally on staging (for de and en). It should even append copy 2, 3, ... to copies of copies.
3.1 Todo
3.2 Todo
3.3 Fixed
4. Todo (actually implemented but needs debugging)
5. Fixed

Unfortunately I won't have time to look into the open points before Friday. All my code is on m

[2016-04-11 23:10] NolanChan commented on #287
Just to confirm the issue, currently none of the entities have picture representations in their main title (and so we need to add them); however when they show up in other subtitles, they have pictures?

<img width="1183" alt="screen shot 2016-04-11 at 4 10 05 pm" src="https://cloud.githubusercontent.com/assets/1487616/14445180/e07eb0fe-ffff-11e5-8804-7abb4882e3b2.png">

[2016-04-12 04:44] dottorer commented on #287
You got it. We are missing the iconic representation in the title of the 3 flavors of dashboard pages.

[2016-04-13 15:54] dottorer opened #288 "Consistency with update / cancel / delete"
We have various objects types in the system but not yet have a consistent way of performing actions against them. This confuses users and can be easily rectified.

**Working group**
![image](https://cloud.githubusercontent.com/assets/14217285/14499788/ebad259a-019f-11e6-934d-6c7dea626f50.png)
* Cancel should not be button, but link text.
* Correct not to offer Delete here as this is done only by A

[2016-04-13 15:56] dottorer commented on #288
@kristysnet Is this a quickfix for you or should we leave to open source contributors?

[2016-04-14 02:11] #281 closed

[2016-04-14 18:59] phil-monroe commented on #286
3.1 and 3.2 should now be fixed in staging

[2016-04-14 19:57] dottorer opened #289 "Add generic merge variable to task mailer"
We need to increase the generic merge variables in the task mailer to include:

1. TASK_URL
2. CIRCLE.NAME
3. TASK.ORGANIZER

Bonus would be to have the reply_to address be the email of the task.organizer

[2016-04-14 19:58] dottorer commented on #289
@phil-monroe Per our chat documenting the task mailer enhancements. Should be easy hopefully, we already have some of this in the project mailer.

[2016-04-15 16:35] NolanChan commented on #287
Got it, I'll work on it soon

[2016-04-16 05:05] dottorer opened #292 "Last nits for feature 'projects'"
- [x] 1. some labels on create and edit supply form not translatable: location, working group, organizer, project

- [x] 2. after saving a new task or supply, using the back button takes you back into edit mode, not into the project homepage.

- [x] 3. as in #286 listed, the 'copy task' button should be available on tasks that the user can normally edit. We should use the same logic.

- [x] 4. Cop

[2016-04-16 05:06] dottorer commented on #224
This works great now - awesome feature!

[2016-04-16 05:06] #224 closed

[2016-04-16 05:08] dottorer commented on #220
@NolanChan looking good! Only thing is we might style it a bit smaller, cursive and space it away from the existing Lale text. Right now it is kind of bunched into it...but great work!

[2016-04-16 05:10] dottorer commented on #264
Translation done. Feature complete. Thanks!

[2016-04-16 05:10] #264 closed

[2016-04-16 05:17] dottorer commented on #292
@phil-monroe Hi Phil, i am collecting last nits that i found during testing. Maybe we can straighten those before we push to Prod...thank you!

[2016-04-16 05:20] dottorer commented on #286
Closing and tracking fresh shortlist in #292

[2016-04-16 05:20] #286 closed

[2016-04-16 05:24] dottorer commented on #292
@phillipoertel FYI, listing last items here before releasing Projects.

[2016-04-16 18:40] NolanChan commented on #280
To my understanding, each working group starts off with 0 organizers. I assume that this validation would only go into affect when an organizer is added?

[2016-04-17 00:00] phil-monroe commented on #292
should be just the translations left @dottorer

[2016-04-17 05:33] dottorer commented on #292
Translations done and merged. Ready to bring in then?

[2016-04-17 13:07] dottorer commented on #292
All done and merged - looks good!

[2016-04-17 13:07] #292 closed

[2016-04-18 07:09] dottorer commented on #288
@kristysnet Looking good. Only nit is that the 'Cancel' link for the work group does not appear in the blue link style but as grey text. Can be done included in any of the next issues, if we think of it...Thanks!

[2016-04-18 07:09] #288 closed

[2016-04-18 19:23] dottorer opened #295 "When joining secondary circle, users is stuck in re-joining primary circle"
In STG, I had user9@lale.help who is admin in circle8 use the "Find Circle" and then join the circle2. The screen showed that there is a pending invite but not in the newly requested circle but the old one!

![image](https://cloud.githubusercontent.com/assets/14217285/14616614/6eab1682-05ab-11e6-8589-4d2da8146493.png)

Note: 'Klaus Schroeder' is admin in circle8 not circle 2.

Now the user9 is com

[2016-04-18 19:25] dottorer commented on #295
@phil-monroe @kristysnet It would be important to unstuck this user9 since he is admin in the circle I did a demo for tonight and that is keen on joining Lale asap. I need to send them the invite link for their testers soon and need to rectify this issue.

[2016-04-18 19:30] dottorer opened #296 "Create Task ignores selected work group"
When creating a new task, the work group selected is ignored and the first work group of the list is picked:

I creating the task, I selected work group 'Sprache und Bildung' but what got saved is 'Arbeit'

![image](https://cloud.githubusercontent.com/assets/14217285/14616973/af544f9a-05ac-11e6-9768-7e79d8809b07.png)

[2016-04-18 19:31] dottorer commented on #296
@phil-monroe This is a pretty critical bug especially since we now do no longer allow changing the work group after the fact. It means all new tasks are in the first work group alphabetically!

[2016-04-18 19:36] dottorer commented on #239
Looking very nice now! Thanks @kristysnet

[2016-04-18 19:36] #239 closed

[2016-04-18 19:39] dottorer commented on #216
Closing this one as works...nice one!

[2016-04-18 19:39] #216 closed

[2016-04-18 19:46] dottorer commented on #295
Here is the rub: 'Georg Friede' is admin in circle8:

![image](https://cloud.githubusercontent.com/assets/14217285/14617518/c976c298-05ae-11e6-891d-55970dda7bc8.png)
_(note that once someone is admin he can never not be admin per this screen)_

But that very some admin user is joining his own circle somehow causing this buggy situation:
![image](https://cloud.githubusercontent.com/assets/14217285/

[2016-04-18 20:54] phillipoertel commented on #217
IMHO it would be best if the user could subscribe a personal calendar, which is attached to his profile, not to a single task or workgroup. All events from his tasks would be in that calendar.

ics still is is the standard, and there should be a few libraries to easily generate that with Ruby (there were in 2008, when I first built such a thing).

It's important that the calendar is just another U

[2016-04-19 05:11] NolanChan commented on #296
The problem is here: https://github.com/lale-help/lale-help/blob/master/app/mutations/task/base_form.rb#L2

Currently trying to figure out how to actually assign the working group

[2016-04-19 08:17] dottorer opened #297 "Project stats in project dashboard"
Completing the feature from #29, we need to add project stats to the dash board 'info' tab as follows:

![image](https://cloud.githubusercontent.com/assets/14217285/14632190/a641559a-0617-11e6-8c80-22d6e2712041.png)

This should show quickly how many tasks and supplies are still to be sourced and how many helpers we still need.

A. Tasks = all tasks included in the project, broken down by status
B

[2016-04-19 08:19] dottorer commented on #297
For completion during the next stint...let me know if you have any questions on the data sources or design.

[2016-04-19 08:32] dottorer opened #298 "Lale-bot to insert comments on task status changes"
It is important to see how tasks and supplies change status over time. After some design discussions, we decided to introduce the 'Lale-bot'. With this function, we will insert comments into the comment thread which looks like this:

![image](https://cloud.githubusercontent.com/assets/14217285/14632472/2c358fee-0619-11e6-8d56-f9551d3fe5c8.png)

We will use this for the following changes with the f

[2016-04-19 08:34] dottorer commented on #298
We will need a nice function that handles the comment inserts and a clean way of adding these text / variable blocks, including full i18n of text and dates.

[2016-04-19 10:08] dottorer commented on #296
@NolanChan great work finding the mistaken line - way to help us out! Looks like the .first would do it. This bug was introduced in a recent code change so we should be able to find it quickly and ensure that we save what is being selected in the form. @phillipoertel is trying to look into it soon as well.

[2016-04-19 11:19] dottorer commented on #234
Merged, closing.

[2016-04-19 11:19] #234 closed

[2016-04-19 11:20] dottorer commented on #220
Closing for now, better styling can be applied as we go....

[2016-04-19 11:20] dottorer commented on #219
Closing as 'Could not reproduce'...

[2016-04-19 11:20] #219 closed

[2016-04-19 11:24] dottorer commented on #217
This is exactly what I was hoping for. Instead of one-off fire-and-forget ICS downloads, we should try to spit out a helpers entire current calendar with everything they signed up for. Then they can do as you outline and add that to their cal or email client app and we're done. I hope there is a good GEM to generate this and we only need to write some code to collect the current tasks for a helper

[2016-04-19 11:36] dottorer opened #299 "spike: Include discussion forum in Lale"
In several discussions with our user groups, they noted that they have the need for some form of Infoboard, discussion board or forum to organize content about refugee aid. This is today done in a locally hosted wiki or forum of sorts, but with Lale, it would be seen as another bolt-on system that requires yet another user auth. They would like to have this included into Lale natively. This could

[2016-04-19 11:36] dottorer commented on #299
@phil-monroe @phillipoertel Interested in your views on how this well understood feature would best be added to Lale.

[2016-04-19 11:47] dottorer commented on #299
Forem in use: https://www.lab-nation.com/forum/

Forem setup: http://www.sitepoint.com/forem-rails-forum-engine/

[2016-04-19 16:20] kristysnet commented on #295
@dottorer I looked into this bug this morning. I put in a fix that will ensure this won't happen again (i.e.: only allowing users to join a circle once). I'm still trying to track down how the circle mis-hap happened in the first place and can't duplicate it... Do you know what browser they were using?

Also, I'm trying to "unstick" the user you mentioned on staging. As far as I can tell (and @phi

[2016-04-19 17:33] dottorer commented on #295
It happened in chrome. I did unstuck the user myself today during testing. Join approval is per circle.

The home curcle was Asyl TK, the new circle Haidhausen.

Thanks a million for fixing it.

[2016-04-19 21:21] phillipoertel commented on #296
@dottorer I just pushed a bugfix to master. From a brief check it worked correctly on adding new tasks from within and outside of a project. Please review and merge yourself if you are satisfied.

It's quick and hackish and only adds more complexity to the current task and supply create and update code, though. That code would really be easier to maintain/develop after some refactoring/simplificat

[2016-04-19 21:23] phillipoertel commented on #296
I added quite a lot of complexity myself btw., with the projects and date picker features.

[2016-04-20 05:08] NolanChan commented on #296
Haha I was looking all night but I couldn't really understand where the problem was coming from. It seemed that though the `outcome` had the right `working_group`, it would just auto-magically revert back to the first available working group.

[2016-04-20 06:11] phillipoertel commented on #296
@dottorer please ignore the part about merging in my comment above ...

[2016-04-20 10:07] Matthias-Lale commented on #297
Bei Helfer könnte man auch eine Dreier Teilung machen : "urgent needed", "needed" and "asigned"

Alle Stati sollten mit Link versehen sein, so dass man auf die entsprechende Overview kommt.

Viele Grüße

Matze

Viele Grüße

Matthias Walz

[2016-04-20 10:25] dottorer opened #302 "Ability to de-activate work group"
We need to provide the ability to deactivate a work group. This should be done from the admin / work groups tab.

- We need to have 2 listing of work groups
 - Active work groups: as is, but shows button 'Edit' / 'Deactivate'
 - Inactive work groups: shows list of inactive WGs, shows buttons 'Reactivate' / 'Delete'

![image](https://cloud.githubusercontent.com/assets/14217285/14671419/05bb04f0-06f

[2016-04-20 11:21] dottorer commented on #289
Per user request, some more info in the basic task emails would be very helpful. Hopefully this is a quick fix so i can 'upgrade' the templates...sending to  @kristysnet to take a look.

[2016-04-20 11:23] dottorer commented on #296
@phillipoertel Hackish fix seems to work in STG, ready to push to PROD then. As for the refactor,  this sounds like a core area to get right and robust, so could you open an issue outlined the work and giving a rough effort estimate? Thanks!

[2016-04-20 11:23] #296 closed

[2016-04-20 11:24] dottorer commented on #87
This looks good at the current stage and we can open new issues for any further work. Thanks!

[2016-04-20 11:24] #87 closed

[2016-04-20 11:25] dottorer commented on #29
Closing as we track all other items in #297 .

[2016-04-20 11:25] #29 closed

[2016-04-20 11:26] dottorer commented on #302
Adding for Phillip as next sprint work candidate.

[2016-04-20 11:31] dottorer commented on #223
Adding for Phillip as candidate for next sprint...

[2016-04-20 11:31] dottorer commented on #298
adding as candidate for @kristysnet to look at.

[2016-04-21 02:07] phil-monroe commented on #296
Hey gang, thanks for working on this and sorry for the radio silence over the past couple of days. I made a couple changes that should hopefully put this to bed in a non-hackish way for both tasks and supplies.

[2016-04-21 05:13] dottorer commented on #280
@NolanChan Discussed with @phil-monroe and we said that we should make the creator of the work group its first organiser upon creation. Then we need to validate that they cannot delete the last organizer row. Makes sense?

[2016-04-21 05:16] dottorer commented on #295
@kristysnet Did you see my comment in the PR? If this is sorted, i can close this issue...thanks!

[2016-04-21 05:17] dottorer commented on #265
Hey @ajaysagar , is this still a good one for you to tackle? Thanks!

[2016-04-21 06:03] kristysnet commented on #295
@dottorer yes, sorry for the delay. I'm still trying to reproduce the issue of the join button joining the wrong circle... I'll let you know if I find anything. However, I went ahead and deleted my pull request, as I no longer think that's a solution to the bug. After looking at the code more closely, I think the main issue is that the user status is not per circle (as I think you intended for it

[2016-04-21 06:22] NolanChan commented on #220
Oh, I don't mind getting to this, this weekend. Should I submit the PR under this issue?

[2016-04-21 06:24] NolanChan commented on #280
Just to clarify the last part "we need to validate that they cannot delete the last organizer row" you mean that every work group must have *at least 1* organizer?

[2016-04-21 06:34] dottorer commented on #280
Exactly!

[2016-04-21 06:44] dottorer commented on #295
@kristysnet That's exactly what must have happened! The user actually joined the second circle, but since it required approval, he was marked pending as his overall state. Then when logging into his first main circle, he appeared pending there!

So if approval status is not on a per circle basis, we need to refactor to that and I need to talk to @phillipoertel on what that would entail. But this m

[2016-04-21 06:45] dottorer commented on #220
@NolanChan Sure, i reopened the issue for now and you can add a new PR for the stylings. Thanks!

[2016-04-21 07:29] phillipoertel commented on #295
@kristysnet yes, the pending status is currently on the user, where it should be on the Circle::Role. I had realized this after a day of working on the feature, but we decided we'd leave it as is, since multi-circle memberships didn't seem very likely at the time.

[2016-04-25 15:15] kristysnet commented on #295
@dottorer and @phillipoertel is this refactor something you would like me to take care of? I have time this week if needed

[2016-04-27 22:08] #289 closed

[2016-04-30 17:06] dottorer commented on #80
Hi @kristysnet this was suitably reported by pilot users today. I was thinking if you are looking at the Lale Bot inserting comments, maybe this is something to consider as well.

UX wise, the edit and delete option would appear on hover over on of of your own comments.

![image](https://cloud.githubusercontent.com/assets/14217285/14937375/e2e9eae2-0f05-11e6-9844-393e2071251c.png)

We already reve

[2016-04-30 17:29] dottorer commented on #295
@kristysnet I think this is something we need to straighten out before we can let folks sue the multi-circle style which is powerful. If you feel like the direction to make the status by circle is clear, then we should proceed.

Also note that we look at de-activating / blocking users in #42 which will be by circle as well. So this status model will be by circle and have several states (pending, a

[2016-05-01 17:14] dottorer commented on #83
Hi @kristysnet Something to look at. I think this is similar in function to the file attachment, but just as a URL pointing to another site.

The Links should be named (like the files) and open in a separate window.

To add this information in the edit page of the task, we need to go to a tabbed edit (like we do on circle):
![image](https://cloud.githubusercontent.com/assets/14217285/14943065/a01a

[2016-05-01 17:14] dottorer commented on #83
@phil-monroe What do you think about this solution? I see links as parallel to docs in function and was trying to get them in a unified representation in the UX for edit and view. Maybe you can work together with Kristy to get it built out for the task for docs and then adding in links...thoughts?

[2016-05-01 17:28] dottorer commented on #298
[Stellenbeschreibung Marisol.pdf](https://github.com/lale-help/lale-help/files/244237/Stellenbeschreibung.Marisol.pdf)

[2016-05-01 17:37] dottorer commented on #53
@phil-monroe Tested the files a bit today. Really nice work!

Here is some feedback on the points we talked about:

* And I was curious what the public / private on the document does? Does it restrict access to the owner of the link only?
* Showing the circle docs in a box on the right is a good start but I think it will grow quickly from there into some from of a document repository. We might con

[2016-05-01 17:46] dottorer opened #307 "Add documents to tasks"
As specified and designed in #83, we need to add the file object to the tasks in the system. The work to add a tabbed edit and an augmented task view page can be done either in this issue or along side the external links from #83.

[2016-05-01 18:26] dottorer commented on #240
The UX for blocking a user can be from the user's public profile:
![image](https://cloud.githubusercontent.com/assets/14217285/14943456/3964618e-0fda-11e6-81fa-26c3ddd65b4c.png)
* the 'Block' button is only available to admins.
* if a user is pending activation, it could be done from here as well by the admin (not top prio but nice)
* we should allow admins to put comments on a user. Only other ad

[2016-05-02 08:48] dottorer commented on #295
Assigning from @kristysnet over to @phillipoertel since he will be working on #240 which requires the user state to be on a per circle level. Best to let him do the refactoring in one go...

[2016-05-02 10:22] dottorer commented on #42
@phillipoertel Adding to our list as items for this sprint. Maybe we can do this as we work on the user state model. Let's discuss, size and prioritize

[2016-05-02 10:33] dottorer opened #308 "On task, time commit and number of helper is not saved properly and not copied either"
Reported by users, the fields time commit and number of required helpers not working properly. They are not copied when cloning a task but also do not seem to be saved correctly either.

[2016-05-02 10:39] phillipoertel commented on #308
Was a one-line fix -- fixed and deployed to production.

[2016-05-02 10:53] dottorer commented on #308
Nice! Thanks!

[2016-05-02 10:53] #308 closed

[2016-05-03 05:31] dottorer commented on #287
@phillipoertel added new icons into the lale font yesterday which we can use for all the above cases:

![image](https://cloud.githubusercontent.com/assets/14217285/14975334/f58b2a10-1100-11e6-89f3-d1cbf8b2871f.png)

![image](https://cloud.githubusercontent.com/assets/14217285/14975351/13ee04fa-1101-11e6-8c5a-40a7ee6ad0a0.png)

[2016-05-03 08:12] phillipoertel commented on #297
@dottorer I'm done IMHO; also added the correct icon for supplies and fixed the urgent tasks count. Please review on staging.

I also updated these icons:
- "Help provided" and "Circles" on the member profile page
- location everywhere
- project on the task/supply page

[2016-05-03 08:38] dottorer commented on #297
Looks great!

[2016-05-03 08:38] #297 closed

[2016-05-03 10:25] dottorer opened #309 "Lale-bot to insert comments on user status changes"
Similar to #298, we also need to track the changes made to a user by Lale-bot comments. This will be shown to admins only as comment in the helper profile page as outlined in #240.

We will use this for the following changes with the following text:

User activated: "xxxxx actived on DATETIME by yyyy." (xx = user requesting signup, yy = admin that did the approval).
User blocked: "xxxxx blocked on

[2016-05-03 12:58] dottorer opened #310 "Problems with location and address object"
We have encounter an issue around how addresses and locations hang together right now. This causes issues in production and should be fixed asap.

Reproduction:
1. When editing a circle address, the existing linked location instance is not updated, but a new location object is created. The old one is no obsolete.

We seem to be doing a lookup on geocode query string in order to retrieve existing l

[2016-05-03 12:59] dottorer commented on #310
@phil-monroe There is some weird stuff going on with geocode queries around locations for addresses. Can you take a look and see if we can resolve this? It will lead to crappy data in PROD right away with new users coming in...

[2016-05-04 17:06] phillipoertel commented on #295
@kristysnet @dottorer Being member of multiple circles now works even when one membership is active, the other still pending.
I'll do some more testing on Friday (tomorrow is a public holiday) since the changes were quite complex and test coverage is incomplete, then deploy to staging during the day.

[2016-05-05 06:39] dottorer opened #312 "Swap WorkSans font for Lato font"
Right now, we are using https://www.google.com/fonts/specimen/Work+Sans in the app. I would like to try out the nicer https://www.google.com/fonts/specimen/Lato.

Hoping this is a quick switch with minor CSS changes...

[2016-05-05 06:43] dottorer commented on #312
@kristysnet @phil-monroe Is this something we can try on easily in "_fonts.scss" to see how it comes out? If it is super invasive, probably not worth it, but if clean then it would be nice. If you point us to the way to do this, I can experiment here with Phillip to see how it comes out.

[2016-05-06 08:20] dottorer opened #314 "Merge Var for TASK_ORGANIZER not populated"
It seems that there is no value in the merge var for TASK_ORGANIZER:

![image](https://cloud.githubusercontent.com/assets/14217285/15067905/f41fdbba-1373-11e6-9b08-82c36cde5db1.png)

Although in the task mailer this is set:

`
 def merge_vars(user, task)
    task = ::TaskPresenter.new(task)
    {
      "FIRST_NAME"            => user.first_name,
      "TASK_TITLE"            => task.name,
      "T

[2016-05-06 08:33] dottorer commented on #298
@kristysnet Hi Kristy, first cut at this is looking awesome! Here a few nits to round it out:

![image](https://cloud.githubusercontent.com/assets/14217285/15068004/a32f5216-1374-11e6-9ae1-cc58149f69b0.png)

1. Lale-bot should have the default user picture of our Logo in grey:
![laleiconreversed60](https://cloud.githubusercontent.com/assets/14217285/15068034/cfb221ba-1374-11e6-9125-186339a644c4.pn

[2016-05-06 09:41] dottorer opened #315 "Allow placing tasks in and out of projects inside a working group"
Right now we prevent changing of the project name of a task after creation. This is not correct in the context of a working group. Tasks should be able to be placed in a project which is part of the same working group.

[2016-05-06 10:07] phillipoertel commented on #314
I can't reproduce this error. Both when testing locally (with Mandrill templates enabled, see attachment) and in the Rails console in staging the organizer name is correctly inserted.

I can't find exactly this task on staging though, only two tasks named "Lotsendienst organisieren" (without the - Kopie" suffix). Did you delete or rename it? Do you have an id/link for me?

Maybe the issue was with

[2016-05-06 12:14] phillipoertel commented on #240
Further info:
- when an admin deactivates a user, the status will be :blocked
- when a user disables his account, it will be :disabled (a user can disable circles on his profile)
- when a user is blocked but the blocked circle is still in session[:circle_id]. In that case redirect to the user's next circle if there is one

[2016-05-06 15:25] phillipoertel commented on #295
There's now a review app for testing this: https://lale-help-stg-pr-316.herokuapp.com.
Login with admin@lale.help / Example1234. These credentials will work for all future review apps, btw.

[2016-05-06 15:34] phillipoertel commented on #295
@dottorer when testing, please be aware the following issue: after joining a new circle, you'll be redirected to the previous circle; but you can switch to the new circle through the user menu.
This is due to the current circle being stored in the session. I'm not sure what is affected when I remove the circle id from the session, so I'm waiting for @phil-monroe for feedback.

[2016-05-06 17:37] phillipoertel commented on #240
@dottorer FYI I just deployed my WIP. For simplicity, it's in the same staging app as the user pending/activate refactoring: https://lale-help-stg-pr-316.herokuapp.com
There are still some things missing, don't bother testing yet if you don't like to.

[2016-05-06 17:54] kristysnet commented on #298
@dottorer sounds good, i'll get those changes in soon. Also, I forgot to mention that this was merged into master but needs some translations:
tasks.auto_comment.user_assigned
tasks.auto_comment.copied
tasks.auto_comment.completed
tasks.auto_comment.user_unassigned
tasks.auto_comment.reopened
tasks.auto_comment.invited

[2016-05-07 10:27] dottorer commented on #298
Actually the DE trans is in akready, adding FR on Monday...

[2016-05-07 10:29] dottorer commented on #309
@kristysnet Thus one would require the comments function to be added to rhe user profile page visible gor admins only. I will add a new issue for that and link them.

[2016-05-07 10:32] dottorer opened #317 "Add comments function to user profile"
Admins often want to track comment about helpers. We need to offer the comment function on a user per circle. Only admin can add or see comments. We can also show the Lale bot comments from #309 there.

[2016-05-07 10:36] dottorer commented on #317
@kristysnet @phil-monroe Guys this will likely require some larger refactoring from Taskable over to its own more broadly used Commentable or something. Can you take a look and see what this would entail? Is it massive work or doable?

[2016-05-08 00:03] NolanChan commented on #260
Seems basic enough, I'll try this out 👍

[2016-05-08 00:44] NolanChan commented on #260
Actually this is almost finished in
https://github.com/lale-help/lale-help/blob/master/spec/controllers/circle/tasks_controller_spec.rb

Need to test re-opening

[2016-05-08 18:06] dottorer commented on #260
Nice! Good start into the specs!! Thank you!

[2016-05-09 10:45] dottorer commented on #223
Doing this in the next sprint...

[2016-05-10 09:30] dottorer commented on #53
@phil-monroe nice work on documents. Few thoughts:

- with the new 'Documents' in the leftnav (aka the doc center), we dont need it in the circle admin pages anymore. Admin can add / edit files in the doc center direclty. Docs added here will be on the circle scope. Normal helper can only view docs here.
- all docs (files or links) should open in a separate tab. The default browser action per doct

[2016-05-10 09:36] phillipoertel commented on #317
@kristysnet @dottorer I merged the PR, but the task_id and task_type fields should be removed after this feature was deployed to production successfully, as they will then be unused (and confusing to future maintainers of lale).

[2016-05-11 07:46] dottorer commented on #317
Looking great

[2016-05-11 07:46] #317 closed

[2016-05-11 07:48] dottorer commented on #225
I rhink this is fixed now...

[2016-05-11 07:48] #225 closed

[2016-05-11 08:11] dottorer commented on #220
Completed

[2016-05-11 08:11] #220 closed

[2016-05-11 08:16] dottorer commented on #42
@phillipoertel i think we can only allow users toreally delete their account (for all circles). Admins can block and the finally deactivate users for their circle only.

[2016-05-11 12:11] phillipoertel commented on #315
@dottorer implemented and testable on staging.

[2016-05-11 12:40] phillipoertel commented on #295
@dottorer delivered on the review app https://lale-help-stg-pr-316.herokuapp.com. Login into any review app with admin@lale.help / Example1234.

[2016-05-11 13:01] dottorer commented on #315
Lgtm - thanks

[2016-05-11 13:01] #315 closed

[2016-05-11 14:41] phillipoertel commented on #298
@dottorer bot comments are currently saved to the db in the circle language, so they can't be shown in different languages. Would this be important?

[2016-05-11 14:51] dottorer commented on #298
@phillipoertel Thats correct, Lalebot ever only speaks circle language.

[2016-05-11 17:32] phillipoertel commented on #298
@dottorer times on the comments are currently two hours off in Germany, because they are stored in UTC in the DB and we haven't set a time zone on the Rails app.

Would you like to change that? I see two options:
1. set time zone to Europe/Berlin. That way they would be correct in most of Europe, but wrong everywhere else
2. render the times client side, getting the correct time zone from the brow

[2016-05-11 18:10] phillipoertel commented on #249
The mailer merge variable is TASK_CHANGES. It contains a string with the changed field(s) localized to the recipient's language. Examples: "Name und Beschreibung", "name and description".

Implemented (lale bot comment and mail merge var) and deployed to staging.

[2016-05-11 18:17] phillipoertel commented on #249
@dottorer should I do the auto comments for supplies as well? So far, all lale bot comments are only implemented for tasks.

[2016-05-11 20:13] dottorer commented on #249
If not too much effort, would be good to get it consistent. How much effort would it be?